[2021-12-15 02:07] #172 closed

[2021-12-15 11:52] bobular opened #780 "Studies with HTML tags, such as italicised species, are not filtering properly in the "My analyses" list"
For example
Study **SCORE Seasonal Transmission S. haematobium Cluster Randomized Trial**

Make a new analysis - name it or change a filter or something so it saves - then click "My analyses"
![image](https://user-images.githubusercontent.com/308639/146181609-1951f250-3d18-4e09-9f3f-b9314a02da1b.png)

The list will be empty, but it shouldn't be!

[2021-12-15 19:02] asizemore commented on #768
Update: @eikonomega finished the new study card component, and next i'll work on getting the new cards into the eda. I'll go ahead and assign myself but don't expect to get to work on it until next week.

[2021-12-15 20:18] chowington commented on #365
I was also unable to reproduce the specific case mentioned, and I tried to introduce bugs to cause an Oops due to the thumbnail on the visualizations summary tab, but couldn't. It looks like bugs that happen in the thumbnail creation logic would occur in the expanded visualization screen, not the visualizations summary screen. Does this sound correct @jtlong3rd?

Also @jtlong3rd or @dmfalke, is th

[2021-12-15 21:01] jtlong3rd commented on #365
Exactly right - thumbnail creation is triggered by the `useUpdateThumbnailEffect` hook, which is only invoked in the various "expanded visualization" components.

[2021-12-16 05:05] dmfalke commented on #365
I think it would be a good idea to add one to each `Route` component in https://github.com/VEuPathDB/web-eda/blob/main/src/lib/workspace/AnalysisPanel.tsx. This would allow users to switch to other analysis tabs. There may be other places that make sense, both above and below in the component hierarchy.

[2021-12-16 14:55] nkittur-uga commented on #172
Tested in GEMS1 -> Bar plot of "Study timepoint" with "age group" as overlay. When I switch off an age group in legend and minimize the plot, when I open it again, the state persists (that age group is still off). Passes QA.

[2021-12-16 15:22] moontrip commented on #172
@nkittur-uga thank you for your tests! 👍

[2021-12-16 19:59] aaronwlsong commented on #676
Looks good now, closing ticket.
_____________________________________________________________________________________________
The case 1 :  "No data" facet
![image](https://user-images.githubusercontent.com/61077845/146431992-3a501891-2979-4fd4-85ef-efe500518db4.png)
The case 2. "No data" item in overlay variable
![image](https://user-images.githubusercontent.com/61077845/146432336-d1bfe12e-0643-4

[2021-12-17 13:52] d-callan opened #817 "Visualizations: Gray legend when no data for a value is confusing"
in making a gems1 barplot of 'dry mouth' overlayed by 'case vs control' filtered to only african countries, i realized that when we dont have any data for an overlay value the legend is completely grayed for that value. ex:
![image](https://user-images.githubusercontent.com/53306535/146554290-26100b00-0926-4bca-be29-93f51b9ee87c.png)
i think it would be better to show the proper color for the over

[2021-12-17 15:19] SheenaTomko commented on #653
This looks great. Now, whether I'm trying to name it from the open analysis or the analysis page, I can't type >50 characters. Much more obvious UX

[2021-12-17 17:07] sweverschulman commented on #657
@dmfalke @eikonomega is this feature currently available for qa on qa.restricted site?

[2021-12-17 18:12] sweverschulman commented on #657
pausing qa until the backend infrastructure is ready for qa on the qa sites

[2021-12-17 21:15] chowington commented on #544
@dmfalke Is this still an issue? It appears to me that the variable tree and the featured variables are using the same ordering. This is both from eye tests on multiple studies and from looking at the code. In the code, I believe the variable tree and the featured variables both derive their order from the ordering that `getStudyMetadata` is doing here: https://github.com/VEuPathDB/web-eda/blob/c0

[2021-12-17 22:20] chowington commented on #654
This is still happening as of today. @bobular Do you see this as a frontend or backend problem?

[2021-12-20 13:20] bobular opened #784 "Map visualization: thumbnails"
There seem to be leaflet plugins to do this, see for example https://github.com/grinat/leaflet-simple-map-screenshoter (first one I found while doing a quick search - I do not necessarily recommend it!)

[2021-12-20 17:03] chowington commented on #544
@jtlong3rd See my comment above, thanks!

[2021-12-22 16:37] bobular opened #787 "More back end requests (`distribution` and `users/.../analyses`) need debouncing to pre-empt performance problems/back end stability with heavy use"
While testing that the `count` requests are being properly debounced when a user clicks on lots of categorical filter checkboxes, I noticed a bottleneck with other requests, namely `distribution` and `/eda-user-service/users/nnnn/analyses/xxxxx`

The problem is so bad that if you click about 10-20 times in filter checkboxes, you can wait a minute or more before all requests are processed.

[2021-12-22 18:17] #365 closed

[2021-12-22 19:26] #761 closed

[2022-01-05 18:45] eikonomega commented on #758
Plan of Attack (after conversation with Dave)
- For the start, we will assume that the user has the necessary data access permissions and login requirements. We'll come back to that at the end.
- We don't current know what should belong to the "README" or "Ontology Metadata" download buttons.
- We can't do anything with "Entire dataset" at the moment - waiting for backend development.
- Derived va

[2022-01-05 19:05] dmfalke commented on #758
@danicahelb could you provide some details on where to find the **README** and **Ontology Metadata** files? If these are offered on the production website and you point me to which pages they are offered on, I can probably figure out the rest. Thanks!

[2022-01-05 21:03] #765 closed

[2022-01-06 22:16] SheenaTomko opened #810 "Scalability / Performance: Implement message on visualization tools for studies with large amounts of data"
Making visualizations for studies like UMSP with millions of rows of data can still take ~30 sec once parameters have been selected. Since this is enough time for people to wonder if something has gone wrong, we want to add a message that says something like "This visualization may take up to 1 minute to appear due to the large amount of data being used."

Steve noted that we may not be able to in

[2022-01-10 21:06] sweverschulman commented on #657
Current changes/action items

1.
![image](https://user-images.githubusercontent.com/62298921/148836327-f4bb48bb-eb8a-46b1-afe6-5dee50fc87d8.png)
[ ] Change the upper right hand corner button to 'share analysis' and if there is no share functionality remove/hide button

2.
![image (1)](https://user-images.githubusercontent.com/62298921/148838895-04eb28fa-a763-4f53-837c-f02e79fe9b6d.png)
 [ ] grey o

[2022-01-10 21:12] sweverschulman opened #816 "Add login functionality to Make analysis public pop up"
Allow for user to click on and log into clinEpi from the 'Make analysis public" pop up warning

[2022-01-10 22:21] eikonomega commented on #758
Currently awaiting feedback from working group. Meeting to be held later this week.

[2022-01-12 16:45] bobular commented on #544
@danicahelb to do QA on this issue

[2022-01-12 18:46] SAK22 opened #815 "Subsetting tab: Long original variable name problem"
The show more/show less button seems to have disappeared from variables in the Kalifabougou Malaria Cohort.
See screenshots below.
<img width="1275" alt="Screenshot 2022-01-12 at 18 33 52" src="https://user-images.githubusercontent.com/22981342/149202581-7983c66a-2a9f-4f44-8dc7-fc5d069db94c.png">
<img width="1263" alt="Screenshot 2022-01-12 at 18 35 45" src="https://user-images.githubusercontent.c

[2022-01-12 23:12] danicahelb commented on #544
This still seems to be an issue:

![image](https://user-images.githubusercontent.com/25450900/149237815-c2dbe939-c371-40b2-b346-3ad73c7d742a.png)

[2022-01-12 23:22] danicahelb commented on #544
Also an issue in PRISM ICEMR Cohort:

![image](https://user-images.githubusercontent.com/25450900/149238774-2c97012c-a791-4cfb-b69e-2c353399c190.png)

[2022-01-12 23:23] danicahelb commented on #544
And PRISM2 ICEMR Cohort

![image](https://user-images.githubusercontent.com/25450900/149238862-49478977-bbbe-454c-a9ab-147115ee01b7.png)

[2022-01-12 23:26] danicahelb commented on #544
And SCORE Burundi Mapping Cross sectional

![image](https://user-images.githubusercontent.com/25450900/149239141-7ff238ba-b897-479d-a730-ca1f2919572d.png)

[2022-01-12 23:28] danicahelb commented on #544
And SCOORE Rwanda Mapping CX

![image](https://user-images.githubusercontent.com/25450900/149239292-1fb66445-d29b-4ab2-9119-7cdd9433a7be.png)

[2022-01-12 23:29] danicahelb commented on #544
And SCORE Zanzibar S. haematobium Cluster Randomized Trial

![image](https://user-images.githubusercontent.com/25450900/149239442-8f866a67-a710-4b11-83d1-a1f4ab4d6d93.png)

[2022-01-12 23:33] danicahelb opened #859 "Bug: Community Repeated measures should come directly after Community"
The order of entities in the variable tree for WASHb BNG is incorrect. It should always be in this order:

- Community
- Community Repeated Measures
- Household
- Household Repeated Measures
- Participants
- Participant Repeated Measures
- Samples

![image](https://user-images.githubusercontent.com/25450900/149239778-9a7c4447-caad-4008-b5ac-110a7815413b.png)

[2022-01-12 23:46] danicahelb opened #814 "Bug: inconsistency in what variable is open by default in subsetting tab"
When you first open a study, sometimes the 1st variable in the variable tree is open by default, and other times the 1st variable in the list of featured variables is open by default.

For Example:

- Amazonia ICEMR Brazil Cohort (Country is open by default and is not a featured variable but is the 1st variable in the tree)
- ELICIT Randomized Controlled Trial (Ward in Tanzania is open by default

[2022-01-13 03:50] dmfalke commented on #544
@danicahelb are all of these issues that the order of the featured variables is not the same as the tree? If so, would you say that the order in the tree is correct?

[2022-01-13 04:53] danicahelb commented on #544
@dmfalke yes, these studies all have the issue where the order of the featured variables does not match the order in the tree. I guess it is possible that the order of the tree is incorrect for some reason. I didn't work on these studies, so I will check in with Sheena & Nupur about this

[2022-01-13 05:00] dmfalke commented on #544
Thanks Danica! After rereading the description of the issue, it's obvious! 🙂

[2022-01-13 05:15] danicahelb commented on #758
@dmfalke if you click on the "download" link on any of the study cards, you will be able to access the README and Ontology metadata files. I can check in with Jay if you need more info

[2022-01-13 14:57] SheenaTomko commented on #544
The featured variables for PRISM technically match the order in the tree, but what's happening is that if 2 variables, like "Observation type" and "Malaria diagnosis and parasite status" both have a displayOrder of 1 in different categories, they're being ordered first by their displayOrder, then by the displayOrder of their parent category, rather than being ordered first by the order of their pa

[2022-01-14 19:13] bobular opened #796 "Map: gray out the map viz tool in visualizations when the study has no geolocation variables"
Not sure how to do this yet!

We may have a better idea after #776

[2022-01-17 13:13] bobular commented on #796
One way to do this would be to run the existing constraints logic on all the visualizations returned from the `apps` endpoint.  If any of the `isRequired` variables end up with no available variables.

Possible problem is that the code (see InputVariables.tsx) seems to focus on determining disabled variables (rather than returning a list of enabled variables, which might be easier to test for leng

[2022-01-18 20:53] SheenaTomko opened #809 "Study details stand alone page and/or tab for "Prerelease" and "Private" studies"
Jay loaded the study characteristics and everything from the ClinEpiPresenter that's needed for the all studies table and study details page for the "Prerelease" studies: India ICEMR DAMaN Quasi-experimental Stepped-wedge, LAKANA Cluster Randomized Trial, Namibia rfMDA RAVC Cluster Randomized Trial, and PERCH Case Control.

We would like a user to be able to click on the name of this study and be

[2022-01-19 10:07] nkittur-uga commented on #728
SCORE S. mansoni CRT and SCORE Mozambique have both been updated so that valueMap for "Sex" variable says "Unknown" instead of "No data".

[2022-01-19 10:07] #728 closed

[2022-01-19 15:21] steve-fischer-200 opened #801 "Update client to use the new hideFrom property."
the possible values (so far) are 'everywhere', 'downloads' and 'variableTree'

[2022-01-19 15:39] eikonomega opened #802 "Mock-Ups for Downloads Tab + Discussion"
This ticket captures the tasks of creating mock-ups and subsequent discussions for the downloads tab.

[2022-01-19 15:42] eikonomega opened #803 "Mock-Ups + Discussion for Sharing/Public Analyses"

[2022-01-20 15:43] danicahelb commented on #573
Histograms will have semantic zooming. The x-axis for these plots are binned; zooming in on the x-axis changes the bins and y-axis counts and axis ranges should update accordingly.

Line plots also have binned x-axis but we do NOT want semantic zooming on these plots. The positions of the line markers should NOT change as the user zooms in.

Thanks!

[2022-01-20 18:17] sweverschulman commented on #765
Legend checkbox has been changed to green and confirmed.
<img width="1108" alt="Screen Shot 2022-01-20 at 1 15 16 PM" src="https://user-images.githubusercontent.com/62298921/150397819-f1fd781a-7b6a-43c1-9f04-1e58cf61097a.png">
<img width="805" alt="Screen Shot 2022-01-20 at 1 07 28 PM" src="https://user-images.githubusercontent.com/62298921/150397824-33661f3c-887b-463e-a65d-276aa2e84230.png">

<im

[2022-01-20 18:37] asizemore opened #805 "Mockups: Collections ui"
In progress.

Current plan for first roll-out:
1. Happy to go with selecting whole collection only (no cherry picking) for first rollout
2. Our favorite version of the ui involves changing the current variable picker tree so that only clicking on the arrow, not the whole category/entity name, expands/collapses the tree. We'll check with the rest of the eda team to see if they'd be happy with the c

[2022-01-20 18:40] asizemore opened #806 "Mockups: button images"
Need icons like
<img width="300" alt="Screen Shot 2022-01-20 at 1 39 03 PM" src="https://user-images.githubusercontent.com/11710234/150401317-bd229796-ad65-462b-a000-a757333d2530.png">

and button graphics better than
<img width="1079" alt="Screen Shot 2022-01-20 at 1 39 52 PM" src="https://user-images.githubusercontent.com/11710234/150401441-ff2b1284-58ee-484f-b616-096de44cdd14.png">

for each ap

[2022-01-20 19:04] asizemore opened #807 "Microbiome: stand up non-computational modules"
Currently we're planning to have the following non-computational modules that categorize the pass app vizs:

- Distributions: contains histogram, box plot
- Counts and Proportions: Contains barplot and both mosaics
- X-Y Relationships: contains scatter, lineplot

First implementation - no collections in vizs.

Expected tasks:

- [x] Add plugins to data service (EdaDataService PR [154](https://gith

[2022-01-20 19:48] aaronwlsong commented on #761
looks good now. Closing ticket.

![image](https://user-images.githubusercontent.com/61077845/150411125-0af735d6-b997-4551-baa0-bf3e1a475b0b.png)

![image](https://user-images.githubusercontent.com/61077845/150411414-c203ba88-4713-453c-929b-36baf8e2af69.png)

[2022-01-20 20:59] SheenaTomko commented on #449
Qc'd and looks fixed, but now we will move to having a separate downloads tab so moot anyway

[2022-01-24 16:50] asizemore commented on #757
Most recent figma mockups in channel. Currently hoping to use only the carrot to select expanding tree, so that we can use clicking on a variable name to close the box.

[2022-01-24 19:33] jtlong3rd commented on #801
@steve-fischer-200 Something that's come up in my [PR](https://github.com/VEuPathDB/web-eda/pull/808) for this work:

Can `hideFrom` be given to "non-leaf" variables? If so, what is the intended behavior? In my current implementation, if a "non-leaf" variable has a `hideFrom` property, then that variable and all its descendants will be hidden.

[2022-01-25 22:10] #774 closed

[2022-01-26 14:04] moontrip opened #813 "Visualizations: allow zooming & truncation for line plot"
This ticket is an extension of the pre-existing ticket, Visualizations: [allow zooming & truncation](https://github.com/VEuPathDB/web-eda/issues/573), but this focuses on the line plot only.

Danica explained the expected behavior of axis range control for line plot [here](https://github.com/VEuPathDB/web-eda/issues/573#issuecomment-1017639378) and copied in the following:

Histograms will have se

[2022-01-26 15:13] danicahelb commented on #758
In the 1/24/2022 EDA UX meeting we decided that the downloads tab would be rolled out in stages. For b56, we will release a stripped down version of the downloads tab:

- We will not include the “ClinEpiDB Documents” or “Study Documents” sections. Study documents will still be available via the View Study Details tab. ClinEpi documents (README and Ontology metadata files) and any study documents r

[2022-01-26 15:22] danicahelb opened #939 "Downloads tab improvements to consider"

[2022-01-27 12:54] bobular commented on #775
Oops, all this got done in #782 - I forgot to link it to this issue. Sorry for any confusion.

[2022-01-27 12:54] #775 closed

[2022-01-27 21:12] #784 closed

[2022-01-27 21:26] chowington commented on #784
A couple of notes on the implementation:

- The screenshotter take a screenshot when the map loads or when the relevant state is changed (new markers, panning, zooming, etc) and sometimes finishes before the map is finished with its animations. This can occasionally leave grey or incomplete areas in the thumbnail. One solution might be to add a short delay to the screenshotter.
- Currently the dim

[2022-01-27 22:09] aaronwlsong opened #849 "Amazonia Peru Cohort Study: In Histogram, bird's eye view plot has an overlapped issue"

[2022-01-28 00:37] eikonomega commented on #657
This will likely be merged on Friday @danicahelb @SheenaTomko @sweverschulman :)

[2022-01-28 16:45] chowington commented on #814
IMO the first featured variable being the default makes more sense, because presumably it's generally more widely used than the first variable in the tree

[2022-01-28 18:45] #657 closed

[2022-01-29 18:25] ryanrdoherty opened #822 "Use new showUnreleasedData flag (instead of projectId) to determine which studies are shown"
We need to get rid of the AllClinEpiDB project ID for advanced subsetting, merging it into ClinEpiDB.  To that end, a new boolean property has been added to the project service response called "showUnreleasedData", which is set to true on previously AllClinEpiDB sites, and false on regular ClinEpiDB sites (i.e. hide is the default).  The current belief is that this is the only use for the AllClinE

[2022-01-31 15:15] moontrip commented on #817
Hi @d-callan The main reason why the whole item (checkbox, marker, and text) was grayed out was that it was the behavior of Plotly.js when using its legend. Can you please confirm that you want to grey out the checkbox only while leaving marker and text are visible (not gray out)?

[2022-01-31 16:34] asizemore commented on #805
Duplicate of #757 . Closing

[2022-01-31 16:34] #805 closed

[2022-01-31 18:29] #816 closed

[2022-01-31 19:44] danicahelb commented on #814
@chowington I agree, lets make 1st featured variable open by default. In rare cases where a study doesn't have any featured variables, please make the 1st variable in the tree open by default. thanks!

[2022-01-31 19:53] danicahelb commented on #291
this ticket duplicates https://github.com/VEuPathDB/web-eda/issues/810 so I am closing it

[2022-01-31 19:53] #291 closed

[2022-01-31 19:55] danicahelb commented on #810
ClinEpi team to review performance issues, potentially move to b57

[2022-01-31 20:48] danicahelb opened #825 "Visualizations frontend: Line plot viz tool (continuous y-vars only)"
We need a working line plot viz tool for b56.

Mockups can be found here: https://docs.google.com/presentation/d/16xCzGUs744KD3IQ91ITMt30pbAF9SJ7yvOkWZoE-AeE/edit#slide=id.p

- _Note that the deliverable for b56 only includes "General Line Plots" in the mockups (ignore "Frequency line plots", "Cumulative frequency plots", and "Kaplan Meier plots" for now)_
- _Note also that categorical y axis vari

[2022-01-31 22:46] danicahelb commented on #809
Discussed in 1/28/2022 EDA meeting:

Stand-alone study pages are needed for both prerelease and private studies. Currently, users cannot access the study page (the link in the popup currently takes you to “Page not found”; we need this link to take the user to a stand-alone study page)

- We need a new attribute in the presenter so that the client code can discover that there is no data. This attr

[2022-02-01 15:27] #801 closed

[2022-02-01 18:30] jtlong3rd commented on #801
Testing ideas:

1. For Amazonia ICEMR Brazil Cohort, the `Settlement` variable has `hideFrom: ["variableTree"]`, so it should appear in the "view and download" modal, but not in the variable trees for the subsetting and visualization tabs
2. For GEMS 1A Case Control, the `Participant ID for matched case` variable has `"hideFrom":["everywhere"]`, so it should appear neither in "view and download" m

[2022-02-01 18:57] jtlong3rd commented on #657
There is one aspect of this issue that is not yet ready for testing: when you share an analysis, you'll be provided with a "short URL." These short URLs are of the proper form, but won't be functional until [this Systems team Redmine](https://redmine.apidb.org/issues/46574) is complete.

Otherwise, the rest of the sharing feature can (and likely should, in the interest of time) be tested now.

[2022-02-01 20:34] asizemore commented on #768
<img width="1460" alt="Screen Shot 2022-02-01 at 3 34 23 PM" src="https://user-images.githubusercontent.com/11710234/152046798-037d1d0d-e3ae-4491-936f-eff983f4b47e.png">

Getting there!

[2022-02-02 17:13] asizemore commented on #768
Leaving a note - we're also changing the path of the Explore button to take the user to a new analysis instead of their latest analysis.

[2022-02-02 17:20] asizemore commented on #768
After further discussion we removed icons in the headline because they look like clickable links

<img width="1491" alt="Screen Shot 2022-02-02 at 12 12 19 PM" src="https://user-images.githubusercontent.com/11710234/152204288-08d96f28-e082-4364-865f-67e9fc3e4da3.png">

[2022-02-02 19:36] SheenaTomko commented on #801
Found a bug.
In PRISM2 border cohort, "Birth date" is supposed to be hidden everywhere. If you search for it as a variable, you can't find it, and if you try to download data, you can't add it as a variable to the file.

However, if you click on the "Participant" entity in the entity diagram, it takes you to the "Birth date" histogram, presumably because this would be the first variable in the Par

[2022-02-02 20:09] jtlong3rd commented on #801
Good catch, @SheenaTomko! I investigated, and found that this bug also occurs if the variables are hidden in the "old" way (based on whether `displayType` is `hidden`), and under the same circumstances.

(Clicking on "Participants" in "PRISM2 Border Cohort" also redirect to "Birth date," even though it has `displayType: "hidden"`.)

I'll open (and likely self-assign) an issue describing the deeper

[2022-02-03 18:48] danicahelb opened #848 ""Explore analyses" cards need to be updated to match study cards"

[2022-02-03 19:50] SheenaTomko commented on #801
Jamie to open a new ticket specific for the bug, so closing this

[2022-02-03 21:13] sweverschulman commented on #657
On the  'Make analysis public' pop up we would like the warning icon to be placed on i
<img width="64" alt="Screen Shot 2022-02-03 at 4 10 27 PM" src="https://user-images.githubusercontent.com/62298921/152429640-a75a9c58-5461-4f3b-9703-707bbd1907b8.png">
<img width="543" alt="Screen Shot 2022-02-03 at 4 09 52 PM" src="https://user-images.githubusercontent.com/62298921/152429645-9b12a827-59e8-4691-

[2022-02-03 21:15] sweverschulman commented on #816
functionality has been tested and has passed QA

[2022-02-03 21:20] sweverschulman opened #847 "Slow loading of imported analysis"

[2022-02-03 22:11] danicahelb opened #846 "Study dropdown should differentiate pre-release studies"
On the study dropdown, there is currently no way to differentiate pre-release studies (ie, Namibia, PERCH, Lakana) from the released studies:
![image](https://user-images.githubusercontent.com/25450900/152437400-6d325ed1-b935-40bd-adbc-b087fccf3e19.png)

It would be nice to grey out the names of the pre-release studies and append  _"(Coming soon!)"_ to the end of the study name. This would mimic w

[2022-02-04 19:19] sweverschulman commented on #365
I too was unable to reproduce this error. Is it our assumption that the bug is now fixed? @danicahelb @danicahelb ?

[2022-02-04 19:24] SheenaTomko commented on #656
Noticed another issue, if the study name has italics, the html tags are shown rather than italicizing the text
<img width="1122" alt="Screen Shot 2022-02-04 at 1 21 42 PM" src="https://user-images.githubusercontent.com/54597319/152590468-d6b76c7b-7ca3-419b-9b08-1dd729a336c7.png">

[2022-02-04 19:28] SheenaTomko commented on #365
Yes, if you can no longer reproduce the error and see no other issues, then the bug is fixed and you can move the ticket to complete

[2022-02-05 20:47] dmfalke commented on #656
@eikonomega see Sheena's comment above. I think `core-components` should either handle text w/ HTML markup, or better yet, allow the type to be `ReactNode`.

[2022-02-05 21:07] dmfalke commented on #656
Pretty much all of the remaining issues have been addressed in the [linked PR](https://github.com/VEuPathDB/web-eda/pull/829). The remaining issue has to do with the behavior a user sees when they do no have access to download the study. Did we ever decide on a UX for this? cc @danicahelb @SheenaTomko

[2022-02-06 16:36] #776 closed

[2022-02-06 16:36] #796 closed

[2022-02-07 15:35] dmfalke opened #831 "Downloads: Allow mark-up in study displayName in subset table modal"
See @SheenaTomko's comment here: https://github.com/VEuPathDB/web-eda/issues/656#issuecomment-1030283076. It would be great if `core-component` React components would allow the type `ReactNode` for `text`, rather than just `string`.

[2022-02-07 15:41] dmfalke opened #832 "Downloads: Use a "form" method for downloading subsets"
The current method imposes limitations on file size, which varies by browser and environment (current memory usage, etc). In order to remove this limitation, we should use a "form" method to download files. We have some examples of this in WDK. This requires some backend work that @ryanrdoherty is working on.

[2022-02-07 18:33] d-callan opened #833 "Visualizations: Positioning of faceted plot panels"
When I facet by any variable the resulting panels seem to be positioned in a way that they are all equidistant from each other while consuming whatever horizontal space is available to them. I think the panels should be as near to each other as reasonably possible starting from the left of the page, to facilitate easier comparison across them. My hope is that would also make their positions more c

[2022-02-07 18:36] d-callan commented on #833
wonder if @bobular has thoughts on this or can indicate how much effort it might be

[2022-02-07 19:35] #544 closed

[2022-02-07 19:38] chowington commented on #544
QA hint: Star all featured variables, then show only starred variables ;)

![image](https://user-images.githubusercontent.com/12377649/152859361-cbd61ce0-d93c-41aa-945d-e87019d95545.png)

[2022-02-07 20:36] danicahelb commented on #768
@asizemore in the 2/7/2022 EDA UX meeting we decided that styling issues still remain. We only want to release card updates 1X. Therefore, we are taking card styling off of the table for b56 so that we can ensure we are rolling out cards with styling that everyone is happy with.

**Remaining concerns / fixes requested:**

- [ ] Styling of study cards does not match styling of “Explore analyses” ca

[2022-02-07 21:19] #814 closed

[2022-02-07 21:29] danicahelb opened #845 "Styling fixes needed for "New analysis" and "My analyses" buttons on analysis page"
Styling issues were identified in the 2/7/2022 EDA UX meeting.

New analysis” and “My analysis” buttons are now in all capital letters and the icons are no longer centered on the text

<img width="307" alt="image" src="https://user-images.githubusercontent.com/25450900/152874586-4619341e-d778-46ac-85f3-55254e54146a.png">

TODO: Switch to sentence case and center icon (note, " New analysis" should

[2022-02-07 21:31] danicahelb opened #844 "Styling fix needed: pencil, copy and delete icons should be the same color"
Styling issues were identified in the 2/7/2022 EDA UX meeting.

Pencil icon for renaming an analysis is blue, all other icons are teal → these should all be the same color

<img width="316" alt="image" src="https://user-images.githubusercontent.com/25450900/152875262-cded48d0-c49a-4da1-be21-150d36c6e781.png">

TODO: make all one color (teal is fine)

[2022-02-07 21:34] danicahelb opened #843 "Styling fix needed, reposition copy, delete, and show all filters buttons"
Styling issues were identified in the 2/7/2022 EDA UX meeting.

Copy and trash icons look to be related to the pencil icon (ie, renaming the analysis), as opposed to being related to the analysis as a whole. Also, “Show all filters” button should not be next to the “Share analysis” button

<img width="1409" alt="image" src="https://user-images.githubusercontent.com/25450900/152875620-99152809-aa91

[2022-02-07 21:40] danicahelb opened #842 "Study drop down menu should bring user to NEW analysis"
Issue identified in 2/7/2022 EDA UX meeting.

The path of the "Explore" button on study cards has been changed to take the user to a **new analysis** instead of their latest analysis.

The study drop down menu currently takes the user to their latest analysis. Instead, it should also take the user to a **new analysis** to replicate the functionality of the button on the study cards

[2022-02-07 22:43] danicahelb opened #841 "Redirect URLs from publications & links to related studies to a new analysis"

[2022-02-07 22:48] danicahelb commented on #656
@dmfalke as discussed in the 2/7/2022 EDA UX meeting, when a user is not logged on / does not have an access request approved, they will not be able to open the subsetting results table. Instead they see the popup instructing them to log in or request access.

Based on user feedback, we may allow users to view 20 rows of data without having access to the study. But this is not for b56

[2022-02-08 15:55] nkittur-uga commented on #796
Yes, Geolocation map is greyed out with a note saying (Not applicable to this study) in studies which lack GPS data, such as GEMS1 and GAMIN.

[2022-02-08 16:13] nkittur-uga opened #840 "Geolocation map tool gives errors when choosing different base layer"

[2022-02-08 18:41] nkittur-uga commented on #774
Tested in SCORE Seasonal, can see simple white circle markers with entity counts, and map is initialized with with a whole world center/zoom level. Passes QA.

[2022-02-08 18:45] nkittur-uga commented on #784
Map thumbnails are working as expected.

[2022-02-08 18:46] nkittur-uga commented on #775
Basic semantic zooming entity count markers are working as expected.

[2022-02-08 19:50] eikonomega commented on #657
I believe that the latest issues raised have been addressed. Moving back into QA.

[2022-02-08 21:34] sweverschulman commented on #657
The warning icon now present on the 'Make Analysis Page'

<img width="519" alt="Screen Shot 2022-02-08 at 4 31 37 PM" src="https://user-images.githubusercontent.com/62298921/153079007-2b8234c3-bea5-4e86-aa77-3393c81d4903.png">

[2022-02-08 21:34] sweverschulman commented on #657
Sharing Strategies can now be signed off on.

[2022-02-08 22:01] danicahelb commented on #656
**QA results:**
1. Pass: starred variables are auto-populated as columns in the table in the subset results modal
2. Fail: I can star variables within the modal's variable selector, but when I star terms here, the terms are not added to the results table. Desired behavior: when I star a variable in the modal's variable tree, it should automatically and simultaneously also click the check box to ad

[2022-02-08 22:21] danicahelb commented on #656
**Issues to fix (includes items 2 & 7 that failed QA in my comment above, as well as new items identified during latest QA):**

- [ ] When I star terms in the subsetting results modal's variable tree, it should automatically and simultaneously also click the check box to add the variable to the results table.

- [ ] Please shift the variable selector a bit more down and to the left so we can see t

[2022-02-08 22:27] danicahelb opened #839 "Styling of subsetting results modal"
- [x] Position of the "Download" and "Select variables" buttons: "Download button should be in the upper right hand side of the modal (where "Select variables" is currently). "Select variables" button should be moved to the left, near the entity name.

- [x] "Select variables" button should not be filled in but instead should look more similar to the "My analyses" button on Ann's latest study card

[2022-02-08 22:28] danicahelb commented on #656
Additional styling changes that can happen post-b56 are documented in https://github.com/VEuPathDB/EdaNewIssues/issues/130

[2022-02-08 22:39] danicahelb opened #838 "Bug: functionality of starred view with featured variables"
If i have clicked the toggle to just see starred variables in the variable tree, I can still see variables in the featured variable box. The featured variables have the ability to be starred, but if I click to star them, they do not automatically show up in the view of starred variables in the variable tree. If I toggle the starred variable view off and then on, now the featured variables appear.

[2022-02-08 22:58] danicahelb commented on #575
Variable constraint documentation has been added, but it is out of date now that we are no longer inferring data shape. The text needs to be updated:

<img width="1080" alt="image" src="https://user-images.githubusercontent.com/25450900/153089784-368278be-dad1-4938-8028-e88da4e1b31d.png">

[2022-02-09 00:05] moontrip commented on #817
Hi @d-callan Is this alright for you? Used the same example with your screenshot: marker and text/label for `Control` are vivid, not gray 😃

![custom-legend-styling1](https://user-images.githubusercontent.com/12802305/153096479-a50c24e3-0d73-4ab4-a89d-aa46a035a950.png)

[2022-02-09 01:53] d-callan commented on #817
Definitely better. Thanks. I wonder why the check box for the legend entry w data is now dark gray when it looks like it used to be blue?

[2022-02-09 02:49] moontrip commented on #817
@d-callan Thank you for your confirmation 👍 As for the checkbox color, one (sorry, forgot who was) suggested changing it to be dark gray, so it was changed accordingly before - personally I like blue better, though 😅

[2022-02-09 04:07] moontrip commented on #840
I will check those issues as I did set up the map layers before.

[2022-02-09 04:25] danicahelb commented on #620
closed, this ticket is a duplicate of https://github.com/VEuPathDB/web-eda/issues/621

[2022-02-09 04:25] #620 closed

[2022-02-09 04:42] danicahelb commented on #592
latest mockups are here: https://www.figma.com/file/pTcKhGnfWpgckYkAk8lLWH/UX-Meeting-Presentation?node-id=0%3A1

[2022-02-09 16:16] danicahelb commented on #840
hi @moontrip please pause work on this ticket until after b56. thanks!

[2022-02-09 16:25] danicahelb commented on #768
please pause work on this ticket until after b56, thanks!

[2022-02-09 18:45] SheenaTomko opened #938 "Browse and subset tab: Show numeric/date variable with only one value as a data frequency table"
Danielle made changes to the use of datashape, so now numeric and date variables that have <10 values are shown using a histogram in the browse and subset tab. This works well until you get down to very few values that are clustered together. In particular, if there is a single value, the histogram shows a bar stretching the whole width of the plot. In these cases where there is just one value, we

[2022-02-09 18:50] SheenaTomko opened #872 "Browse and subset tab: Remove extra x-axis values on histogram when very few values available; and erroneous red outlining of binwidth input"
Danielle made changes to the use of datashape, so now numeric and date variables that have <10 values are shown using a histogram in the browse and subset tab. This works well until you get down to very few values that are clustered together. In cases like the one below (study = PROMOTE, variable = Placenta count), where there are just 2-4 potential values, you see extra values on the x-axis indic

[2022-02-09 19:39] SheenaTomko commented on #544
This looks great. Marking as complete

[2022-02-09 20:46] danicahelb opened #937 "Increase amt of real estate for variable tree"
I noticed that the amount of real estate dedicated for the variable tree is smaller than the length of my page (see white space in lower left of the screenshot). It would be nice to extend this area all of the way down to the bottom of my screen

<img width="1429" alt="image" src="https://user-images.githubusercontent.com/25450900/153287037-e1559e2e-3092-4fa7-a666-77fe1305d8c0.png">

[2022-02-10 04:33] dmfalke commented on #832
From @ryanrdoherty

[2022-02-10 12:41] bobular commented on #831
I'm currently assessing if I can do this (including the `core-components` bit)

[2022-02-10 12:57] bobular commented on #831
Yes, it looks like I can take this one. I will just do it for the `Header` components, @eikonomega - it looks like buttons and chips also have a `text: string` prop - but I won't touch those until advised further.

Just for the record, you can test this without any special data access permissions using **ICEMR Severe P falciparum and vivax Cohort** study

![image](https://user-images.githubusercon

[2022-02-10 16:14] danicahelb commented on #839
Steve, via slack:
- the Select button should be a standard action button
- the Downloads button should be a "high-attention" button

[2022-02-10 16:17] danicahelb commented on #656
@dmfalke, via slack:

`When I star terms in the subsetting results modal's variable tree, it should automatically and simultaneously also click the check box to add the variable to the results table.`

I'm not sure I agree with this. I think the act of starring should be separate from adding to the table. I imagine we would not want to remove a variable from the table if it gets unstarred in this

[2022-02-10 17:32] bobular opened #856 "Disable map visualization prior to b56 release"
Comment out in `PassThroughComputation` and reinstate in `PlaceholderIcon`.

[2022-02-10 20:05] aurreco-uga commented on #769
This is done, this is all we can do without an overhaul of the header.
the overhaul (dom and cs) with deploy flat elements in a grid, like  we have in genomic sites, which allows for more flexible and maintainable layouts.

[2022-02-10 20:55] bobular commented on #831
Should be good now :+1:
Thanks to @eikonomega for the components side (I gave valuable support...)
![image](https://user-images.githubusercontent.com/308639/153494755-497f18e8-eb41-4795-858c-fa7412ed7dce.png)

[2022-02-10 20:59] #831 closed

[2022-02-10 21:44] #844 closed

[2022-02-11 19:37] SheenaTomko commented on #656
Additional change request:

- [ ] Change the column headers on the table that's created from title case to use the original case that comes from the owl file (for instance, "Observation type" and "Sub-county in Uganda" for the PRISM study)

[2022-02-14 14:16] SheenaTomko commented on #844
Color looks good now. Marking as complete

[2022-02-14 14:22] SheenaTomko commented on #843
The position of the different buttons and links looks good. However, the UX is a little strange and needs discussion. When a user first opens a study, they see only the edit name icon and Share analysis button
<img width="1176" alt="Screen Shot 2022-02-14 at 8 14 44 AM" src="https://user-images.githubusercontent.com/54597319/153881253-9cace0c6-9b22-48b2-aefb-2566b3fcce71.png">

If they start a vis

[2022-02-14 14:23] asizemore commented on #768
Thanks @danicahelb! Sounds like this needs to go back to the drawing board. I'll catch up with @eikonomega after b56 and see what we can do about these styling concerns

[2022-02-14 14:23] nkittur-uga commented on #831
Fixed. QA is complete.

[2022-02-14 14:25] SheenaTomko opened #936 "Pencil icons don't match across the site"
We use 2 different pencil icons, that I know of. Within an analysis, we use:

<img width="570" alt="Screen Shot 2022-02-14 at 8 16 41 AM" src="https://user-images.githubusercontent.com/54597319/153881992-4a298bb0-56d8-40f8-a2bc-38460aab1f79.png">

Within the share/make public analysis modal, we use:
<img width="505" alt="Screen Shot 2022-02-14 at 8 16 46 AM" src="https://user-images.githubusercont

[2022-02-14 15:32] #832 closed

[2022-02-14 16:15] jtlong3rd opened #861 ""findFirstVariable" should respect hideFrom"
As initially reported by @SheenaTomko: https://github.com/VEuPathDB/web-eda/issues/801#issuecomment-1028289935.

The cause is that the underlying [findFirstVariable](https://github.com/VEuPathDB/web-eda/blob/721b00964968a6e0c179bd7d024f29b375890551/src/lib/workspace/Utils.ts#L12) utility is searching through all variables, even those which are supposed to be `hid[den]From` the `"variableTree"` sco

[2022-02-14 16:33] chowington commented on #843
@SheenaTomko I think that makes sense! I'll make it happen 👍

[2022-02-14 16:54] #859 closed

[2022-02-14 17:08] chowington commented on #850
This seems to have been fixed. Closing ticket

[2022-02-14 19:36] #815 closed

[2022-02-14 19:57] chowington commented on #590
@danicahelb I tested this, and it seems undoing analysis tab navigation is an easy fix; undoing navigation into and out of visualizations is not so easy. What are the specific reqs for this ticket?

[2022-02-14 20:16] #843 closed

[2022-02-14 21:41] danicahelb commented on #839
As discussed in 2/14/2022 EDA meeting:

- [ ] Please rename "Select variables" button to "Add columns"

[2022-02-14 21:45] danicahelb commented on #656
Discussed in 2/14/2022 EDA UX meeting.

We decided that we do NOT want the featured variables or user-starred variables to be added to the subsetting tables by default. It is confusing that the table is automatically populated with featured and starred variables. The default view of the table should just show the relevant ID columns (Participant ID, Household ID, etc). Always minimally showing the

[2022-02-14 21:47] aaronwlsong commented on #817
It looks good (bar plot acts as the same as discussion above), closing the ticket.
<img width="1052" alt="Screen Shot 2022-02-14 at 4 44 46 PM" src="https://user-images.githubusercontent.com/61077845/153951821-207e696a-2694-4977-ad87-20d161be7dfc.png">
<img width="1086" alt="Screen Shot 2022-02-14 at 4 42 39 PM" src="https://user-images.githubusercontent.com/61077845/153951823-f3337e63-bde1-49a2-a

[2022-02-14 22:01] danicahelb commented on #656
@dmfalke Based on 2/14/2022 EDA discussion, these are the remaining to-do items for this ticket:

- [ ] Change the column headers on the table that's created from title case to use the original case that comes from the owl file (for instance, "Observation type" and "Sub-county in Uganda" for the PRISM study)

- [ ] Always show all relevant ID columns (Participant ID, Household ID, etc) even when n

[2022-02-14 22:10] danicahelb opened #935 "Styling updates for subsetting results modal"
Post b56, consider:

1. Should the variable tree (selector) always be shown open on the left side of the modal (to mimic the styling on the Browse & subset tab)?

2. If the variable tree is shown open on the left side of the modal by default, should the tree be collapsable to give more real estate to the table?

3. Should the variable tree be expanded by default to show all variables? or just all

[2022-02-14 22:59] danicahelb commented on #769
Feedback from Steve: please change "ClinepiDB 21" to "ClinepiDB - Release 21" or similar

[2022-02-15 15:27] danicahelb commented on #859
It's fixed!!! thanks!!!

[2022-02-15 15:35] SheenaTomko commented on #843
Looks great! Marking as complete

[2022-02-15 15:44] SAK22 commented on #815
Looks good!

[2022-02-15 22:11] dmfalke commented on #809
Note: I did not add the banner to the page for private studies. We hadn't done this in the past, so I thought I would ask. It shouldn't be too hard to add.

[2022-02-15 22:34] danicahelb commented on #590
Hey @chowington i'm not sure what you mean by "analysis tab navigation". did you mean undoing (pressing back on) **_browse & subset tab_** (not analysis tab?) navigation?

If I am in the browse & subset tab, I'd want the back arrow to either remove filters I just applied to the current variable or, if i hadn't applied filters but navigated between variables I would want it to take me to the last v

[2022-02-16 14:34] nkittur-uga commented on #809
So...this one is almost there. When I try to access a private/prerelease study, I get this error pop-up, however when I chose the error pop-up, the study page is there and looks great.
<img width="1278" alt="Screen Shot 2022-02-16 at 9 32 40 AM" src="https://user-images.githubusercontent.com/67710160/154286484-50f92384-76dd-4802-b251-44234c16c2f5.png">

[2022-02-16 14:36] dmfalke commented on #809
Ah, strange. That wasn’t happening on my development site. I’ll take a look!

On Wed, Feb 16, 2022 at 9:34 AM nkittur-uga ***@***.***>
wrote:

[2022-02-16 14:52] dmfalke commented on #809
I am not able to reproduce. In what browser is this happening?

[2022-02-16 14:54] nkittur-uga commented on #809
Chrome.

[2022-02-16 14:59] nkittur-uga commented on #809
All studies denoted "Private" need a button on the study page to request access to the data.

Clicking on this button will prompt users to log in, and if their accounts have been added as study team members, then they can access the data for QA. This feature isn’t essential for b56, but should be prioritized right after all essential functionality for b56 is done, because study teams will be looki

[2022-02-16 15:04] nkittur-uga commented on #809
Yes, unfortunately still happening for all private and prerelease studies.

[2022-02-16 15:10] dmfalke commented on #809
I'm going to need some more details about this error. Maybe we can chat on slack later.

[2022-02-16 15:11] dmfalke commented on #809
Ah, yes, this makes sense. Since we are redirecting to the standalone page, the typical popup is not seen. I will work on this.

[2022-02-16 15:17] sweverschulman commented on #842
spot check navigating to a new study from the drop down and all of them bring the user to an new 'Unnamed Analysis'

[2022-02-16 15:46] SheenaTomko commented on #37
@bobular, we are now hiding all lat/long (and all geohash) variables from the variableTree. Can I close this issue?

[2022-02-16 15:50] SheenaTomko commented on #780
Just to add to this ticket, it seems when you click "My analyses", the search analyses field auto-populates with a version of the study name that contains the html tags. When you remove the html or clear the search bar, you see the analysis you made

<img width="867" alt="Screen Shot 2022-02-16 at 9 49 01 AM" src="https://user-images.githubusercontent.com/54597319/154302240-e27b9049-8099-46d0-b8c7

[2022-02-16 21:27] chowington commented on #654
Our fontend logic calculates the min bin width as the width that would give us 1,000 bins, which is currently far too many for this particular variable endpoint. The smallest bin width for this variable that doesn't cause QA to crash is somewhere around 1, which equates to about 50 bins given this variable's range. I'd hate to force all histograms to have at most 50 bins; ideally we should have a

[2022-02-17 16:16] bobular opened #871 "Non-integer (less than 1) binWidths cause `distributions` back end to time out/fail"
Tested with LLINEUP

"Persons" variables (e.g. Persons <5 years living in house) - only integer binwidths work - non-integers cause a proxy error (and cause performance problems for subsequent queries if you send too many of these).

Solution: disallow client from requesting non-integer binWidths for integer variables.

May require some slider component work to enforce integer values from both sli

[2022-02-17 16:20] bobular opened #873 "Subsetting histogram filter: min/max for binWidth slider has too much precision"
See image
![image](https://user-images.githubusercontent.com/308639/154524139-b8fd0aaf-3bd5-49da-a239-0267ae57e953.png)

Visualizations round to 4 decimal places. Seems wise here.

[2022-02-17 19:23] #861 closed

[2022-02-17 19:27] #846 closed

[2022-02-17 23:52] bobular commented on #654
Update: in https://github.com/VEuPathDB/web-eda/pull/874 I have added integer-based bin slider constraints.

I don't see any performance problems at minimum bin width (original 1000 bin calculations) with floating point variables, such as GEMS1A -> PRM -> Weight, Height, BMI etc.  Same amount of data (35,187 Participant repeated measures have data for this variable).

[2022-02-18 13:31] bobular opened #875 "Map: inconsistent behaviour of markers while semantic zooming, and duplicate `map-markers` requests"
This ticket assumes that #837 has been completed and merged (fly-to behaviour). _(But note that that work did not introduce this bug. It's just easier to diagnose after a fly-to.)_

Study: SCORE Seasonal Transmission S. haematobium Cluster Randomized Trial

Create a new geo viz, choose communities as geo entity (left hand drop-down).  Let it 'fly to'.

Mouse-over the (33) marker - see that it has

[2022-02-18 14:11] bobular commented on #780
There's also an endless loop in the `AllAnalyses` component logic.  It's debounced I think, so doesn't slow down the browser perceptibly.  Will investigate with this ticket.

[2022-02-18 14:37] SheenaTomko commented on #846
The drop down menu now shows "Coming soon" for pre-release studies. The icon to explore data still appears, but I think that is fine to leave since clicking that or the name should take the user to the stand alone study page.

<img width="574" alt="Screen Shot 2022-02-18 at 8 34 01 AM" src="https://user-images.githubusercontent.com/54597319/154702396-1b24e88f-51e2-4bac-b10f-5bc07ae59746.png">

[2022-02-18 17:32] danicahelb commented on #656
Hi @dmfalke I was talking to mike this morning. We think it is fine to go with this positioning for the variable selector (no need to be able to see the table to the right of the selector). We can revisit this in the future if it is an issue

<img width="390" alt="image" src="https://user-images.githubusercontent.com/25450900/154733203-438cb051-053a-4800-860c-e16afc3cd52a.png">

[2022-02-18 19:58] #780 closed

[2022-02-18 20:47] bobular commented on #873
This is handled by #874 now

[2022-02-18 20:47] dmfalke commented on #656
I'm moving this into a separate issue, since it will likely take some time to address and I'd like to see this one closed :slightly_smiling_face:.

[2022-02-18 20:48] dmfalke opened #877 "Downloads: Make subset modal scrollbars always visible"
Taken from #656:

When the subsetting results table is large enough that the user needs to scroll down to see the bottom of the table, the left/right scroll bar is cut off from view. Please make this scroll bar always visible (like up/down scroll, which is always visible regardless of what part of the table you are looking at)

[2022-02-18 20:56] dmfalke commented on #656
This is being address by @eikonomega in #758

[2022-02-18 21:22] #871 closed

[2022-02-18 21:22] #873 closed

[2022-02-18 22:09] danicahelb opened #934 "b57: allow multifilter variables to be featured"

[2022-02-18 22:14] danicahelb opened #1056 "add scale to display labels"
We are using “scale” annotation in the owl file to indicate whichever type of log (log2, log10, ln, etc.) the data has been loaded in.
"Scale" information should be added to the display label, in a similar manner to how units are being added.

If the label has units, the type of log should be added in the parentheses & separated from the units by a comma. For example: Alpha-1-antitrypsin (ln, mg/g

[2022-02-18 22:17] danicahelb opened #1055 "use "scale" to automatically display variables on a log scale if the data is logged"
We are using “scale” annotation in the owl file to indicate whichever type of log (log2, log10, ln, etc.) the data has been loaded in.

use scale to automatically display variables on a log scale if the data is logged

see also https://redmine.apidb.org/issues/43947

[2022-02-19 09:38] bobular commented on #654
Resolved by #874

[2022-02-19 09:39] #654 closed

[2022-02-19 23:15] eikonomega commented on #877
This issue has been addressed in the Download Tab PR. 😄

[2022-02-19 23:15] #877 closed

[2022-02-21 16:34] bobular commented on #766
Retested and it's 25 now.  Strange number.  You'd think it would be a multiple of 6.  I will investigate a bit more.

[2022-02-21 16:38] asizemore opened #933 "Styling: Use theming in text"
Currently we have a clinepi teal from the coreUI theme (ex. Show all filters button) and one in the text (ex. Browse and Subset, variable names in the tree).

<img width="1752" alt="Screen Shot 2022-02-21 at 11 34 33 AM" src="https://user-images.githubusercontent.com/11710234/154995641-41f0afc9-e531-4b37-bb68-8883d36653e0.png">

I believe these should all be the same color? If yes, we should chang

[2022-02-21 18:59] bobular commented on #766
Well I looked into it and I found one solution and at least two puzzles

1. inside `useEntityCounts`, when there are no filters, `filters` is either `undefined` or `[]` - this creates different results from the `JSON.stringify` and affects the dependencies on the `counter` increment useEffect.  Solution: make sure it always defaults to an empty array.
2. the `counter` increment useEffect is proble

[2022-02-21 20:23] danicahelb commented on #872
Also, things get weird when trying to select data. In this MALED example, I am trying to select everyone who has data for "Total deworming treatments". The blue selector stops at 3 on the x-axis (3 is the largest value in the dataset) but participants with 3 deworming treatments are actually represented in the bar spanning [3-4). Given the current behavior, I'm not sure if i correctly selected my

[2022-02-22 04:37] moontrip opened #881 "upgrade map to use react-leaflet v3"
Currently, map heavily relies on react-leaflet v2, but the library has a major upgrade to v3 since last year, restructured with functional components, hooks, etc. Thus, it is better to adopt it at this stage.
However, it is expected that there would be lots of errors and conflicts in codes and libraries so it would take time.

[2022-02-22 14:09] bobular commented on #766
Something along the lines of `useFirstRender` in  https://stackoverflow.com/questions/53253940/make-react-useeffect-hook-not-run-on-initial-render ?

Or should I be taking away/simplifying rather than adding more complexity?

[2022-02-22 19:32] d-callan opened #932 "General: Add variable constraints documentation to the help tab"
in the viz tab you can access variable constraints help documentation by hovering over the 'show compatible variables' toggle in any variable picker and clicking to 'learn more'. the primary concern here is that this is too hidden, and most users wont see it, even if they need the help. one proposal was to additionally make the document available under the help tab.
currently variable constraints

[2022-02-22 19:37] asizemore opened #884 "Viz Icons: cement general line plot viz icon, knowing three more line plots are coming someday"
Previously we had a viz icon we were planning to use for the line plot. However, since we're breaking up the line plot into multiple types, we'll need to be prepared to have a different icon for each type.

Planned types:
1. General line (b56)
2. Frequency line
3. Cumulative frequency
4. Kaplan Meier survival plots

See line plot mockups for examples of each.

[2022-02-23 03:58] #809 closed

[2022-02-23 12:10] bobular commented on #590
I've been testing Connor's branch.

And now reading this thread.

@danicahelb wrote

This is a major feature request that we can't just add to this ticket lightly (short version: filters have never been in the URL so it will not be trivial to implement this requested behaviour, because back/forward button browser history uses the URL)

What Connor has done already seems to avoid "backing out of th

[2022-02-23 14:31] SheenaTomko commented on #861
Looks good, thanks Jamie!

[2022-02-23 14:36] SheenaTomko commented on #841
Works nicely. Tested with GEMS, India ICEMR behavior, and Amazonia Brazil by taking the URL (https://clinepidb.org/ce/app/record/dataset/DS_841a9f5259) and adding "qa.restricted" to the front of it. It would take me to a new analysis of the study in question

[2022-02-23 15:14] sweverschulman commented on #654
In testing this ticket - I noticed there are no performance issues. The bin width is not allowed to go lower than 1. Please @bobular confirm this functionality is correct. If so, we can move this ticket to complete

[2022-02-23 15:20] chowington commented on #590
@bobular Thanks for looking over this issue! Danica and I had an earlier conversation about the ticket and we agreed with what you say here. The back button shouldn't have anything to do with adding or removing filters, only with navigation. 👍

[2022-02-23 15:22] sweverschulman commented on #871
reduced the bin of a few studies and now seemed to stall.

[2022-02-23 15:38] dmfalke commented on #590
Can someone add a succinct summary of how navigation should work? It's not clear to me, from reading the comments. For example, is the back/forward button only going to impact which tab is active?

[2022-02-23 19:03] #886 closed

[2022-02-23 19:19] nkittur-uga commented on #840
Error is fixed, passes QA.

[2022-02-23 19:58] danicahelb commented on #758
@dmfalke indicated that this ticket should also change the column headers on the table that's created from title case to use the original case that comes from the owl file (for instance, "Observation type" and "Sub-county in Uganda" for the PRISM study)

[2022-02-23 20:02] SheenaTomko commented on #575
Moving this to failed qa for now because I made some changes to the text at https://github.com/VEuPathDB/web-eda/blob/variable-constraints/src/lib/core/components/docs/variable-constraints.tsx.
Danielle will review and submit the pull request.

[2022-02-23 20:11] danicahelb opened #890 "Bug: error message when opening subsetting modal"
I often get this error message when I open the subsetting modal. I cannot clear the error from within the modal. if i close the modal and reopen, the message goes away

<img width="1270" alt="image" src="https://user-images.githubusercontent.com/25450900/155400220-315da414-b70d-47b6-ad3a-d9038b8135f1.png">

[2022-02-23 20:33] danicahelb opened #931 "Include mergeKey vars in the subsetting results table by default"
in the subsetting results modal the table is currently just showing columns for the primary keys (PID, HHID, etc) and the user has to configure the table by selecting other variables of interest.

we may want to also include “mergeKey” variables in the default, un-configured table (ie, date or study timepoint variables in repeated measures entities). If we did this, the default table would look li

[2022-02-23 21:49] danicahelb commented on #656
looks good! thanks dave

[2022-02-23 22:01] bobular opened #891 "In Subsetting download modal custom column selector, clicking on text name of variable doesn't check the corresponding box"
This is despite the hover tooltip that says "Select this variable", so it's a bit misleading.

[2022-02-23 22:48] danicahelb opened #930 "Consider potential color changes"

[2022-02-24 03:22] #856 closed

[2022-02-24 04:12] dmfalke commented on #890
It's possible this issue has resolved since #885 was merged. Please check on the QA sites tomorrow (Thursday).

[2022-02-24 04:19] dmfalke opened #893 "Downloads: Add client-side data access restriction logic"
This is a follow-up task for #885. Download links should use the appropriate flavor of `attemptAction` hooks. Either @jtlong3rd or I are well suited to address this.

[2022-02-24 12:15] #766 closed

[2022-02-24 12:37] bobular commented on #890
I can't reproduce that error (which happened when switching from one entity with a few custom columns added, to another entity) in the new Downloads tab version :tada:

[2022-02-24 12:37] #890 closed

[2022-02-24 14:42] SheenaTomko commented on #886
Could not reproduce Bob's error. Looks good

[2022-02-24 14:54] SheenaTomko commented on #575
@d-callan Now when I try to click on the "Learn more" link, I don't get the expected pop-up with the documentation on variable constraints.

[2022-02-24 14:55] sweverschulman commented on #890
I can't reproduce the error in WASH Kenya and assuming that the bug has been corrected by the above work.

[2022-02-24 15:01] d-callan commented on #575
its just worked for me on qa.restricted, and appears to have your updates there.. where did you try and what did you get?

[2022-02-24 15:26] dmfalke opened #896 "Documentation: Various issues with modal and variable selector interactions"
There are a few issues with how the documentation modal and the variable tree selector interact. Both are effectively "modal" components, and some of their behaviors are inconsistent with one another.

1. The documentation modal is appearing beneath the variable selector. It should be on top of it.
2. The window's scrollbar disappears if the variable selector is closed before the documentation mod

[2022-02-24 15:57] SheenaTomko opened #897 "Bug in visualization constraints pop up"
On macbook pro, using Google Chrome, using qa.clinepidb.org (which redirects to https://qa.clinepidb.org/ce.b19/app/, which I don't know if it's an issue that the URL says b19 rather than b21).

I clicked on the "Amazonia ICEMR Brazil Cohort", went to the Visualize tab, opened a Mosaic plot: 2x2 table, clicked on the X-axis dropdown, moused-over "Only show compatible variables", moused-over "Learn

[2022-02-24 16:07] nkittur-uga commented on #809
<img width="1333" alt="Screen Shot 2022-02-24 at 11 03 35 AM" src="https://user-images.githubusercontent.com/67710160/155561956-8d0fb8b7-8826-4f87-9241-c6474d3eb39b.png">
Banner is seen as expected.

[2022-02-24 16:10] nkittur-uga commented on #856
Map tool is disabled.

[2022-02-24 16:19] nkittur-uga opened #898 "Error on qa site while trying to access pre-release studies"
<img width="1325" alt="Screen Shot 2022-02-24 at 11 00 33 AM" src="https://user-images.githubusercontent.com/67710160/155563811-22f018e9-9d42-478e-b754-edf671124aa6.png">
If I click out of the error and back to the homepage and to other studies, and then try to get back to this study, I can get in. It is just glitchy.

To recreate: try to access PERCH Case Control on qa.clinepidb.org

[2022-02-24 16:38] sweverschulman commented on #877
ClinEpi outreach team has review the functionality of the scroll bars and have determined that it meets our initial request.

[2022-02-24 16:52] danicahelb commented on #656
hey @dmfalke when mike pushed his changes, we lost the `To configure this table, click on the "Add columns" button.` text. can you please add it back? You can place it just to the right of the "Add columns" button

<img width="1276" alt="image" src="https://user-images.githubusercontent.com/25450900/155569986-ff401ff3-a43a-4d69-9b48-3f965aa70c73.png">

[2022-02-24 16:59] danicahelb commented on #839
looks good, closing this ticket

[2022-02-24 16:59] #839 closed

[2022-02-24 17:19] dmfalke commented on #656
Hi @danicahelb. Mike and I struggled to find a way to make this look good without introducing too much noise. I thought maybe it wasn't necessary given that the "Add Columns" button is more prominent. Thoughts?

[2022-02-24 18:04] moontrip commented on #897
@dmfalke FYI I could confirm this as well: actually all variable tree selector at Viz had the same issue. Looked at some relevant codes but didn't notice specific issue at a glance. Thus suspected that it might be related to material-ui's issue and noticed a possibly related one via googling.

I tried it and it seemed to resolve the issue. Add a new prop at <HtmlTooltip> in the VariableList compon

[2022-02-24 18:13] danicahelb commented on #656
yeah, i agree. thanks. closing this now

[2022-02-24 18:13] #656 closed

[2022-02-24 18:14] #769 closed

[2022-02-24 18:22] nkittur-uga commented on #769
Updates look good.

[2022-02-24 19:30] danicahelb commented on #845
looks good, closing

[2022-02-24 19:30] #845 closed

[2022-02-24 19:42] danicahelb commented on #575
it works for me too. @SheenaTomko please provide more info on how to recreate. thanks!

[2022-02-24 19:50] SheenaTomko commented on #575
Closing this. Reviewed the page that Danielle provided a link for and the text looks good. Created a separate ticket for the issue with the pop-up not appearing (so far no one else has been able to reproduce)

https://github.com/VEuPathDB/EdaNewIssues/issues/162

[2022-02-24 19:50] #575 closed

[2022-02-24 20:15] aaronwlsong commented on #780
Looks good, closing ticket.

 if I click "My analyses" from dropdown workspace menu:
<img width="1876" alt="Screen Shot 2022-02-24 at 3 07 53 PM" src="https://user-images.githubusercontent.com/61077845/155599462-1e908844-f22b-4227-9674-d35980b1e519.png">

If I clicked the icon of "My analyses" on right top of website:
The previous studies won't be listed, if I want to see all previous studies I ma

[2022-02-24 22:22] bobular opened #902 "Visualizations: Empty response from boxplot back end is not handled nicely by client"
WASH Bangladesh
Filter: PRM -> Age (days)  51 to 72
Boxplot x = Target child or sibling/neighbor
Boxplot y = Length- or height-for-age z-score, using median stature

![image](https://user-images.githubusercontent.com/308639/155616888-6694ec8e-723b-4593-8b89-cff189273f3a.png)

Preferred behaviour would be like Barplot
Same filter as above
Barplot x = Head circumference-for-age z-score flag

![image

[2022-02-24 23:32] danicahelb commented on #758
Text in the full dataset tables has the wrong font and the text is too small

<img width="753" alt="image" src="https://user-images.githubusercontent.com/25450900/155625063-31af2501-af9e-4cca-92db-92c2cb6dd81a.png">

[2022-02-24 23:41] danicahelb commented on #758
For previous versions of the dataset, please change "Changelog" to "Change Log"
<img width="254" alt="image" src="https://user-images.githubusercontent.com/25450900/155625875-2700e1bd-3fd3-473b-89cb-979729fa0277.png">

[2022-02-24 23:43] danicahelb opened #928 "Styling: decide on title case or sentence case and use everywhere"

[2022-02-24 23:53] danicahelb commented on #758
Please change subtitle under "My Subset" to

`Configure and download one or more tabular files of the filtered dataset.`

<img width="298" alt="image" src="https://user-images.githubusercontent.com/25450900/155626820-7cc99bce-1457-443b-9934-3a37b51ba511.png">

[2022-02-24 23:56] danicahelb commented on #758
How are files under "Full dataset" being ordered? Alphabetically would be best...
<img width="573" alt="image" src="https://user-images.githubusercontent.com/25450900/155627308-bcaa8eac-d27c-45d4-b00d-997cbe2e7ae4.png">

[2022-02-25 00:07] danicahelb commented on #758
If it is easy, can you italicize the analysis name in the subsetting modals so it matches the way it looks on the main analysis page? I feel like the analysis name is not standing out on the subsetting modal and italics would help. (perhaps the italics is being used to indicate that the text is editable on the main analysis page? but the pencil icon indicates this & lack of pencil indicates i can'

[2022-02-25 00:09] danicahelb commented on #832
@dmfalke how do I qa this ticket?

[2022-02-25 00:12] danicahelb commented on #850
Hey Connor! Could you please update the text to `View all of your analyses for this study`

<img width="162" alt="image" src="https://user-images.githubusercontent.com/25450900/155628745-2b2f0f95-c852-4ad4-ba03-d5f2dd261082.png">

[2022-02-25 00:16] danicahelb opened #927 "Styling issue for pencil mouseover"

[2022-02-25 02:15] #898 closed

[2022-02-25 03:24] #891 closed

[2022-02-25 03:34] #893 closed

[2022-02-25 03:38] dmfalke commented on #832
I can confirm that this is in place. I will move it to the Completed board.

[2022-02-25 12:23] dmfalke commented on #897
@moontrip thank you for looking into this. I was able to reproduce and it does seem your solution works. There are some other strange interactions going on with the variable selector pop up and the documentation modal. Fixing might be somewhat involved, so I'm wondering if we should open the documentation in a new tab for now? It's possible we can fix the modal before release.

@SheenaTomko Though

[2022-02-25 13:06] bobular commented on #758
I'll do the italicisation thing...

[2022-02-25 14:10] SheenaTomko commented on #897
@dmfalke I'm fine with opening the documentation in a new tab for now

[2022-02-25 14:59] bobular commented on #766
If not familiar with browser dev tools, then QAing this should just involve testing the subsetting and entity diagram counts carefully.  Check that after changing filters (categorical and continuous) the ED counts update accurately (there will be a 2 second delay at least so you can click multiple checkboxes without causing back end requests for each click)

[2022-02-25 15:01] bobular commented on #891
PS. In addition to fixing the click behaviour, Dave has removed the tooltip in the multi-select variable picker.

[2022-02-25 15:12] SheenaTomko commented on #766
This looks good

[2022-02-25 15:22] dmfalke commented on #897
Thanks, @SheenaTomko. I will make a new issue to temporarily remove the modal behavior.

[2022-02-25 15:25] dmfalke opened #905 "Documentation: Temporarily remove the modal behavior of the "Learn more" link in variable constraints tooltip"
This is a temporary workaround due to #896 and #897.

![image](https://user-images.githubusercontent.com/365139/155741016-1cb9eabc-fde4-44e7-9af5-38b3d168ea99.png)

The existing click handler for the link should be removed, and the link should open in a new browser tab.

[2022-02-25 15:37] nkittur-uga commented on #898
Fixed successfully.

[2022-02-25 16:49] sweverschulman commented on #891
I have randomly selected a few studies. I have check the functionality and it works correctly.

[2022-02-25 16:58] #905 closed

[2022-02-25 17:28] #897 closed

[2022-02-25 19:04] danicahelb commented on #893
@dmfalke how do i qa this one?

[2022-02-25 19:16] dmfalke commented on #893
This is about triggering the access restriction modal if you don't have download permissions

[2022-02-25 19:43] dmfalke commented on #758
@bobular sounds like this can be closed again?

[2022-02-25 19:43] dmfalke commented on #850
I can take care of this

[2022-02-25 20:05] #850 closed

[2022-02-25 21:02] danicahelb commented on #893
looks good, closing!

[2022-02-25 21:11] danicahelb opened #925 "styling of faceted plots with no data"
When faceted plots have no data, I'd still like to read their title. currently, the whole plot area is greyed out and i can't make out which plots correspond to which missing values. Can we make the grey a bit more transparent or not have the grey extend over the plot title or make the plot title darker? any of these would be fine with me

Also, the "no data" could be a bit darker too

<img width=

[2022-02-25 21:32] danicahelb opened #926 "styling: remove one of the scroll bars in viz tab variable selector"
The variable selector for the viz tab has 2 scroll bars and which sometimes makes it difficult to scroll down to variables at the bottom of the tree. please remove one of the scroll bars

<img width="344" alt="image" src="https://user-images.githubusercontent.com/25450900/155805837-5aaf1748-0b02-4bfd-ab2a-6a90bde3cc3c.png">

[2022-02-25 21:52] danicahelb opened #924 "styling fixes for layout of birds eye view plot with overlayed vs faceted plots"
Noticed this in the LLINEUP study:

when plot is not stratified, birds eye shows on right side of plot:
<img width="1310" alt="image" src="https://user-images.githubusercontent.com/25450900/155808014-4ff6baae-75aa-47c5-ac2b-ba8f5b8a970f.png">

when an overlay is added, birds eye moves to below the plot (presumably because the birds eye view is less important than the featured plot):
<img width="10

[2022-02-25 22:26] bobular commented on #758
If #904 is approved and merged and QA'ed, yes. @dmfalke

[2022-02-26 00:14] bobular commented on #902
When QA'ing please check that no data facets are still displayed correctly.  I think they still are, you can test with the following additions/modifications to the subset/visualisation above

Filter: Age 0 to 126
Facet: Cluster study arm

[2022-02-26 00:31] bobular opened #914 "Bug: Visualisations are blank and not faceting on low-cardinality number variables"

[2022-02-27 17:00] bobular opened #913 "overlayVariableDetails malformed in some back end responses for low-cardinality numeric variables"

[2022-02-28 14:02] d-callan commented on #652
the backend is complete, i assume there is another ticket somewhere for the front end dev @bobular is working on. so im closing this.

[2022-02-28 14:02] #652 closed

[2022-02-28 15:29] #758 closed

[2022-02-28 16:30] bobular commented on #914
Issue linkage was a bit wonky. Closing because #911 was merged 30 mins ago.

[2022-02-28 16:57] moontrip opened #915 "Visualization: missing data element seems to cause issues on legend"
Found this bug by chance.
While reviewing #911 , which was initially linked to https://github.com/VEuPathDB/plot.data/issues/134 incorrectly, I realized that there existed some exceptions (used the 134's variables in part) that threw error popup, seemingly related to legend.

Here are some example cases that showed errors (barplot viz with GEMS1 Case Control):
a) Main: Country, Overlay: Household

[2022-02-28 17:24] nkittur-uga commented on #914
Faceting is working for low-cardinality number variables. QA is complete.

[2022-02-28 19:05] danicahelb opened #920 "Implement UI component for site search"
Implement the UI component for the site search, as defined in mockups indicated in https://github.com/VEuPathDB/EdaNewIssues/issues/173

See site search parent task here: https://redmine.apidb.org/issues/41968

### TODOs

- [x] Enable site search user interface
- [x] Add search box to header
- [x] Add custom rendering for new document types (Study, Variable, VariableValue), including summary table

[2022-02-28 20:52] danicahelb commented on #618
as of 2/28/2022, if I am not logged in (guest), everything looks fine.

<img width="1431" alt="image" src="https://user-images.githubusercontent.com/25450900/156056422-b704cf75-8a56-41f5-be7c-67eb47c19b60.png">

However, after I log in, PERCH (which has data loaded) still says coming soon on the cards

<img width="1424" alt="image" src="https://user-images.githubusercontent.com/25450900/156056290-

[2022-02-28 20:57] danicahelb opened #918 "bug: pre-release studies are clickable in dropdown when user is logged in"
if I am not logged in (viewing website as guest), everything with prerelease studies looks fine.
<img width="820" alt="image" src="https://user-images.githubusercontent.com/25450900/156057479-7627542f-1629-42f6-8722-bf185a9e6105.png">

However, after I log in, "coming soon" language has been removed from all pre-release studies in the drop down
<img width="816" alt="image" src="https://user-images

[2022-02-28 21:09] danicahelb commented on #618
Spoke to sheena about this, we need to have this fixed by b58 at the latest

[2022-02-28 21:18] danicahelb commented on #850
thanks!

[2022-02-28 21:20] danicahelb commented on #758
thanks!

[2022-02-28 21:34] danicahelb opened #1029 "provide tooltip for why some smooth mean lines & CI are greyed out"
related to this ticket: https://github.com/VEuPathDB/EdaNewIssues/issues/168

when one of the strata doesn't work for loess, it gets greyed out in the legend. we should provide the user with some information so that they can understand whey they are not getting a line for that strata
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/25450900/156061327-537fa06b-5504-452b-

[2022-03-01 03:45] #896 closed

[2022-03-01 14:42] steve-fischer-200 commented on #920
i put this in web-eda, but i guess its not the right home.  seems we want a common home for eda and website site search ui?

[2022-03-01 15:08] SheenaTomko commented on #896
Looks great now, thanks Dave!

[2022-03-01 16:07] SheenaTomko commented on #918
It might actually be better to wait a couple weeks to work on this or qa it so we can test it with pre-release studies where some data is loaded, like PERCH or Namibia once that data is loaded

[2022-03-01 19:43] bobular opened #923 "Mosaic 2x2 broken response"
@d-callan fixed a bug where the visualization below caused a 500. Something to do with one of the variables being all "Yes" I think. It's a tiny subset.  The fixed back end (already deployed) no longer 500's but returns a null that the client doesn't like.  This PR fixes the front end's back end validation to allow it!

[code]

[2022-03-01 19:44] #923 closed

[2022-03-02 14:04] chowington commented on #850
Thanks Dave!

[2022-03-02 17:31] SheenaTomko opened #940 "Bug when trying to delete multiple analyses at the same time"
Found on qa.clinepidb.org. I was logged in at the time with the clinepidbstaff@gmail.com and tried to delete outdated analyses, from before January 2022.
I selected all analyses made prior to January 2022 and hit "Delete selected analyses". The following error message appeared, and all analyses remained on the screen. I had already deleted one specific analysis before this.
<img width="985" alt="S

[2022-03-02 17:35] SheenaTomko opened #941 "Bug when trying to make an analysis no longer public"
Found on qa.clinepidb.org. I logged in, went to the "My Analyses" page, and tried to remove a public analysis I had made previously by clicking the checked box under the "Public" column. There was no response to clicking the checked box. If I clicked the empty box on another analysis, I would see the expected pop-up to make an analysis public.

I was able to delete the public analysis, but we want

[2022-03-02 17:53] danicahelb commented on #918
paused until PERCH or Namibia is loaded

[2022-03-02 17:55] danicahelb commented on #918
from @dmfalke, via slack: _We had discussed adding a new attribute to the dataset record to indicate that there is no data, but I don't think this ever happened._

outreach or data dev should add that attribute to the presenter, then pass off to UI to implement

[2022-03-02 19:36] #940 closed

[2022-03-02 19:36] #941 closed

[2022-03-02 20:59] SheenaTomko commented on #940
This is working correctly now

[2022-03-02 20:59] SheenaTomko commented on #941
Works nicely, thanks!

[2022-03-02 21:34] danicahelb commented on #884
@asizemore we want the icon for general line plots for b57 (the one you made previously is fine for this purpose).

Frequency, cumulative frequency, and kaplan meier plots are not on the schedule for the next 3 build cycles. I'm going to remove the b57 label & move out of next cycle.

Thanks!

[2022-03-02 21:40] danicahelb commented on #757
Figma mockups: https://www.figma.com/file/hWGoRD0elEQGUU3OgpXqcX/collections-web-eda-%23757?node-id=220%3A1357

[2022-03-02 22:07] sweverschulman commented on #923
Was able to reproduce the above 2x2 without and error.

<img width="779" alt="Screen Shot 2022-03-02 at 5 07 27 PM" src="https://user-images.githubusercontent.com/62298921/156457770-b171320d-7fda-41a5-b778-a2e73a824fc7.png">

[2022-03-02 22:35] aaronwlsong commented on #902
Looks good now, closing ticket.

Without facet:

<img width="1867" alt="Screen Shot 2022-03-02 at 5 32 33 PM" src="https://user-images.githubusercontent.com/61077845/156461330-83f293a8-5a49-40ca-bec3-75eb88d62891.png">

With facet:

<img width="1938" alt="Screen Shot 2022-03-02 at 5 34 16 PM" src="https://user-images.githubusercontent.com/61077845/156461375-e336d534-dee3-410f-bf78-96ddd4408e51.png

[2022-03-03 01:27] d-callan commented on #932
discussed w the eda user documentation group and wed also like:

1. to have the variable constraints documentation open to a separate page rather than a modal
2. for the tooltip where the link can be found to be associated w a help/ question mark icon like we see other places around the site.

@aurreco-uga agreed to look into it

[2022-03-03 19:33] dmfalke opened #943 "Add early variable tree validation to prevent confusing error messages"
When an entity does not have any variables, the following error is thrown:
https://github.com/VEuPathDB/web-eda/blob/b1a346e330e1e72f0dc8e0dfd6feda33992d6fce/src/lib/workspace/Utils.ts#L30-L32

This is a little bit misleading, since the entity does exist in the data, but it is excluded from the `fieldTree`. We should add some early validation and throw an error if an entity has no variables. This

[2022-03-04 00:38] danicahelb commented on #810
Visualizations with larger studies are slow. Talked with Steve today; a proper fix will require significant engineering on the backend. since we will fix this properly in the future, we won't add an annotation property to indicate which studies have slow performance.

In the meantime, we will implement a hack. If the study is MAL-ED, Amazonia Peru, or UMSP, put up a flag to let the user know that

[2022-03-04 14:56] asizemore commented on #304
Updated plan:

Get working (not necessarily pretty)

- [ ] Boxplot (done by Dave!)
- [ ] Scatterplot (no gradient colormap)

[2022-03-04 18:02] SheenaTomko opened #988 "Download modal slow for large studies, need indication that download is starting"
Tested on MAL-ED on the live site. Went to the downloads tab without subsetting and opened the modal for Participant Repeated Measures. Added all columns to the table, which took ~20 sec to show up. Hit "Download. Saw a tiny “waiting for clinepi” message in the bottom left corner, but no other indication that anything was happening for a few minutes. Is there some way to speed up the initiation of

[2022-03-08 19:13] bobular opened #948 "Map visualization: add enlarged pie-plot on mouse-over functionality"
This will need to branch off (or follow merger of) #929.

All the components should be in web-components already - should be mostly wiring!

[2022-03-08 20:07] asizemore commented on #757
No revisions from most recent mockup version. Closing issue.

[2022-03-08 20:07] #757 closed

[2022-03-08 20:07] asizemore commented on #757
Nothing for outreach to review. Nothing to deploy

[2022-03-08 20:10] asizemore commented on #884
@danicahelb in order to be sure we aren't going to change the general line plot viz icon based on the new line plot vizs coming, we need to have some idea of how the other line plots are going to look. Basically ensuring we have a distinguishing feature for all four.

I'll change the title to make it clear that the actual goal of this issue is to get the general line plot icon nailed down, but i j

[2022-03-08 21:39] asizemore opened #950 "Apps: add thumbnail page that has all apps together"
Currently we have apps and their vizs being saved, and links back to them. We'd like a page that holds all of the apps and has all of their vizs in thumbnail view.

Mockup
<img width="1202" alt="Screen Shot 2022-03-08 at 4 29 27 PM" src="https://user-images.githubusercontent.com/11710234/157329222-64b1f4b0-f944-4b26-ae7a-d3c4648f4424.png">
s

The above mockups assume we will have a compute service

[2022-03-08 21:52] asizemore commented on #303
Updated plan:

Include the following two vizs for the ranked abundance app

- [ ] box plot. The computation will specify the x AND y axes. The more important of these two vizs.
- [ ] scatterplot. The computation will specify the y axes AND the overlay var. Nice to have but not essential.

We also have details [here](https://docs.google.com/document/d/1K2aqAIt09GcD3eoPzKQIyQmxDvhxSwqEs8CdXv85nAI/ed

[2022-03-08 22:00] asizemore opened #951 "Apps: Add collection var picker"
Implement first roll out of collection var picker. Basically a standard variable tree but collections are leaves. They have an icon (maybe a folder? can be discussed later) like a normal var.

Figma [mockups](https://www.figma.com/file/hWGoRD0elEQGUU3OgpXqcX/collections-web-eda-%23757?node-id=220%3A1357)

<img width="841" alt="Screen Shot 2022-03-08 at 4 59 32 PM" src="https://user-images.githubus

[2022-03-08 22:12] asizemore opened #952 "Apps: Enable app instance to set a "base" entity"
Would be helpful for the app instances to be able to tell the vizs the main entity we care about for the viz. For example, in alpha div the user picks a collection var. The entity of that collection var will determine all vars a user could pick in the viz.

For alpha div and ranked abundance, the collection var's entity is the entity we want to use.

[2022-03-08 22:16] asizemore opened #953 "Apps: apps wrap vizs and send parameters"
The app instance should tell the visualization which variables to expect the computation to provide. All other variables would be user-defined just like normal.

Examples:
alpha div box - compute defines y axis (alpha diversity). All other variables user-selected.
alpha div scatter - compute defines y axis (alpha diversity). All other variables user-selected.
ranked abundance box - compute defines

[2022-03-08 22:23] asizemore opened #954 "Apps: add singleAppMode to switch between clinepi and mbio views"
In `workspaceRouter`, add `singleAppMode` prop with value the name of the app to be used. For clinepi, name is 'pass'. If we have this set, the user only lives in one instance of the app always. Otherwise, user gets to choose from a list of apps (mbio view)

Important to get this out quickly so that we can start working on mbio apps on the main branch.

[2022-03-08 22:28] asizemore opened #955 "Apps: filter apps list by projectId"
Each app has a list of projects with which it is compatible. Have dataClient use the projectId to filter the list of all apps to only those that are compatible with that project.

[2022-03-09 17:10] bobular opened #956 "Visualizations: Line plot, add categorical variable handling"
See mock-ups [here](https://docs.google.com/presentation/d/16xCzGUs744KD3IQ91ITMt30pbAF9SJ7yvOkWZoE-AeE/edit#slide=id.g1080fb1c068_0_421)

Also, don't forget handling 0/0

![image](https://user-images.githubusercontent.com/308639/158681978-e9cf6664-98a6-4ec3-8440-e9b5e282c498.png)
(see discussion in #825)

[2022-03-09 18:45] #875 closed

[2022-03-09 18:45] #779 closed

[2022-03-09 22:14] #825 closed

[2022-03-09 22:24] bobular opened #958 "Trivial: change order of visualization icons in new viz picker"
Not for next week's demo, but needs to be done for b57

The icons are currently in this order (below).  Geo map needs to go higher, before the faded out other icons.

![image](https://user-images.githubusercontent.com/308639/157548177-3bb77ee1-52d7-4dd5-ad92-7b4bb06d7481.png)

[2022-03-09 22:45] nkittur-uga opened #1047 "Full dataset missing from Download tab for unreleased studies in QA"
On qa.restricted.clinepidb.org, in all the unreleased studies (e.g., GAMIN, MORDOR, Group Antenatal Care...), the download tab shows "My subset" but the "Full Dataset" portion is completely missing.
<img width="1301" alt="Screen Shot 2022-03-09 at 5 24 42 PM" src="https://user-images.githubusercontent.com/67710160/157551524-1bcf7706-fcf2-49ee-9d89-b0281250174e.png">

[2022-03-09 23:35] danicahelb opened #987 "Mockup improvements to entity diagram"

[2022-03-10 14:22] d-callan opened #986 "Visualizations: Improve scaling of axes that represent counts"
was talking w @bobular about this and he says what currently happens is the following: "Count-based axes are usually scaled from 0 to max(observed_counts_in_response)".. I like starting at 0 but would like to find a more consistent max value if we can. perhaps max can be based on the number of total entity records belonging to the entity the selected variable belongs to, for ex. that would make th

[2022-03-10 21:49] #948 closed

[2022-03-11 14:21] bobular opened #963 "Visualizations: Line plot front end does not handle ordinal x-vars"
Ordinal x-vars, such as "Age group" `["0-11 months", "12-23 months", "24-59 months"]` currently break the front end.

If we support these (which I guess we will) it may make x-axis zooming controls more complicated (heads up to @moontrip) - unless we decide not to have zooming controls on x.

UPDATE: date variables on the y-axis were causing a 500 on the back end, but we decided not to calculate e

[2022-03-11 14:44] moontrip commented on #963
@bobular My two cents: yeah, we can't support that case in the axis control. Not quite sure whether we will have X-axis control for Lineplot Viz, but if we have, then we may check the case Number, Date, Ordinal etc. to show/hide X-axis range control.

[2022-03-14 11:23] bobular opened #965 "Visualizations: lineplot - provide global y-axis scale functionality"
This is needed for faceting mainly.  For now I will NOT ensure that the y-axis starts from zero (when all values are positive), but we can add this later after discussion with outreach/dataviz.

I get started on this now.

[2022-03-14 18:35] dmfalke opened #966 "Ranked abundance app: update scatter plot and box plot visualizations"
Generally speaking, the changes needed for this issue are
1. Use variables provided by the computation configuration for the visualization configuration.
2. Use variables provided by the computation configuration for plot and facet labels.

For the time being, we can simply omit variables in `InuptVariables` that are provided by the computation.

**The following visualizations will be used for the

[2022-03-14 19:27] danicahelb opened #1046 "Add link to documentation explaining the entity diagram"

[2022-03-14 19:52] bobular opened #967 "Map visualization tweaks from UX call"
1. make "overlay variable" a requirement for data request + plotting (no more plain white circles, yay!)
2. remove "plot counts of" input altogether (subsetting map will replace this one day)
3. only show "Plot locations of" input when there is actually a choice to make (i.e. usually never for forseeable future)
4. rename variable Main or similar to be more like bar chart
5. look into reducing max

[2022-03-14 20:46] bobular commented on #967
Could look at some behind-the-scenes data handling changes while we're at it. See https://github.com/VEuPathDB/EdaLoadingIssues/issues/22

[2022-03-14 21:06] danicahelb commented on #967
detailed feedback from 3/14 EDA UX meeting:

**1. Add in birds eye view bar plot**
Need to determine if the birds eye bar should be responsive to zooming (ie, should a 3rd line be included to indicate data actually being shown on the map?). To be discussed in an upcoming data viz meeting…

**2. How to represent continuous variables in the map (colored circles, histograms, both, something else?).**

[2022-03-14 21:43] asizemore opened #969 "Apps: user documentation"
So far we've talked about two types of documentation per app

1. Short summary with a graphic that goes on the app configuration page
2. Actual app details with equations that live in static content or wherever our viz docs are going.

We'll need 1 and 2 shortly for

- [ ] Alpha diversity
- [ ] Ranked abundance

Any other documentation we'll need for a particular app?

[2022-03-15 03:39] #810 closed

[2022-03-15 12:18] dmfalke opened #970 "InputVariables: Handle provided inputs"
Some apps may provide inputs that are used by visualizations. `InputVariables` needs to be updated to handle this in a graceful and generic way.

So far, there are two types of provided inputs: **computed variables** and **collection variables**.  **Computed variables** are not a part of the usual study variables, so are less straight-forward. We will likely need to augment the type of `selectedVa

[2022-03-15 15:27] moontrip commented on #966
@dave and @asizemore First of all, thank you for your detailed description made in this ticket @dmfalke. This is very helpful and resolves several questions I tried to ask 👍 I have tried to understand initial apps run and what we want to implement - studied some background knowledge about alpha div and ranked abundance too 😄

Based on the current status and Ann's works and issue, a couple of quest

[2022-03-15 15:32] bobular opened #971 "Map visualization: persist "mouse pointer mode""
The state of this little guy should persist in vizConfig

![image](https://user-images.githubusercontent.com/308639/158412541-af9270a5-85c2-4397-92f0-7f8440e28107.png)

It may need some web-components work on `MapVEuMap` because it doesn't have a `mouseMode` prop. Instead it has local state. While we are at it, we could remove the comments that start with "this is the React Map component" because

[2022-03-15 17:20] #963 closed

[2022-03-15 17:21] SheenaTomko opened #1048 "Allow conversion between units in Browse and subset tab"
For units like Fahrenheit, kg, etc. that we pre-determine can be converted, show a drop down menu for the unit so that users can change it.

Decision points:
1) Can users change the units outside the browse and subset tab? (like in a viz tool)
2) Which units and conversions will be allowed?

Previous redmine here: https://redmine.apidb.org/issues/43336
Old mockups: https://docs.google.com/presenta

[2022-03-15 17:25] #965 closed

[2022-03-15 17:28] SheenaTomko opened #985 "Enable download of data from visualization"

[2022-03-15 17:31] SheenaTomko opened #984 "Unify tooltips on home page"
[Original redmine](https://redmine.apidb.org/issues/39539) written by Cristina and assigned to Dave:

currently we have 2 styles:
- the basic title attribute that shows browser dependent and cannot be styled.
- the one with yellow background, mesa based.

(dave:
we have two tooltip components, one that is using the jquery qtip library, and one that Austin wrote along with Mesa.)

[2022-03-15 17:38] #884 closed

[2022-03-15 17:44] asizemore commented on #966
@moontrip for a) that's on my plate :) Let me see if i can't get you something to work with by the end of today!

[2022-03-15 17:45] SheenaTomko commented on #779
Pie plots work nicely for categorical vars. Clicking on and off values is smooth.

[2022-03-15 17:47] SheenaTomko commented on #948
Have to click the magnifying glass on the map, then can mouse over for enlarged pie plots with counts

[2022-03-15 17:47] moontrip commented on #966
@asizemore Thank you for your information. I think that I can live without it for the time being 👍

[2022-03-15 17:52] SheenaTomko commented on #875
Tried Bob's example above, and when I double clicked the 33 marker, it zoomed in and showed 3 markers for ~1 sec before one of the markers disaggregated into 15 markers.

[2022-03-15 19:19] #573 closed, assigned to moontrip, sweverschulman

[2022-03-15 20:26] asizemore opened #972 "Apps: Add Ranked abundance plugin"
Add a ranked abundance plugin. Eventually this app will have a scatterplot and boxplot as defined in the [spreadsheet](https://docs.google.com/spreadsheets/d/1oO265vVOVR13MovZDQ9ubG9-nIJGruz54wSyrmCAfQI/edit#gid=0).

This PR is ONLY to add the plugin and configuration page. Nothing more at this time. Adding visualizations will be handled in #966

[2022-03-15 20:28] asizemore commented on #304
Closed with PR #946 .

Nothing for outreach to QA

[2022-03-15 20:28] #304 closed

[2022-03-15 20:28] asizemore commented on #807
Closed with PR #960

Nothing for outreach to QA

[2022-03-15 20:28] #807 closed

[2022-03-15 21:24] asizemore commented on #303
Closing this issue, since we have #966 and #972 which are more specific.

[2022-03-15 21:24] #303 closed

[2022-03-16 12:40] #915 closed

[2022-03-16 15:10] asizemore commented on #955
Closed with #959

[2022-03-16 15:10] #955 closed

[2022-03-16 19:43] #838 closed

[2022-03-17 19:54] bobular opened #977 "Fix client to handle new study variable `displayType` values from studies service."
At the time of writing UMSP has the new values (see [here](https://github.com/VEuPathDB/EdaLoadingIssues/issues/22#issuecomment-1071031940))

"SCORE Seasonal" did have it but they were reverted for a demo this week.

There may be one other study, @jaycolin ?

NOTE: I will add another issue that actually makes use of the new values.

TESTING: make sure UMSP and SCORE Seasonal (when reloaded) load i

[2022-03-17 20:16] bobular opened #979 "Map visualization: make use of new `displayType` values in study variable metadata (frontend)"
See #977 for prior work.

When all mappable studies are loaded with the new `displayType` values for geo-related variables can be used by the map visualization code in `entityToGeoConfig` in `geoVariables.ts`.

[2022-03-18 13:51] bobular commented on #37
Yes, I'll close it.

[2022-03-18 13:51] #37 closed

[2022-03-18 14:20] nkittur-uga commented on #915
Visualizations work well without errors. QA is complete.

[2022-03-18 14:20] SAK22 commented on #810
Looks good in MAL-ED and Amazonia Peru

[2022-03-18 15:52] SheenaTomko commented on #977
This doesn't seem to be working. If I open UMSP on qa.restricted.clinepidb I get a very large error message. Maybe some fix wasn't pushed completely?

![Screen Shot 2022-03-18 at 10 52 03 AM](https://user-images.githubusercontent.com/54597319/159037067-281a5f3d-a389-463c-b77f-46d1cefe0fc4.png)

[2022-03-18 15:58] aaronwlsong commented on #963
It seems that the issue still exists among certain type of y-axis variables when x-axis is set up as ordinal var such as "age group".

Basically, when x-axis use "age group",  and  for y-axis:
Looks good now;
1.  Continuous vars: such as "respiratory rate", "age", etc.  (see pic 1 and 2)
2. For date type vars:  (see pic 5 and pic 6)

"500 error " happens ;
1. For categorical type vars such as "stu

[2022-03-18 16:29] moontrip commented on #965
@aaronwlsong just FYI, the ticket is for making sure of consistent y-axis range throughout multiple plots in facet mode (when using facet variable) - i.e., regardless of each plot's max/min values, so a sort of fixed axis range is used there in the faceted plots. From this viewpoint, your screenshots show consistent range for faceted plots which means it works fine 😄

[2022-03-18 16:34] aaronwlsong commented on #965
Thanks for your further explanation @moontrip 👍 , now I understand what this ticket is exactly for 😄

[2022-03-18 17:51] #590 closed

[2022-03-18 17:56] chowington commented on #590
To QA, check
1. All 5 back button cases in this ticket's first comment
2. In each of the 5 cases, the page does NOT jump all the way back up to the top when you use the back button to undo your last navigation
3. Using the browser back button should not make you lose any changes to the analysis you've made, like added filters, starred variables, or added visualizations

[2022-03-21 13:23] asizemore commented on #972
Closed with #973

[2022-03-21 13:23] #972 closed

[2022-03-21 19:42] asizemore opened #1036 "2x2: null supplied to relativeRisk results in malformed response"
Observed on clinepi live site and local clinepi dev (pulled backend and front end today).

GEMS, no subsetting
In the third row of `data`, `value` is an array of two length-1 arrays instead of two length-2 arrays.

<img width="1849" alt="Screen Shot 2022-03-21 at 3 38 37 PM" src="https://user-images.githubusercontent.com/11710234/159350987-f755fea0-2046-4ac3-a326-31ad740d48c4.png">

[2022-03-22 03:22] dmfalke commented on #958
The lodash function [orderBy](https://lodash.com/docs/4.17.15#orderBy) is well suited for this task.

[2022-03-22 03:38] dmfalke commented on #984
Even though the code is in EbrcWebsiteCommon, I moved this issue to web-eda since it has the labels we use for project management.

[2022-03-22 03:55] dmfalke commented on #988
I labelled this as **low cost**, referring just to the loading indicator for the table data, and for reducing the redundant requests.

[2022-03-22 18:17] dmfalke commented on #385
I believe this can be closed

[2022-03-22 18:17] #385 closed

[2022-03-22 18:38] jernestmyers opened #1030 "Data access restrictions modal has broken link to Data Access and Use Policy"
Clicking the link to the `Data Access and Use Policy` in the data access restrictions modal routes to a `Page Not Found` page.

I encountered this error doing the follow:
1. Navigated to MAL-ED study and clicked the "Download" tab
2. Clicked the "Participant Repeated Measures" dataset in the "My Subset" section
3. Clicked the link to the Data Access and Use Policy in the modal that popped up

![im

[2022-03-22 20:40] danicahelb commented on #935
discussed in 3/21/2022 EDA UX meeting. @danicahelb will make mockups based on feedback from the meeting:

**In the subsetting results download modal:**

1. Make it look more like a table that the user needs to configure: 4 ghost columns vs 1 single ghost column. Perhaps add a gear icon to the ghost column headers?
2. Change the “Add columns” text to “Build the table”
3. Try out having the variable

[2022-03-22 21:52] asizemore opened #992 "Apps: apps make 2 instances when the analysis gets saved"
When creating a new app (any app), sometimes a second app instance is also created accidentally.

Steps to reproduce:
1. Click to add a new app (alpha div, for example)
2. Click Add Computation
3. Go back to the Visualize page to check the list of apps
4. See if there were two copies initialized.

[2022-03-22 22:09] asizemore opened #993 "Apps: Ranked abundance box plot can appear on load"
The ranked abundance boxplot gets both its x and y variables from the computation/collection variable. Consequently the boxplot could appear as soon as the visualization loads.

Pro: User gets to see un-stratified visualization. This is arguably the most important view, as it would show exactly the distribution of abundance values for the top N taxa in the data.
Con: No other visualizations work l

[2022-03-22 23:52] bobular opened #994 "Standardise birds eye plot mouse-over with (?) icon and it should not be active when plot is hidden"
Make a new barplot, but don't pick a variable. Hover over the area above the almost empty table and you see a small rectangle appear.

The Lineplot viz has an example of the (?) font awesome icon we want to use.

[2022-03-23 12:40] moontrip commented on #994
I have know that issue too. Perhaps the simplest solution is to only show the BirdsEyeView component's return with a condition (e.g., birdsEyeData != null)

[2022-03-23 14:49] moontrip commented on #953
@asizemore Will change the codes to accommodate your suggestions at the `initial-apps-run-update` branch 👍

[2022-03-23 15:35] jernestmyers commented on #925
@danicahelb I believe this can be closed- I linked the PR after the merge, so it didn't close automatically.

[2022-03-23 19:22] bobular opened #996 "Visualisations: x-zoomed histogram is not including config.viewport.xMin/xMax in back end request"
e.g. GEMS1
histogram visualization
main var: Age
binWidth: 3 (default)
set the x-axis range [20,40]

You can see a tiny sliver of the (15,18] bar on the left hand side and its mouse-over is active.

Solution
`config.viewport.xMin` and `config.viewport.xMax` should be sent to the back end.

[2022-03-23 21:16] bobular commented on #967
Hi @chowington
Update from the dataviz meeting.

The plan for now would be to show a regular BirdsEyePlot next to the map showing the un-zoomed number of entities, but this won't be possible right now because we don't have `completeCasesAxesVars` in the response of the `map-markers` request. We need that for the "Data for axes" bar thingy.  The `completeCasesAxesVars` value doesn't change with vie

[2022-03-23 22:33] danicahelb commented on #884
reviewed icons with ann and we are in good shape!

[2022-03-23 22:56] danicahelb commented on #963
for LLINEUP, study timepoint cannot be selected for the x-axis.
<img width="1403" alt="image" src="https://user-images.githubusercontent.com/25450900/159809146-315fdf6c-f74b-4d0b-a5d2-27e30a3676e8.png">

I checked the value map and LLINEUP is correctly annotated as ordinal with "displayOrder". LLINEUP is also annotated as is_temporal = yes in the conversion file

[2022-03-23 23:02] danicahelb commented on #963
@aaronwlsong you were getting the 500 error when trying to plot categorical data on the y-axis. this is not yet working, but will be fixed in https://github.com/VEuPathDB/web-eda/issues/956

[2022-03-23 23:20] danicahelb commented on #825
Hi @bobular, I took a look with LLINEUP and found some issues:

1. the y-axis range is currently being set by the range of raw data values and not by the range of the mean (or median, etc selected by the user). outliers in the raw data are making the plots virtually useless for most selections.
<img width="1274" alt="image" src="https://user-images.githubusercontent.com/25450900/159811058-0dd5c07a

[2022-03-24 03:25] moontrip commented on #996
thank you for your information, @bobular I will take a look at it.

[2022-03-24 14:29] d-callan commented on #825
so the yaxis comments.. currently what were doing is setting the range in a similar way to scatter, which is based on annotated ranges, or when those arent available the range of the data. it seems worth knowing, to me, that the mean of some value typically sits very low in the range of the data for ex. also this ensures that any time the user puts the same var on the yaxis in the line plot they s

[2022-03-24 14:30] #958 closed

[2022-03-24 15:03] d-callan commented on #643
im inclined to close this since we implemented a line plot rather than time series.

[2022-03-24 15:03] #643 closed

[2022-03-24 15:13] d-callan opened #1103 "Visualizations: Stronger indicators for zoomed visualizations"

[2022-03-24 19:09] dmfalke opened #997 "Add support for external documentation site (e.g., static content)"
_Originally mentioned in https://github.com/VEuPathDB/web-eda/issues/932_

We want to add first class support for documentation coming from an external site. I think we want to take an approach were URLs that 404 are reported in some way. This is one way we can do that:

- Add a prop to `WorkspaceRouter` for the base url of a documentation site.
- Create a new React component for rendering documen

[2022-03-24 20:51] asizemore opened #998 "Mosaic plot (2x2 and RxC) tabs need styling fix"
When making a mosaic visualization, tables are positioned so that they overlap the nice tab list.

Here if we look at the mosaic view we can see a nice line under the tabs...

<img width="878" alt="Screen Shot 2022-03-24 at 4 48 39 PM" src="https://user-images.githubusercontent.com/11710234/160008034-a4bcb1ac-46fc-4ce6-bb0a-d979262e7716.png">

but if i switch to the table or statistics view, the t

[2022-03-24 22:01] bobular commented on #825
@danicahelb how would you feel if we don't change the y axis scaling behaviour right now, and (y and probably x when continuous) axis zoom controls were added for b57?  Seems like we need at least a discussion with an odd-number of people ;-)

[2022-03-25 14:00] jtlong3rd opened #1000 "Header: Add User-Uploaded Studies to "Studies" Dropdown"
As mocked up [here](https://www.figma.com/file/3BZwX3F6P00Ik0E4mgljbp/DIY-workspace?node-id=11%3A21)

[2022-03-25 14:17] sweverschulman commented on #838
checked functionality over three different studies and can confirm that as soon as I click the star variable it shows up automatically in the variable tree when filtered for star vars in the tree.

[2022-03-25 15:53] jernestmyers opened #1045 "Reduce duplicated fetch calls in SubsettingDataGridModal"
This issue extends [this issue regarding the performance of the download modal](https://github.com/VEuPathDB/web-eda/issues/988).

Specifically, when `handleSelectedVariablesChange` is first triggered on a new study, the `fetchPaginatedData` method is called 3 times. Subsequent click events only trigger one fetch call, as desired.

The fetch call is made [in this `useEffect`](https://github.com/VE

[2022-03-25 16:44] sweverschulman commented on #573
The following plots allow for zooming/truncation

- Scatter Plot - both axis
![ScatterZoomIndiaICEMRCohort](https://user-images.githubusercontent.com/62298921/160163473-59071538-9bdb-49eb-ab0e-00c66babe7d3.png)

- Histograms - both axis
![Screen Shot 2022-03-25 at 12 36 27 PM](https://user-images.githubusercontent.com/62298921/160163593-99b4f285-1183-48f6-9bdd-17bfd03f106b.png)

- Bar plot - y axi

[2022-03-25 17:06] sweverschulman opened #1044 "Inconsistent min values between browse/subset & default min scatter plot"
Noticed that the min values in the scatter plot for 'Schistosoma mansoni infection intensity, by microscopy (eggs per gram)' by 'Hookworm infection intensity, by microscopy (eggs per gram)' in SCORE Burundi and those in the browse/subset tab are different.

In the browse subset tab - both variables min are 0
![Screen Shot 2022-03-25 at 11 26 41 AM](https://user-images.githubusercontent.com/6229892

[2022-03-26 17:37] bobular commented on #994
I have just added a new help tooltip in Lineplot

![image](https://user-images.githubusercontent.com/308639/160250934-6f5cb6e4-a21f-4c81-b4a5-b7578f41fd37.png)

as per the mockups [here](https://docs.google.com/presentation/d/16xCzGUs744KD3IQ91ITMt30pbAF9SJ7yvOkWZoE-AeE/edit#slide=id.g1097c687406_0_96)

I wonder if we should standardise and put a font-awesome `fa-question-circle` next to the birds

[2022-03-26 17:44] bobular commented on #994
We don't want the variable data/no data table below to jump around.  But maybe that could disappear too.  What we want is nice behaviour for the first plot the user makes, and then on every tweak they make to it.  Perhaps the BirdsEye should stay on the screen during an update (like the main plot does).

The empty variable table looks a bit bad IMO.  Tidying up all this behaviour would be nice to

[2022-03-27 09:53] bobular commented on #963
Regarding the x-axis variable and the comment 3 in https://github.com/VEuPathDB/web-eda/issues/825#issuecomment-1076912300

Currently allowed dataShapes are `ordinal` and `continuous` - that is the only constraint.

LLINE-UP Study timepoint is `categorical`.  The `isTemporal` is not taken into consideration by lineplot constraints.  We'll either need to change the constraints (and potential front

[2022-03-27 11:20] bobular opened #1003 "Visualizations: switching from number to date variable on scatterplot and (forthcoming) lineplot y-axis causes an exception"
This may also affect other visualizations, but for sure scatter and line.

Reproduce with any scatter plot with two number variables on x and y. Then change the y variable to "observation date" (GEMS1, or whatever date variables are available in the study you are using).

The problem is that, when the user changes the `yAxisVariable`, the `defaultDependentRangeMargin` calculation uses the new valu

[2022-03-27 15:06] moontrip commented on #1003
@bobular Thank you for reporting the bug. I will take a look at it. Have a great vacation!

[2022-03-29 20:27] asizemore commented on #954
Closed with #962

[2022-03-29 20:27] #954 closed

[2022-03-30 13:19] jtlong3rd opened #1005 "ClinEpi Header: "Studies" menu loading indicator doesn't always appear"
On a user's first visit to the page, the "Studies" menu correctly shows a loading indicator.

On a user's second+ visit to the page, the loading indicator does not appear; instead, some blank space appears under the searchbar. This blank space is replaced with the studies as soon as the "permissions" are loaded.

To resolve, the logic for the loading indicator needs to be changed so that it's rend

[2022-03-30 14:08] asizemore commented on #993
I think this is related to #952 . I'm pretty sure if we can have `outputEntity` immediately get set, then the box would appear.

Note: for alpha div and ranked abundance, the outputEntity should be the collection var entity.

[2022-03-30 14:44] asizemore commented on #993
@moontrip to be honest i'm not 100% sure why it's xAxisVariable in the pass app, because the output entity constraints in the backend are based on the yAxisVariable. But i'm sure there's a reason i just don't know of or understand 😄 !

Yes exactly. Right now we're always inputting a collection variable to the app, and the output computed variable will have the same entity as the collection variabl

[2022-03-30 17:15] moontrip commented on #993
@asizemore great to know! IDK why we used xAxisVariable as outputEntity in most (think all though) Vizs but perhaps it comes from an initial Viz component: basically other Vizs were based on the initial/prototype one, but no complaints from others for that outputEntity so maybe works fine somehow? haha

Your explanation makes sense to me 👍 Just want to make sure that you are talking about [this on

[2022-03-30 17:22] asizemore commented on #993
Ooh yes good question. From my small investigation into getting the box to just appear on load for the abundance app, I _believe_ that assigning the first one ` const outputEntity = useFindOutputEntity(` would be enough, because I _think_ this [line](https://github.com/VEuPathDB/web-eda/blob/77b822c9fd923d598fd90716687c8e971d6bd339/src/lib/core/components/visualizations/implementations/BoxplotVisu

[2022-03-30 21:00] SheenaTomko opened #1043 "Use the value order for multifilters"
EX: PROMOTE has multifilters like "Child symptoms" where the values for each multifilter variable should be ordered Absent, Mild, Moderate, Severe, Life-threatening. However, right now they appear in alphabetical order, despite Jay loading the value order.

<img width="456" alt="Screen Shot 2022-03-30 at 3 59 38 PM" src="https://user-images.githubusercontent.com/54597319/160929915-856f3611-946c-4d

[2022-03-30 21:46] asizemore opened #1006 "Scatter: Errs when no data points are returned"
<img width="1141" alt="Screen Shot 2022-03-30 at 5 43 27 PM" src="https://user-images.githubusercontent.com/11710234/160936237-f1f13427-47cc-4192-af78-926ff3cb0c80.png">

Took this screenshot _right_ before the error covered the screen 🙂  Looks like the scatterplot response has `scatterplot.data` as an empty array. `sampleSizeTable` is also an empty array.

Would the front end prefer an empty arra

[2022-03-30 21:59] asizemore opened #1016 "Scatterplot: Give feedback when smoothed mean returns no points"
To reproduce the error:

Filter: Cluster study arm: Handwashing

<img width="1786" alt="Screen Shot 2022-03-30 at 5 56 31 PM" src="https://user-images.githubusercontent.com/11710234/160937782-d540214d-2696-4e94-806a-2fe53aedad49.png">
<img width="1692" alt="Screen Shot 2022-03-30 at 5 56 41 PM" src="https://user-images.githubusercontent.com/11710234/160937796-70b8226f-0263-44db-92f3-e74d1e35f95a.p

[2022-03-31 13:33] asizemore commented on #992
Ahh i think it happens only on the first app that gets created. After clicking on add app the first time, it saves the analysis. Then we get back to that page that has the add app button.

[2022-03-31 13:49] jtlong3rd opened #1008 "ClinEpi DIY: Incorporate User-Uploaded Studies into "All Studies" page"
As mocked up [here](https://www.figma.com/file/3BZwX3F6P00Ik0E4mgljbp/DIY-workspace?node-id=16%3A157).

[2022-03-31 14:29] moontrip commented on #1006
@asizemore I think that perhaps this can be handled at the front end. Will test this later.

[2022-03-31 15:47] asizemore commented on #992
another observation: if the analysis has already been saved (for example because we starred some vars in the subset tab), this does not happen

[2022-03-31 17:44] asizemore opened #1042 "Visualizations: move "clear selection" action outside dropdown"
Currently the Clear selection button lives inside of the variable picker dropdown. Users may get confused and think they have to clear their selection before selecting a new variable.

<img width="495" alt="Screen Shot 2022-03-31 at 1 42 24 PM" src="https://user-images.githubusercontent.com/11710234/161117116-7cf29409-41ec-4570-a097-b64b0d773a88.png">

To clear this up, the proposal is to separate

[2022-03-31 19:03] SheenaTomko commented on #958
@aaronwlsong, when qc'ing, use UMSP or some of the SCORE studies like SCORE seasonal, which have geolocation data, as well as some studies like PRISM, which doesn't.

[2022-03-31 19:18] aaronwlsong commented on #958
Checked different type studies, it looks good now. Closing ticket.

Eg1. Study includes geolocation data

<img width="1996" alt="Screen Shot 2022-03-31 at 3 13 03 PM" src="https://user-images.githubusercontent.com/61077845/161132446-5616f21d-49d9-458a-8311-ee3f2f91eab1.png">

Eg2. Study does not include geolocation data

<img width="1931" alt="Screen Shot 2022-03-31 at 3 18 19 PM" src="https://use

[2022-04-01 17:14] d-callan commented on #967
I don't think the map marker endpoint accepts a viewport, so I assumed totalling counts across all markers w non empty key/ aggregate value would work. If that makes sense, then I dont much have a preference i think between doing that back vs front end.

[2022-04-04 22:33] danicahelb opened #1013 "add a “New!” icon on new tools & studies"
Discussed in 4/4/2022 EDA meeting

How do users know when something is “new”?
Currently, all new studies and tools are indicated in the news and newsletter
It may be nice to add a “New!” icon on new tools & studies

[2022-04-04 22:34] danicahelb opened #1015 "Plot padding should not affect data ranges"
Discussed in 4/4/2022 EDA meeting

Padding in plots prevents data points from appearing on axes
Currently the padding looks like data (ie, shows up in the range selector in axis zoom controls); if the user truncates the padding, a yellow bar blocks the data even though only the padding was truncated out
Padding should instead be a few pixels of space around the edges of the plot; the range selecto

[2022-04-04 22:47] danicahelb opened #1012 "Improve UI for 3 main sections requiring user input on Line plots"
Discussed in 4/4/2022 EDA UX meeting

There are 3 main sections requiring user input on line plots.

1. X-axis and Y-axis variable selectors → standard on all visualization tools
2. Y-axis aggregation function selector → specific to line plots
3. Stratification variable selectors → standard on all visualization tools

Improvements needed:

- [x] The UX for these 3 sections needs better organizatio

[2022-04-04 22:53] danicahelb commented on #825
Discussed in 4/4/2022 EDA UX meeting.

- [ ] Error bars should be “on” as the default; user can choose to toggle them “off”

- [ ] For mean & medians, the y-axis range should always include the origin

- [ ] For mean & medians, the absolute value of the maximum for the y-axis range should be scaled to the calculated mean or median values (plus error bars) instead of to the inferred or annotated ra

[2022-04-04 22:54] danicahelb commented on #956
Discussed in 4/4/2022 EDA UX meeting

For proportions, the y-axis range should always extend from 0 to 1

[2022-04-04 22:59] danicahelb opened #1011 "Improve UI for axis controls on visualizations"
The UX for x-axis and y-axis controls is confusing, it is not clear that X-axis and Y-axis are titles for these sections

Suggested improvements:
Underline the text for x-axis and y-axis
Put a line between the controls for x-axis and y-axis

Similar styling of the axis controls section should be implemented for all visualizations

[2022-04-04 23:12] danicahelb commented on #967
Notes from 4/4/2022 EDA UX meeting:

We will offer users the option to choose between 3 map markers: (https://www.figma.com/file/GhufkPGsVPmhdb8terdaxk/Map-viz?node-id=0%3A1)

1. Bar plots of counts
2. Bar plots of proportions
3. Pie plots

Categorical variables will use a discrete color map

Continuous variables will use a gradient color map
- Default # of bins for continuous variables = 8. This

[2022-04-05 11:44] bobular commented on #967
Hi @d-callan -

It doesn't.  I've been adding the viewport as a regular `filter`.  FYI

[2022-04-05 13:01] bobular opened #1010 "Lineplot visualization: y-range tweaks and default error bars on"
Discussed in 4/4/2022 EDA UX meeting.

- [ ] Error bars should be “on” as the default; user can choose to toggle them “off”

- [ ] For mean & medians, the y-axis range should always include the origin

- [ ] For mean & medians, the absolute value of the maximum for the y-axis range should be scaled to the calculated mean or median values (plus error bars) instead of to the inferred or annotated ra

[2022-04-05 13:11] bobular commented on #1013
While thinking about this, maybe consider tooltips and one-time help overlays (for old and new features) too.

[2022-04-05 13:49] #1003 closed

[2022-04-05 13:57] bobular opened #1014 "Tech debt: include configuration info in visualization `data` objects to handle transitions better"
Background: the `data = usePromise(...)` paradigm is working nicely, but we should be aware that the previous value is preserved in `data.value` until new data is "delivered".  This means that, for example, a plot y axis variable could be changed from a numeric variable to date variable, and so `yAxisVariable` gets instantly updated to the new date variable - however, data for plot ranges could be

[2022-04-05 13:58] d-callan commented on #967
aha! im finally getting it. that makes it quite hard doesnt it.. i suppose were talking then about adding a viewport prop to the map-markers endpoint. then i can total there the counts pre-viewport-adjustment.

[2022-04-05 14:05] d-callan commented on #967
also noticing @danicahelb comment above about special binning for dates, and not sure i understand. In the lineplot we use bin widths so it makes sense to ask the user to specify things like '1 week' but i thought in the map we were going to use number of bins... if someone could elaborate on what special binning we want for dates when number of bins is specified thatd help me.

[2022-04-05 15:35] #996 closed

[2022-04-05 15:38] moontrip commented on #813
This was addressed at https://github.com/VEuPathDB/web-eda/pull/1007 Feedbacks from the UX mtg will be addressed in the other tickets

[2022-04-05 15:38] #813 closed

[2022-04-05 15:40] chowington commented on #967
@danicahelb I don't plan on incorporating those changes decided in this week's UX meeting in *this* ticket---I think it's best to stick with the changes mentioned in the top comment as this ticket's scope. Maybe we can make another ticket for the subsequent changes?

[2022-04-05 15:49] d-callan commented on #963
idk that setting the display order is the same as making a string ordinal? is the proposal that this should be the case bc id be hesitant of that...

[2022-04-05 16:46] sweverschulman commented on #590
I was able to confirm that using the back button in the below cases allows for the page to change and yet not loose any data.

[2022-04-05 16:46] bobular opened #1017 "Lineplot: big pink error when switching date binning from 6 months to years."
GEMS1
Lineplot
x: enrollment date
y: age
switch binning on and change to 6 months.
Then switch to years:

[code]

[2022-04-05 17:03] bobular commented on #1017
This is a duplicate of https://github.com/VEuPathDB/plot.data/issues/144 - closing.

[2022-04-05 17:03] #1017 closed

[2022-04-05 17:18] danicahelb commented on #963
Had a call with @d-callan @jaycolin and @SheenaTomko

We decided that Jay will patch the database so that any term where valueOrder has been annotated in the valueMap will have dataShape = ordinal.

From [SOP 2.06](https://docs.google.com/document/d/1iW-slJzSHDGe3Ws3KPjc2UJtvEDc37_kR-x1juxr2aM/edit):

_**valueOrder**: Populate with "1", "2", "3", etc to have the values show up in a certain order o

[2022-04-05 22:59] asizemore opened #1019 "Apps: Add app title div - basic function"
Once we enter an app, currently there is no indication on the page of what app we're in. To solve this problem, let's add the app title + name to the top of each page.

*NOTE:* This ticket is only for the basic implementation, and styling will be covered in a later ticket (styling not yet approved and we won't be doing mbio styling tickets for another month at least).

For example, the title would

[2022-04-06 16:50] bobular commented on #977
Needs testing when the studies come back on line.
I haven't tried UMSP for a few weeks, but SCORE Seasonal was working fine (which also has the 'geoaggregator' variable annotation) so I think this is probably already fixed.

[2022-04-06 19:02] moontrip commented on #1011
Hi @danicahelb I made a mock up for two colors of vertical line on the scatterplot viz: with underscored text for X- and Y-axis. Think that light gray works but just in case made a gray line too. Do these changes satisfy the improvements you have listed? Certainly will do this for other Vizs.

- light gray line
![scatter-lightgray](https://user-images.githubusercontent.com/12802305/162049094-5832c

[2022-04-06 22:00] bobular opened #1020 "Fix birds eye plot numbers for map visualization for b57 (or disable if the data isn't available)"
I (@bobular) have merged Connor's work into `main` so I can do some major work on `InputVariables`.

This is just a reminder not to let the placeholder birds eye plot go out in b57 - it doesn't currently show the numbers we want it to.

[2022-04-06 22:20] #967 closed

[2022-04-07 12:35] SheenaTomko commented on #977
Yes this works fine now. Closing and marking as complete

[2022-04-07 12:35] #977 closed

[2022-04-07 16:52] danicahelb commented on #1011
This looks much better! I like the grey line version. Thanks @moontrip!

[2022-04-07 18:43] moontrip commented on #1011
discussed with Danica via slack about that, shared mockups. Leaving some summary in this comment for a record.

Texts are now changed to black. Border color of input boxes is not pursued for now as it is material-ui stuff: but will revisit it later. Final product looks like this.

![black](https://user-images.githubusercontent.com/12802305/162274372-ae18cc05-e0d3-4cfc-a63f-33182660f80e.png)

[2022-04-07 18:55] moontrip commented on #1011
due to above change, now this PR relies on a [PR at web-components](https://github.com/VEuPathDB/web-components/pull/337)

[2022-04-07 19:33] asizemore commented on #1011
Hi sorry to butt in but i'm concerned about adding the underline. I think this would be one of maybe a few underlines, and it's the only one on the page which suggests it's of higher importance than text that is of similar height and weight/boldness. I don't think that's true in this case, and for that reason strongly caution against adding the underline.

Repeating the "Axis Variables" and "Strat

[2022-04-07 19:50] moontrip commented on #1011
Thank you for sharing your thought, @asizemore. I also heard the same opinion from @bobular, going without borderline. What do you think, @danicahelb?

[2022-04-07 19:55] danicahelb commented on #1011
Yes, I see @asizemore's point.

So we would use the same font and size for "Y-axis" and "X-axis" as we do above for "Axis variables" and "Stratification variables" (no underline).

How do you all feel about changing the verbiage to "Y-axis controls" and "X-axis controls"? @bobular @asizemore @steve-fischer-200 @moontrip  @SheenaTomko

[2022-04-07 20:08] moontrip commented on #1011
Personally I like to add `controls` word, which is more clear to me.
However... I may be wrong for this - it was named as `X-axis controls` in the very beginning, but shortened to `X-axis` for some reasons.

[2022-04-07 20:12] SheenaTomko commented on #1011
I also like the idea of adding "controls" to the labels.

[2022-04-07 20:41] asizemore commented on #1011
Love adding "controls"!

[2022-04-07 22:58] danicahelb commented on #918
@dmfalke can we use `<history buildNumber="999"/>` from the presenter? We are currently setting the build number for pre-release studies to "999".

"999" could be used to represent pre-release studies with data loaded and we could choose another number, such as "888" to represent pre-release studies that do not yet have data loaded.

Note: PERCH has data loaded now

[2022-04-07 23:03] danicahelb commented on #925
looks good, thanks @jernestmyers

[2022-04-07 23:03] #925 closed

[2022-04-07 23:46] danicahelb commented on #963
@jaycolin fixed the issue with categorical/ordinal data shape for all studies.

I tested with LLINEUP, using "Study timepoint" on the x-axis. I was able to select this variable now, but it gives a 500 error:

<img width="1422" alt="image" src="https://user-images.githubusercontent.com/25450900/162336848-64dac5a0-5354-4d7d-92da-6d26994d4021.png">

[2022-04-07 23:58] danicahelb commented on #1016
yes, we should definitely offer feedback.

[2022-04-08 02:14] danicahelb opened #1025 "Map viz markers"
Notes from 4/4/2022 EDA UX meeting:

We will offer users the option to choose between 3 map markers: (https://www.figma.com/file/GhufkPGsVPmhdb8terdaxk/Map-viz?node-id=0%3A1)

1. Bar plots of counts
2. Bar plots of proportions
3. Pie plots

[2022-04-08 02:15] danicahelb opened #1041 "Gradient color map needed for continuous variables"
Notes from 4/4/2022 EDA UX meeting:

Categorical variables will use a discrete color map

Continuous variables will use a discrete gradient color map

Default # of bins for continuous variables = 8. This matches the max number of bins allowed for categorical data
We will allow users to change the total number of bins

We don't need to define a maximum number of bins for continuous variables. If th

[2022-04-08 02:35] danicahelb commented on #967
@d-callan @bobular I'm moving the binning issue to https://github.com/VEuPathDB/EdaNewIssues/issues/217

[2022-04-08 02:46] danicahelb opened #1040 "Map viz: Legend support discretized gradient colormaps"
talking to @asizemore, we noted the legend needs updating to interpret the new gradient colormap that will be used with continuous variables on the map

Fixed by #1186

the gradient colormap ticket is: VEuPathDB/web-eda#1041

[2022-04-08 10:16] bobular commented on #1011
Haha yes we have probably been around in circles from "X-axis controls" already. I don't remember why we changed the first time.  I do remember the first iteration of this being more visually complex (outlined boxes, fancy labels embedded in the outline). Maybe we pushed to simplify and went too far?

Happy to (re)add "controls"

[2022-04-08 13:23] moontrip commented on #1011
thank you for sharing your thoughts, all. Here is a screenshot to have 'controls' and revert back to original text style, FYI.

![axis-controls](https://user-images.githubusercontent.com/12802305/162444453-3984da04-8022-4358-96e7-3e18d55ce057.png)

[2022-04-08 13:48] asizemore commented on #952
Moving to tech debt because i think it falls into the viz/app reorganization category.

[2022-04-08 14:09] bobular commented on #1010
Currently, proportions for categorical y mode are not treated specially. That is to say they are scaled from 0 to max(proportion) not 0 to 1.

I think this is fine (and when faceting the y ranges are all the same).  But willing to implement 0 to 1 if needed @danicahelb

[2022-04-08 18:09] danicahelb commented on #1010
@bobular lets go with what you've got.

**Note to ClinEpi QA person:** when QA'ing pay attention to y-axis scale in proportion mode. If it seems like we want to implement default scaling from 0 to 1, please open a new ticket

[2022-04-08 18:29] danicahelb commented on #971
This ticket is for situations where the user changes the mouse mode from the default, leaves the visualization, and then re-opens the viz. When this happens, we want to the users mouse mode selections to persist selections when they leave and come back

[2022-04-08 18:35] danicahelb commented on #979
dependent on backend work in https://github.com/VEuPathDB/EdaLoadingIssues/issues/22

[2022-04-08 18:36] danicahelb commented on #979
changes all made in database and frontend allows displayType but doesn't actively use it yet. @bobular how essential is this to make maps usable in b57?

[2022-04-08 19:41] danicahelb opened #1039 "Implement marginal plots on visualizations"
Line plots have brought to my attention that we need to implement marginal plots sooner rather than later! Counts in the mouseover are helpful but the plots are still really prone to misinterpretation!

In a line plot of LLINEUP data "Plasmodium asexual stages, by microscopy result" vs "Female non-anophiline count" with bin width of 10 has >6000 data points on the left of the plot and 1-2 data poi

[2022-04-08 20:38] danicahelb commented on #881
Hi @moontrip I moved this ticket out of next cycle as we had concerns that upgrading so close to the release could cause breakages.

[2022-04-08 21:04] bobular commented on #979
Not at all essential, and potentially risky to do this right before release. Definitely one for b58 though.

[2022-04-08 21:08] jernestmyers commented on #943
I'm putting a pause on this issue for now because I've yet to find a viable solution. But I wanted to document some things for future reference.

First, the following block of code circumvents the call to `getStudyMetadata` for `prerelease` studies. Without this early return, a `500 Internal Server Error` is thrown that states `Found no entities for study: <study name>`.
https://github.com/VEuPath

[2022-04-08 21:39] moontrip commented on #478
There has been lots of changes for axis range-related functions since this ticket made, so I think that this was already satisfied. Closing this.

[2022-04-08 21:39] #478 closed

[2022-04-11 11:15] bobular commented on #924
This is mainly an issue for small screens.  The moving of the supplementary plots between faceted and non-faceted is intentional and I think has already been through the committee.

There is a related issue with the new map viz which causes wrapping of the birds eye plot below the map, which @chowington and I have discussed (but I don't remember where). The map's main viz panel is wider than the o

[2022-04-11 13:04] jernestmyers commented on #924
@bobular Obviously, I don't know the history of these UX conversations. I played with this Friday afternoon and thought it made sense to fix the table, birds eye, and legend to be above the visualizations. I've attached pictures to demonstrate how it behaves when building a visualization. My screenshots are in Firefox on a 27" monitor.

1. New scatterplot
![image](https://user-images.githubusercon

[2022-04-11 13:52] asizemore commented on #933
Noting that this ticket is more meaningful now that the mbio eda is coming online soon. The mbio blue is different enough that the color discrepancy is really obvious.
Attaching a b58 label.

[2022-04-11 16:41] #926 closed

[2022-04-11 16:50] #1012 closed

[2022-04-11 18:21] bobular commented on #924
We should also consider @danicahelb , @asizemore  etc hiding the empty completeness table because IMO it looks weird.

We should be careful that things don't jump around the screen while things are loading. For example, the birds eye component is hidden with, IIRC,  the `visibility` CSS property, in order to preserve its real-estate.

Just for the record, this is mentioned (in passing only) here:

[2022-04-11 19:41] SheenaTomko commented on #385
@danicahelb reminder that this is ready for qa

[2022-04-11 19:48] #1030 closed

[2022-04-11 20:04] SheenaTomko commented on #988
Now the subset modal table loads in <5 sec and has loading indicators both when you open the modal and when you add columns. Downloading still takes a long time, >1 min to see the file start downloading, but we can address that in a separate ticket

[2022-04-11 20:08] SheenaTomko commented on #1006
This is minor, but can we update the error message text? Can we remove the word "currently" from the text so it reads "The visualization cannot be made because there is no plottable data for selected variable(s) in the current subset."

<img width="1116" alt="Screen Shot 2022-04-11 at 3 07 12 PM" src="https://user-images.githubusercontent.com/54597319/162823171-7fb68ea8-e967-4d2e-a6b1-a566cb4b0cc0

[2022-04-11 20:12] moontrip commented on #1006
@SheenaTomko I am working on another scatter plot bug ticket so I can change the sentence with your suggestion sometime this week 😄.

[2022-04-11 20:26] dmfalke commented on #988
See https://github.com/VEuPathDB/EdaSubsettingService/issues/58

[2022-04-11 20:39] SheenaTomko commented on #967
Everything looks good except the birds eye plot which has it's own separate ticket: https://github.com/VEuPathDB/web-eda/issues/1020

[2022-04-11 20:49] aaronwlsong commented on #1003
It seems that after change y as date format var, the range is still number not date format.

In GEMS1 Case control, scatter plot, using x=weight, y=age as initial vars, then change y to "observation date
<img width="1739" alt="Screen Shot 2022-04-11 at 4 42 48 PM" src="https://user-images.githubusercontent.com/61077845/162828707-1f9f25db-3ac6-4d5b-b948-f74defc60ae9.png">

<img width="1445" alt="Sc

[2022-04-11 21:06] moontrip commented on #1003
@aaronwlsong thank you for your detailed review! 👍

[2022-04-11 21:11] SheenaTomko opened #1038 "Update UI for line plot viz tool, including addition of geometric mean option"
Came up in the Uganda meetings. Geometric mean can be more useful for looking at variables with exponential growth, like parasite densities. We'd like to add geometric mean as an option for aggregating and plotting continuous data on the Y-axis of a line plot

[2022-04-11 21:22] danicahelb opened #1037 "Map viz tool need variable completeness table"
Please add a variable completeness table to the map visualization. The table should include information on the main variable as well as for lat/long coordinates

[2022-04-11 21:32] #984 closed

[2022-04-11 21:54] danicahelb commented on #924
discussed in 4/11/2022 EDA UX meeting.

**In non-faceted view**, the layout should be 2 columns:
1. Left column, ordered from top to bottom: (i) plot and (ii) viz controls
2. Right column, ordered from top to bottom: (i) legend, (ii) birds eye bar plot, (iii) variable completeness table

**In the faceted view**, the right column should be transposed into a row above the left column. The order from

[2022-04-11 21:55] danicahelb commented on #924
@bobular @jernestmyers I also agree that we should hide the variable completeness table until it is populated

[2022-04-11 22:22] danicahelb opened #1035 "Allow mean, geo mean, or median per region to show on map with a color scale background"
Came up in the Uganda meetings. Geometric mean can be more useful for looking at variables with exponential growth, like parasite densities. We'd like to add geometric mean as an option for aggregating and plotting continuous data on the Y-axis of a line plot

We'd like to enable people to choose to show (i) mean, (ii) geometric mean, or (iii) median value of a continuous variable in a region. The

[2022-04-12 00:10] danicahelb commented on #956
The line plot is not properly calculating proportions. For example, in LLINEUP I tried to plot proportion of malaria positive by thick smear across study timepoints. malaria positive by thick smear has values of yes, no, and did not consent. If I select values of yes in the numerator and yes, no in the denominator, I get a proportion of 1/2 for all timepoints. if i select values of yes in the nume

[2022-04-12 00:13] danicahelb commented on #956
also, i believe we decided that we will NOT offer error bars for the proportion mode. @d-callan @asizemore can you confirm?

[2022-04-12 00:18] danicahelb opened #1034 "line plot error message when selecting non-ordinal categorical x-axis variable"
I was testing the line plot tool with LLINEUP data, trying to see if non-ordinal categorical variables could be selected on the x-axis. when I changed the x-axis variable from "age group" to "country" I got the error message below (Note, technically I should NOT be able to select "country" for the x-axis on the line plots (see VEuPathDB/EdaLoadingIssues#28)

<img width="1416" alt="image" src="http

[2022-04-12 00:44] d-callan commented on #956
That problem w the proportion calculation was a known bug a bit ago that I thought I resolved already. I can check on it. As for error bars I don't see any reason not to offer them, and it's possibly confusing to the user if we don't without explanation.

[2022-04-12 09:08] #1020 closed

[2022-04-12 15:43] d-callan commented on #1036
i also admit to not fully understanding how the title of this ticket related to its content. the title suggests we failed to calculate relativeRisk but the content seemed like it was an issue in the data obj? maybe ive just misunderstood something here, in which case obviously feel free to send it back to me.

[2022-04-12 16:16] asizemore commented on #1036
Ahh okay then yes sending to web-eda is great thank you!

Yikes what does this title mean? Maybe just changing to the first line of the error would be more helpful since it's in web-eda now anyways. Sorry about that

[2022-04-12 16:27] moontrip commented on #1044
@sweverschulman (and @dmfalke)  we have ticket to address this, https://github.com/VEuPathDB/web-eda/issues/1015, for next release (b58) - will start working this just after b57 works are done

[2022-04-12 16:51] SheenaTomko opened #1054 "Add link on study details tab to download that page's information"

[2022-04-12 17:38] danicahelb opened #1053 "Allow users to edit plot & legend labels"
We'd like to offer users the ability to change the labels on all visualization x-axis, y-axis, title (for faceted plots), and legend values.

A use case for this would be a user who created a line plot of P. falciparum vs time in proportion mode, who would like the y-axis label to be changed to parasite prevalence

[2022-04-12 17:56] danicahelb commented on #1012
It looks very nice now!

[2022-04-12 17:57] dmfalke commented on #956
It was an oversight. I will update tagger now!

[2022-04-12 17:59] dmfalke commented on #956
https://github.com/VEuPathDB/tagger/commit/448e3cd84c447e759536251c19f8f606cb8ff520

[2022-04-12 17:59] nkittur-uga commented on #1010
This seems to work as expected. QA is complete.

Note that default scaling looks to be from 0-1 (which is fine) and not 0-max. See screenshot for example.
<img width="1283" alt="Screen Shot 2022-04-12 at 11 06 39 AM" src="https://user-images.githubusercontent.com/67710160/163025006-41634281-efe5-41a7-9ccf-069e1bb59ca7.png">

[2022-04-12 18:00] danicahelb opened #1052 "Minor updates needed for clickable info icon next to "Y-axis aggregation" for line plot viz tool"
On the line plot viz tool, there is a clickable popup for more information next to "Y-axis aggregation". some minor updates are needed.

1. The question mark icon is black. Elsewhere on the site, the question mark icon is blue. Please change color to blue.

<img width="146" alt="image" src="https://user-images.githubusercontent.com/25450900/163025082-c94fa0ee-1955-471f-8460-83e7c6e14c66.png">
<img

[2022-04-12 18:04] danicahelb commented on #385
Looks nice!
<img width="1068" alt="image" src="https://user-images.githubusercontent.com/25450900/163025678-697f2a57-10d7-40a6-a962-069d9febc054.png">

[2022-04-12 18:09] danicahelb commented on #1011
@moontrip please increase the font for "Y-axis controls" and "X-axis controls" text so that it uses the same font and size as the text for "Axis variables" and "Stratification variables".

Everything else is looking really nice!

<img width="1252" alt="image" src="https://user-images.githubusercontent.com/25450900/163026213-ec8c2492-d525-4ca7-82e5-e355c134d92a.png">

[2022-04-12 18:10] nkittur-uga commented on #813
Tested that line plots have binned x-axis but positions of the line markers does not change as binning is changed. QA is complete.

[2022-04-12 18:18] danicahelb opened #1050 "Update Y-axis labels for line plots"
**For mean and median modes, add "Mean: " or "Median: "**
For example, the label should look like "Mean: Age (years)"

**For proportion mode, label should just be "Proportion"**

Y-axis for line plots in proportion mode is confusing. Currently users will have to be careful about interpretation. Here I chose to plot the "No" proportion for Undernutrition, but the Y axis title is just Undernutrition

[2022-04-12 18:20] moontrip commented on #1011
@danicahelb yep I will do that. I am working on other viz work so I will add the change in there. Here is a screenshot I just changed at upcoming PR - used the same data with your screenshot 😃 .

![sample2](https://user-images.githubusercontent.com/12802305/163028121-f19dde71-da7d-4c2c-a427-87e082bcea6c.png)

[2022-04-12 18:27] danicahelb opened #1049 "Should we offer "Only show compatible variables" toggle on line plot y-axis selector?"
In the line plot y-axis variable selector, the option to "Only show compatible variables" is missing. It took me a few minutes to realize that this is because ALL variables can be selected for the line plot y-axis. I think this UI could be confusing for users who have come to expect the option to "Only show compatible variables" and are not as familiar with our backend to understand why it is miss

[2022-04-12 18:42] dmfalke commented on #1046
This depends on #997

[2022-04-12 18:50] dmfalke commented on #1048
I moved this to web-eda, but there are likely some backend requirements as well.

[2022-04-12 18:53] #966 closed

[2022-04-12 18:53] #611 closed

[2022-04-12 18:53] #612 closed

[2022-04-12 18:59] dmfalke commented on #1049
This makes sense to me.

[2022-04-12 20:01] dmfalke commented on #1055
This likely also requires an update in https://github.com/VEuPathDB/EdaSubsettingService

[2022-04-12 20:04] jernestmyers opened #1057 "VariableTree scrollbar solution side effect in Download Modal"
[A recent merge](https://github.com/VEuPathDB/web-eda/pull/1002) that addressed the issue of the extra scrollbar in the `VariableList` dropdown container had a side effect in the `SubsettingDataGridModal`. The result is that the variable selection container's height isn't constrained, which leads to the behavior shown in these screenshots:
![image](https://user-images.githubusercontent.com/6944656

[2022-04-12 20:05] dmfalke commented on #1057
Can we address this by setting a max-height on the variable tree container in the modal?

[2022-04-12 20:13] dmfalke opened #1059 "Apps: Show apps as disabled if they do not have a client plugin implemented"
Similar to what we do with visualizations, we should show apps as disabled (grayed out) if a client plugin does not exist for it.

[2022-04-12 20:14] jernestmyers commented on #1057
Yes, that's what I did. I guess when you moved it from `EdaNewIssues` my PR link got lost along the way.

[2022-04-12 20:29] SheenaTomko commented on #1047
I added an entry including a date to b22 in eupathBuildDates.yml. We can see if having the entry there ensures an entry in the  DataVersions table and fixes the issue. Check back tomorrow following the rebuild.

[2022-04-12 20:44] danicahelb commented on #1056
This ticket is for the front-end work. Backend work is in this ticket https://github.com/VEuPathDB/EdaNewIssues/issues/235

[2022-04-12 20:55] danicahelb commented on #1044
I'm closing this ticket as it will be addressed with https://github.com/VEuPathDB/web-eda/issues/1015

[2022-04-12 20:55] #1044 closed

[2022-04-12 20:58] danicahelb commented on #1042
I agree with @asizemore. Also, I personally find it a bit annoying to have to open the variable tree if I just want to remove the overlay (for ex). I like the idea of a small "clear".  We can discuss in an upcoming EDA mtg.

[2022-04-12 21:00] asizemore commented on #1042
unless we feel like there is a clear path forward, this might be a decent issue for the eda styling group to discuss before bringing to the larger eda meeting because they might have some ideas about what is common/what are the styling rules for this type of action. Just a suggestion!

[2022-04-12 21:47] danicahelb commented on #1042
good idea @asizemore. is the styling group actively meeting?

[2022-04-12 21:49] danicahelb commented on #1011
looking better! @moontrip can you also use the same size and font for "Plot modes"?

[2022-04-12 22:09] asizemore commented on #1042
no, we've only been meeting when necessary :)

I could plan something for next week if that is soon enough?

[2022-04-12 23:11] moontrip commented on #1011
@danicahelb No problem. I just added the change to my existing PR. Here is a screenshot for you :) Not quite sure if you want lowercase for "M" in the "Modes"?

![plotmodes1](https://user-images.githubusercontent.com/12802305/163069095-edf39be8-0e8f-4c71-94ec-67f27c0f090d.png)

[2022-04-13 09:38] bobular commented on #1025
Hi @danicahelb, @asizemore and @d-callan

Below is the barplot/proportional mode, with y-axis range always set to [0,1].  Do we want to try it scaled to [0,max(on-screen-proportions)]?

![image](https://user-images.githubusercontent.com/308639/163147251-5d82b6c1-0d9f-4117-9fec-5e692dd3cf63.png)

[2022-04-13 09:39] bobular commented on #1025
Also, the "ones" are a tricky issue

They are correctly showing the sum of the proportions.  If we de-select some values in the legend, then the totals are no longer 1, so there is potentially some useful functionality here??

![image](https://user-images.githubusercontent.com/308639/163147636-0d1dd82e-0ea5-4c16-8812-afa0d0db627d.png)

[2022-04-13 13:10] aaronwlsong commented on #1003
Thanks @moontrip :)

[2022-04-13 13:43] moontrip commented on #1011
@asizemore Yes I noticed those items but just left it as are because of no requests 😄 Thank you for pointing these out! Will work for that

[2022-04-13 15:17] #609 closed

[2022-04-13 15:37] moontrip commented on #1050
I will take a look at this

[2022-04-13 15:58] sweverschulman commented on #996
I can confirm that there is no longer a sliver of a bar at (15, 18] in the GEMS plot. See attached image.
<img width="652" alt="Screen Shot 2022-04-13 at 11 57 14 AM" src="https://user-images.githubusercontent.com/62298921/163221654-f7c15cd5-7020-4358-954f-a7085c876bf3.png">

[2022-04-13 16:01] moontrip commented on #996
Thank you for your review, @sweverschulman 👍

[2022-04-13 16:44] danicahelb commented on #1034
this should be fixed once https://github.com/VEuPathDB/EdaLoadingIssues/issues/28 is fixed.
I'm moving this ticket to "Ready to QA" with a pause label

[2022-04-13 16:44] #1034 closed

[2022-04-13 16:47] danicahelb commented on #963
We're waiting on fixes to https://github.com/VEuPathDB/EdaLoadingIssues/issues/28. I'm moving this ticket to "Ready for testing" and adding a pause label

[2022-04-13 16:51] danicahelb commented on #1011
Hi @moontrip

please make the "M" in "Plot modes" lowercase.

@asizemore good catches! I agree with both of those points

[2022-04-13 17:06] moontrip commented on #1011
@danicahelb @asizemore I am including the changes to my other PRs (#1032 and https://github.com/VEuPathDB/web-components/pull/341) which I am working on. Here is a screenshot to reflect all of your changes (font color and weight are matched too):

![scatter-ui](https://user-images.githubusercontent.com/12802305/163233236-23237089-9c0a-467a-b4e2-a4c780c2bdb0.png)

[2022-04-13 17:15] SheenaTomko commented on #1047
@jaycolin can you take a look at this? See Dave's comment above about the DataVersions table being empty for GAMIN. We're also having the same issue with Preventing Congenital Syphilis, Myanmar ICEMR, MORDOR, G-ANC, etc.)
My attempted fix, adding a date for b22 in the eupathBuildDates.yml didn't seem to work.

[2022-04-13 17:21] danicahelb opened #1082 "Line plot tool - update UI for 0/0 proportions"
We need to revisit the UI for line plots with proportions where we have 0/0.

This is a screenshot from the LLINEUP study. The design of this study was such that only kids 2-10 years were tested for malaria.

The issue is that -- because there are so many points between 11yrs - 110yrs, the null points along the x-axis actually look to be a connected line.

<img width="1402" alt="image" src="https:

[2022-04-13 17:27] SheenaTomko commented on #1034
@danicahelb I removed the pause label and added you as an assignee to qc this ticket. Jay has finished reloading all studies except SHINE and PROMOTE (which won't be released as part of b57).

[2022-04-13 17:34] danicahelb commented on #825
I'm loving the date binning on line plots! I can see trends in seasonality, but also I can see that parasite prevalence is going down over time! This is so beautiful!!!

<img width="673" alt="image" src="https://user-images.githubusercontent.com/25450900/163237767-94fe8443-acb3-4d8c-a382-ec246504d4da.png">

<img width="645" alt="image" src="https://user-images.githubusercontent.com/25450900/163237

[2022-04-13 17:46] danicahelb opened #1064 "Line plot error message when plotting a continuous integer as a proportion"
Using LLINEUP.

"Meals per day" is one of those weird variables where there are only 9 unique values but it technically is a continuous integer and not a categorical variable.

I tried to create a proportion and got an error:

<img width="1413" alt="image" src="https://user-images.githubusercontent.com/25450900/163239426-15e50ca1-f1d5-4478-aa74-25dfbc17954a.png">

[2022-04-13 17:58] danicahelb opened #1061 "Viz: Error message in line plots when switching x-axis variable"
I got an error message with line plots using LLINEUP data. I had set up a line plot of "Meals per day categorization" vs "Household study timepoint", which looked good. Then I switched the x-axis variable to "Household data collection date" and got the error message below. I reloaded the page and it loaded just fine

<img width="1421" alt="image" src="https://user-images.githubusercontent.com/2545

[2022-04-13 18:01] danicahelb opened #1081 "Remove extra labeled x-axis markers when binning by year"
when i turn on binning by date and choose year, I am getting labeled x-axis markers every 6 months. please only include 1 labeled x-axis marker per year (ie, january XXXX) and remove the labels for the 6-month markers

<img width="651" alt="image" src="https://user-images.githubusercontent.com/25450900/163242169-182b247a-3f38-4156-a11d-bf5ab5cdf1aa.png">

[2022-04-13 18:51] SheenaTomko commented on #972
@asizemore, does this need qa or can we move to "Complete"?

[2022-04-13 18:51] SheenaTomko commented on #955
@asizemore, does this need qa or can we move to "Complete"?

[2022-04-13 18:52] SheenaTomko commented on #954
@asizemore, does this need qa or can we move to "Complete"?

[2022-04-13 18:52] SheenaTomko commented on #970
@asizemore, does this need qa or can we move to "Complete"?

[2022-04-13 18:53] SheenaTomko commented on #612
@asizemore, does this need qa or can we move to "Complete"?

[2022-04-13 18:53] SheenaTomko commented on #611
@asizemore, does this need qa or can we move to "Complete"?

[2022-04-13 18:54] SheenaTomko commented on #966
@asizemore, does this need qa or can we move to "Complete"?

[2022-04-13 19:06] nkittur-uga commented on #1005
"Studies" menu loading indicator is working well. QA is complete.

[2022-04-13 19:09] asizemore commented on #611
No qa needed. Moving to Complete!

[2022-04-13 19:09] asizemore commented on #612
No QA needed. Moving to Complete!

[2022-04-13 19:09] asizemore commented on #970
No QA needed. Moving to Complete!

[2022-04-13 19:12] asizemore commented on #954
@SheenaTomko this is one the clinepi team is best to QA, but QA is straightforward: if the QA site is showing the correct pass app and it looks just like it always did, then this ticket can be moved to Complete

[2022-04-13 19:13] asizemore commented on #955
Moving to complete. Definitely working, as exemplified by the restricted site bug (no computation apps shown) that @danicahelb found

[2022-04-13 19:13] asizemore commented on #972
No QA needed. Moving to Complete!

[2022-04-13 19:14] SheenaTomko commented on #954
QA.clinepi looks like normal on the visualize tab. Moving to complete.

[2022-04-13 19:15] asizemore commented on #1011
Lovely!!

[2022-04-13 19:59] SheenaTomko commented on #1020
Now as you move around a map, the birds eye plot does not update with each movement

[2022-04-13 20:00] SheenaTomko commented on #1030
The link works now.

[2022-04-13 20:13] SheenaTomko commented on #984
All tool tips on the home page have a yellow background and the same font. Marking this as complete

[2022-04-13 22:14] danicahelb opened #1080 "Line plot styling changes needed"
When using the proportion mode of the line plot, the user must set up their proportion calculation before anything will appear on the plot. This has surprised me a few times as all other plots auto-populate immediately after x and y axis variables have been selected.

I think a couple of tweaks would help:

1. There is a lot of white space between Axis variables and Y-axis aggregation sections (wh

[2022-04-13 22:30] danicahelb commented on #1034
I can no longer select a non-ordinal categorical, so there is no way to get the error message. Ticket passed QA

[2022-04-13 22:55] danicahelb commented on #963
One issue I'm finding is that not all variables that have the valueOrder annotated are able to be selected for the x-axis in line plots.

For example, I'm looking at SCORE S. mansoni cluster randomized trial. "Village study timepoint" (provider label village_study_year), "Village study arm" (provider label study_arm), and "Study timepoint" (provider label study_arm) all have valueOrder annotated i

[2022-04-13 23:37] nkittur-uga commented on #963
@danicahelb Yes, that is the correct folder.

[2022-04-14 00:19] moontrip commented on #963
@danicahelb I could check your question to @bobular. Yes, you are correct:
"Village study timepoint" and "Study timepoint" = categorical
"Village study arm" = ordinal

[2022-04-14 02:58] dmfalke commented on #822
The client currently uses the `projectAvailability` record attribute to determine if a study should be "disabled": if the current website project is not included in the attribute, then the study is marked as disabled. This attribute is set based on the value of the `isPublic` presenter prop. When the prop's value is `true`, then "ClinEpiDB" is included in the attribute. "AllClinEpiDB" is always in

[2022-04-14 13:13] SheenaTomko opened #1079 "In line plots, choosing a Y-axis variable with only one value throws an error message"
The example below comes from PRISM without any filtering. I believe this error message is coming because choosing Country on the Y-axis should enable proportions, but there is only one value for the variable Country in this study. Some possible solutions: 1) remove variables with single values as options in the drop down menu, 2) give people a more distinct error message, 3) update how proportions

[2022-04-14 13:18] #1057 closed

[2022-04-14 15:45] #1025 closed

[2022-04-14 16:08] SheenaTomko commented on #963
@jaycolin please take a look

[2022-04-14 17:13] SheenaTomko commented on #956
@nkittur-uga, this is ready for testing now

[2022-04-14 17:13] #956 closed

[2022-04-14 18:24] jaycolin commented on #963
Audited all studies, patched every instance I could find where the valueMap.txt ordinality was missing or wrong

[2022-04-14 18:37] nkittur-uga commented on #956
Categorical variables are being handled as expected.

[2022-04-14 18:54] #924 closed

[2022-04-14 19:50] danicahelb commented on #963
looks good now, thanks everyone!

[2022-04-14 19:52] danicahelb commented on #1034
@dmfalke why did this ticket get moved out of "complete"? Do we need to test it again?

[2022-04-14 19:53] danicahelb commented on #1011
Its beautiful! thanks @moontrip!

[2022-04-14 19:55] moontrip commented on #1011
@danicahelb my pleasure. The changes would be reflected when corresponding PR is merged and ready to be deployed, which I am preparing for merge now. https://github.com/VEuPathDB/web-eda/pull/1032

[2022-04-14 19:58] danicahelb commented on #1034
confirmed with @dmfalke this was moved to ready for testing by accident

[2022-04-14 19:58] #1016 closed

[2022-04-14 20:09] bobular opened #1066 "Lineplot visualization - erroneous logic to determine proportion vs mean/median mode"
e.g. LLINEUP
x-axis: household coll. date
y-axis: Meals per day

This is being treated as a categorical variable.  There are no server-side constraints provided for yAxisVariable so it is up to the client to decide what to do.

The current logic sees the vocabulary for this variable and distinctValuesCount > 1 and decides it's suitable for proportion mode.
The back end doesn't like this and throws

[2022-04-14 20:12] danicahelb commented on #1064
Yeah, for b57 we just don't want to trigger an error. If @bobular can have low cardinality continuous variables offer mean and median but not proportions on the front end easily that would be fine

[2022-04-14 20:16] dmfalke commented on #1066
Why don't we have constraints for this? Wouldn't that be the correct way to address this? Or are the constraints too complex?

[2022-04-14 20:19] #1050 closed

[2022-04-14 20:19] #1061 closed

[2022-04-14 20:24] bobular commented on #1066
Constraints would only tell `InputVariables` which to show/grey out.

The client would still have to figure it out.

Having said that, we do need some constraints, @d-callan, to make sure that the variable will be suitable for one or the other mode of lineplot

E.g. no single-valued variables:

![image](https://user-images.githubusercontent.com/308639/163469624-ea9cb18b-288c-439c-92ef-4b113a0fd41d

[2022-04-14 20:27] dmfalke commented on #1066
I see! I misunderstood.

[2022-04-14 20:36] bobular commented on #1064
Accidentally duplicated by https://github.com/VEuPathDB/web-eda/issues/1066
But this ticket has better screenshots, so I will link the PR to here and close #1066

[2022-04-14 20:37] bobular commented on #1066
Removing this from the board, and closing this as a duplicate of #1064

[2022-04-14 20:37] #1066 closed

[2022-04-14 20:39] bobular commented on #1066
I'll make a b58 ticket to add some simple constraints

[2022-04-14 20:58] #1064 closed

[2022-04-14 21:14] bobular commented on #1011
@danicahelb  - there is no such "Plot modes" heading for the map viz. Should we have one? (for b58...)

[2022-04-14 21:15] bobular commented on #1011
PS not "Plot mode" singular?

[2022-04-14 21:15] bobular commented on #1011
PPS. does this need moving to To be deployed on the board?

[2022-04-14 21:36] asizemore commented on #1011
oh @bobular you're right. "Plot mode" singular makes more sense  😄
Probably not necessary to change before b57 @danicahelb ?

[2022-04-15 04:35] dmfalke opened #1069 "Line plot is empty if overlay variable only has data for one value"
If I add a filter to only include data where lost earnings due to care = yes, then the plot is empty. I would expect the plot to still have the same blue line

<img width="1396" alt="image" src="https://user-images.githubusercontent.com/25450900/163481317-83585ae0-2c2f-4841-bbb1-5898a1794211.png">

_Originally posted by @danicahelb in VEuPathDB/plot.data#157

[2022-04-15 09:08] danicahelb commented on #1011
Looks nice, closing ticket.

Yes, it should be "Plot mode", I'll make a ticket for b58

<img width="1215" alt="image" src="https://user-images.githubusercontent.com/25450900/163551474-28f9b265-901b-401b-862e-e3bc9306032f.png">

[2022-04-15 09:10] danicahelb opened #1076 "Change verbiage to "Plot mode" on scatter (& other places where plot mode exists)"
<img width="1215" alt="image" src="https://user-images.githubusercontent.com/25450900/163551659-27ca7d14-6595-43ca-b498-b4a5b00b930c.png">

Current verbiage says "Plot modes" but the singular "Plot mode" is more appropriate. Please update, thanks!

[2022-04-15 09:13] danicahelb opened #1075 "map viz needs "Plot mode" heading"
we should have a "Plot modes" heading for the map viz (for b58...), between the map and the marker selection radio buttons (bar count, bar proportion, pie). See styling of "Plot modes" in scatter plots

<img width="821" alt="image" src="https://user-images.githubusercontent.com/25450900/163552763-aadcf566-5d4d-4e06-bbf5-b7a70b73da6b.png">

Note that on scatter and other plots, we are converting "P

[2022-04-15 09:16] danicahelb commented on #1050
looks great, thanks DK!

[2022-04-15 12:31] moontrip commented on #1050
My pleasure 😃 Happy Easter!

[2022-04-15 13:29] asizemore commented on #1069
Looks to be a front end issue. The lineplot response looks like it contains everything

<img width="1772" alt="Screen Shot 2022-04-15 at 9 26 42 AM" src="https://user-images.githubusercontent.com/11710234/163576534-ace6de51-2e95-4d2f-8739-05909e9b80be.png">

[2022-04-15 13:50] SheenaTomko commented on #1006
DK's PR fixed this text. Closing this and marking as complete

[2022-04-15 13:50] #1006 closed

[2022-04-15 14:37] SheenaTomko commented on #1025
I agree with Ann and like the scaling as it is. This looks great so will move to complete.

[2022-04-15 16:23] sweverschulman commented on #1057
There is now a scroll bar in variable selection container. This allows for scrolling within that container and no longer a need to scroll in the larger container
<img width="714" alt="Screen Shot 2022-04-15 at 12 10 41 PM" src="https://user-images.githubusercontent.com/62298921/163595545-d8eaa1fb-293b-41f3-953e-4956ac6e29a4.png">

[2022-04-15 16:24] nkittur-uga commented on #1016
It worked.
<img width="1373" alt="Screen Shot 2022-04-15 at 12 23 26 PM" src="https://user-images.githubusercontent.com/67710160/163595642-f77ae7d3-1478-4dbd-af09-3319ae09c020.png">
 I got an informative message.

[2022-04-15 16:45] danicahelb opened #1074 "New icon for ordinal variables"
It would be helpful (both to our users and to us internally for QA purposes) if we had a new icon in the variable tree for ordinal terms

[2022-04-15 18:57] #1069 closed

[2022-04-15 18:59] dmfalke opened #1071 "Line plot viz: Clean up how empty overlay strata are handled"
Currently, when an overlay strata has empty data, we [include a dummy series](https://github.com/VEuPathDB/web-eda/blob/c6ac5ac6b03afe5a2a78e0a105c01f876a7316f3/src/lib/core/components/visualizations/implementations/LineplotVisualization.tsx#L1967-L1977). This has to be handled in various places, which, to me, seems like more work than necessary.

Instead, I think we should simply omit such series

[2022-04-15 20:43] danicahelb commented on #1064
I can now only select mean and median

<img width="651" alt="image" src="https://user-images.githubusercontent.com/25450900/163629801-e9555058-7824-4962-b0ec-cb6db602e8e5.png">

[2022-04-15 20:49] danicahelb commented on #1061
its fixed! thanks DK!

[2022-04-15 20:57] danicahelb opened #1073 "2nd round of styling fixes for legend, birds eye bar, & completeness table"

[2022-04-15 20:58] danicahelb commented on #924
this looks great, thanks @jernestmyers!

I did create a related ticket (NOT for b57), I'm hoping I could get some feedback to see whether this new ticket is worth fixing or not?

[2022-04-15 21:01] aaronwlsong commented on #1069
It seems the issue still exist in certain studies. like GEMS1 Case control.

No matter add or not add overlay variable, the plot is always empty. See pic 1 (without overlay var) and pic 2 (with overlay var)
pic1
<img width="1878" alt="Screen Shot 2022-04-15 at 4 49 54 PM" src="https://user-images.githubusercontent.com/61077845/163630836-e44f0350-1ad9-4648-9ff1-1f01ed7c6c7b.png">

pic 2
<img width=

[2022-04-15 21:08] danicahelb opened #1072 "Hiding of variable completeness table"
As mentioned in https://github.com/VEuPathDB/web-eda/issues/924, hide the variable completeness table until it is populated.

Current behavior is that if NO variables are selected, the table is hidden:
<img width="1129" alt="image" src="https://user-images.githubusercontent.com/25450900/163631904-8919702c-f838-46a9-944c-67f5881b28b0.png">

However, if 1 variable is selected, the table appears but

[2022-04-15 21:38] danicahelb commented on #1069
@aaronwlsong when the y-axis data is categorical you need to set up your proportion for the plot to populate. I made the same mistake... the line plot in proportion mode needs more inputs than the rest of our plots. I made this ticket to address this question https://github.com/VEuPathDB/EdaNewIssues/issues/245

[2022-04-15 21:39] danicahelb commented on #1069
Once the proportion is configured, I get the plot I expect
<img width="1344" alt="image" src="https://user-images.githubusercontent.com/25450900/163635206-9e76db05-99cb-4552-a3b0-b0a8d355676e.png">

[2022-04-15 21:47] danicahelb commented on #1069
@dmfalke made the following note in the pull request:

I'm not completely satisfied with this solution, as it seems to rely on Plotly.js's behavior to treat such elements as "empty". I think a better solution would be to remove the entry from the data array, but this requires some reworking of how [legendItems is constructed](https://github.com/VEuPathDB/web-eda/blob/9cbf9b2656206e32fbfe64557732e9

[2022-04-18 16:43] danicahelb commented on #931
Discussed in 4/11/2022 EDA UX meeting. Decision is to always include the mergeKey variables in the subsetting results tables for their appropriate entity

[2022-04-18 23:08] danicahelb commented on #872
may be related to https://github.com/VEuPathDB/EdaNewIssues/issues/241

[2022-04-19 14:47] bobular opened #1077 "Extra warning for UMSP in MapVisualization isn't needed"
There was an extra warning, mainly directed at QA people

![image](https://user-images.githubusercontent.com/308639/164031260-74f04847-1dbe-408d-8ae4-2a6e3492ff6c.png)

Seems that with no filters, the malaria variable shown above takes only around 67s on qa.restricted, so within the "minute" ballpark already warned. (I think it took a lot longer in the dev environment.)

I will remove it.  Optiona

[2022-04-19 16:36] #1077 closed

[2022-04-19 19:16] danicahelb commented on #1046
Note from JohnB: backend changes to allow for depiction of 1:many in the entity diagram will not be rolled out for a few cycles (will roll out when mega study changes go out)

This ticket is paused until https://github.com/VEuPathDB/EdaLoadingIssues/issues/31 is done & all studies have been patched or reloaded

[2022-04-19 19:17] danicahelb commented on #1056
Note from JohnB: backend changes will not be rolled out for a few cycles (will roll out when mega study changes go out)

This ticket is paused until https://github.com/VEuPathDB/EdaSubsettingService/issues/64 is done & all studies have been patched or reloaded

[2022-04-19 19:37] asizemore opened #1084 "Apps: Abundance vizs use display names and respect ordering"
From mbio feature site, GEMS, ranked abundance app.

The ranked abundance app returns a list of variable ids as labels (see box plot example below, also see scatter -> overlay). We want to
1. Replace these var ids with their display labels
2. Have the labels show in order, based on the order defined in `computedVariableMetadata`.

<img width="827" alt="Screen Shot 2022-04-19 at 3 36 15 PM" src="ht

[2022-04-19 20:30] asizemore opened #1086 "Apps: Allow computed vars to appear in variable coverage table"
Variable coverage table in ranked abundance and alpha diversity vizs does not add the computed variables. Note the computed variables are returned in the complete cases table response data, but this info doesn't make it onto the screen.

<img width="1758" alt="Screen Shot 2022-04-19 at 4 19 09 PM" src="https://user-images.githubusercontent.com/11710234/164088716-a28610a6-50f0-4b0e-ba05-8cae9aa41ce

[2022-04-19 20:57] asizemore opened #1087 "EDA Apps Visual organization (parent issue)"
This is the parent issue for main organization in the app-centric EDA.

See figma mockups for specifics.

To Dos

- [x] Select a visualization page. Break out new lines for each app (#1131 )
- [x] App configuration within full screen viz view (#1132 )
- [x] Viz thumbnail page - organization and vizs. Adds titles for each app type and parameter set (#1095 )
- [x] Viz thumbnail page - left navigatio

[2022-04-19 20:57] asizemore opened #1088 "Mbio add example analyses"
Add example analyses. @danicahelb or @SheenaTomko could help!

[2022-04-19 21:15] asizemore opened #1089 "Apps: hide no data toggle"
Consider ranked abundance scatter

<img width="1591" alt="Screen Shot 2022-04-19 at 5 13 05 PM" src="https://user-images.githubusercontent.com/11710234/164102838-e8ba2a80-64e9-4dd9-a6b2-e7b05e02af12.png">

Does it make sense to have the no data toggle here? We could possibly end up with a "No data" group for the computed var, which is sort of odd since we're in the app in order to see the outputs

[2022-04-19 21:17] asizemore commented on #1089
We could have a rule that any viz with a computed var won't have the no data toggle. That's maybe aggressive because sometimes the computed var is a strata var but other times is an axis var, but as a rule is not too complicated

[2022-04-19 21:37] asizemore commented on #1040
Specifically, this ticket refers to taking the appropriate continuous colormap (sequential, diverging, etc), discretizing the colormap based on the number of bins, and then showing an appropriate legend.

For example, see discretized sequential gradient colormap on the right:
<img width="892" alt="Screen Shot 2022-04-19 at 5 37 14 PM" src="https://user-images.githubusercontent.com/11710234/1641060

[2022-04-19 21:55] asizemore opened #1090 "Gradient colormap: Allow user to specify colormap properties"
We're unlikely to always guess correctly on the range and type of colormap. For example, if Temperature is the overlay variable, it makes sense to set the colormap type to diverging with a midpoint of 98.6. By no reasonable logic would we be able to determine this for a user :)

Seems reasonable to allow the user to choose the
1. Type of colormap (sequential, diverging, etc)
2. Colormap ranges and

[2022-04-20 00:04] dmfalke commented on #1086
Does the backend provide this data, and the frontend is simply not rendering it? Regardless, I just want to mention that we want to approach this in a generic way.

[2022-04-20 12:54] bobular commented on #1081
Just a comment that the more we fiddle with Plotly's default axis behaviour, the more problems we may create down the line. Remember we had y axis tick labels: 1, 1, 1, 1 (or something like that) in log scale mode?  That was because we were trying to be clever and didn't use the default tick label format.

That's not to say we can't do something here, I'm just saying it may have a cost.

[2022-04-20 12:57] bobular commented on #872
This has been fixed for a while (just tested main branch on my dev site), thanks to @jernestmyers

[2022-04-20 13:44] asizemore commented on #1086
Good call. The backend does provide the information (see screenshot: feature mbio, GEMS, ranked abundance, no subset), but i'm guessing there is a check or filter somewhere on the front end to use only those vars in the table that match one of the input variables? I haven't looked into it deeply yet, that's just a guess.

<img width="1766" alt="Screen Shot 2022-04-20 at 9 41 36 AM" src="https://us

[2022-04-20 13:59] moontrip commented on #1086
Please refer to what I temporarily did for alphadiv's variable coverage table before, but it is not a generic way to do
https://github.com/VEuPathDB/web-eda/pull/1018

I forgot a detailed info myself but there are several issues for abundance case, e.g., multiple values in completeCases, no specific info to search for X and Y variable details, etc. I may take a look at it later to remind myself :)

[2022-04-20 14:10] dmfalke commented on #1086
I want to point you both (@asizemore and @moontrip) to https://github.com/VEuPathDB/web-eda/issues/580. Ultimately, I envision a component (currently referred to as `StandardVisualization`) that would handle this sort of thing. It would help to think about how one would make a generic component that will do what we're discussing here.

I'm working on a prototype of `StandardVisualization` right no

[2022-04-20 14:19] asizemore opened #1091 "Apps: Allow user to select a collection"
Collections are now available to the front end! Each entity now has an array of collection variables. Using these, we can generate a list of collections we can use for each app.

Currently each app has a hard coded collection that it presents to the user if they're on the right study (GEMS). Instead, grab all collection vars for the current study and show them in the dropdown.

Note, this ticket i

[2022-04-20 14:29] asizemore commented on #1086
Thank you both!
@moontrip thank you for the reminder - I will remind myself what we discussed and think about how we might want to change the response. You brought up some good points and you're right i haven't addressed them yet.

@dmfalke very cool! Really looking forward to the prototype!

[2022-04-20 16:58] bobular commented on #580
One issue to think about at the same time is to try to avoid making many checks on data consistency like in the fixes for the ticket below, when inputs have been changed but the default axis ranges have not yet been returned from the back end (or something like that).

https://github.com/VEuPathDB/web-eda/issues/1003

[2022-04-20 19:13] dmfalke commented on #580
Today, we discussed the need to control the `disabled` attribute of the showMissingness toggle. This toggle is based on the data response for the viz.

I had suggested the **Plot and controls** section would handle getting data, but doing so means the `StandardVisualization` component does not have access to the data.

I think another approach we can take is that `StandardVisualization` takes a ca

[2022-04-20 19:18] bobular commented on #580
Cool. Sounds even more important to split the `vizConfig` object into two parts: client-side and server-side configs. Only changes in the latter trigger new data requests.  Trouble is, this is likely a breaking non-backwards compatible change.

[2022-04-20 19:37] asizemore commented on #580
Could `StandardVisualization` allow for props like `title`, `xAxisLabel`, `includePlotModes`? Apps will often define variables, but also have information that could be an axis label or that affects if scatter plot trend lines, for example, should be allowed

[2022-04-20 19:49] bobular commented on #580
It's possible that the ShowMissingness toggle could be provided as a CustomInputSection?

[2022-04-20 20:44] bobular commented on #1035
We are talking choropleth here, I presume?
![image](https://user-images.githubusercontent.com/308639/164319508-0eb8656d-21e2-4230-9636-e142664ee272.png)

[2022-04-20 21:38] danicahelb commented on #1041
I've removed the "map" label as this ticket is to create a gradient color map with can be used broadly in different viz tools. I will create another ticket specific to using continuous "Main" variables on the map viz tool

[2022-04-20 21:44] danicahelb opened #1096 "Allow continuous variables to be visualized on map tool"
Allow continuous variables to be selected as the "Main" variable on the map viz tool.

This ticket is dependent on:

Add gradient colormap for continuous variables (sequential, diverging): https://github.com/VEuPathDB/web-eda/issues/1041

Backend needs to know number of unique values of var in the dataset in order to determine if it’s a discrete continuous or continuous overlay: https://github.com

[2022-04-20 22:08] asizemore commented on #1040
@moontrip i believe we can use the existing gradient colormaps in https://github.com/VEuPathDB/web-components/pull/275
I think i'll likely just make a web-components PR that adds these colormaps to `addOns.ts`. That way everyone can start using the colormaps :)

That old PR i made did have some work on a legend, but it only had work on a continuous gradient colormap legend (left side in screenshot

[2022-04-21 00:10] moontrip commented on #1040
@asizemore I am flattered 😄 Anyway, thank you for your detailed information! 👍 When I saw your images above I misunderstood that you would make another svg like continuous gradient (pre-existing one you have made before) but sounds like it would be another type of legend to be made in coding. Then, I will take a look at it later! Perhaps I would have some questions to you about that at the time I

[2022-04-21 14:38] dmfalke commented on #1043
You can use the variable property `displayOrder` to determine the correct order. If the property doesn't exist, then we should fall back to `displayName`.

See https://github.com/VEuPathDB/web-eda/blob/60d01f59a8d37b444862da0d30ded9b724da42f9/src/lib/core/types/study.ts#L106.

I'm happy to discuss in more detail.

[2022-04-21 14:56] jernestmyers commented on #1043
@dmfalke From what I've seen, `displayOrder` is only attached to the variable, like this:
![image](https://user-images.githubusercontent.com/69446567/164484021-0c0bb238-c5ca-4617-b0a1-a7da473c8c5b.png)
That appears (to me) to be used to ensure "Child symptoms" is displayed in the fourth position in the section "Child signs and symptoms" but I don't see anything similar to order the symptom severit

[2022-04-21 15:31] dmfalke commented on #580
I don't think we need to split things out like that. Part of the API for that callback could be that if `undefined` is returned, we just use the current value, so we wouldn't make a new request every time. Or something like that.

[2022-04-21 15:37] dmfalke commented on #580
I'm not convinced this would be a good thing. If this is a standard option, then we should keep it as-is and figure out the best way to determine if it is enabled. To me, the way to do that is to ensure all viz responses include the same set of properties describing missingness. I think this is already the case, we just need to encode that in our types (i.e., make a base response type) so that we

[2022-04-21 17:52] dmfalke opened #1093 "Allow users with access to use prerelease studies"
We currently disable access to the analysis workspace for prerelease studies. This was done to deal with studies that have no data. We had talked about adding a new attribute to the dataset record, indicate that eda data has not been loaded yet. For now, I will just handle server errors and redirect to the study page, with a message indicating that the data is not yet available.

[2022-04-21 18:04] asizemore opened #1095 "Apps: Organize vizs in thumbnail page by app type and parameters"
05/13/22 Updates in a comment below.

For this ticket, let's apply the styling of app info and vizs seen in the below screenshot.

<img width="714" alt="Screen Shot 2022-04-21 at 11 55 55 AM" src="https://user-images.githubusercontent.com/11710234/164501613-a5650304-379d-423c-ab81-79db8413f0b5.png">

In short, each app should have its user-given name, the app's display name, and icons+styling as a

[2022-04-21 18:44] dmfalke commented on #1043
@jernestmyers as discussed in [slack](https://epvb.slack.com/archives/C01894F7P89/p1650554774278259), we are going to remove the code that unions all of the values together, and only display the values available to the child variable.

There are two pieces to this:
1. In wdk-client, [remove the code](https://github.com/VEuPathDB/WDKClient/blob/848aa586188298e2be139ad084215bb4b8e4b06d/Client/src/Co

[2022-04-21 19:38] #1093 closed

[2022-04-21 20:55] asizemore commented on #1041
Addressed with web-components [PR](https://github.com/VEuPathDB/web-components/pull/275)

Nothing for outreach to QA - this ticket was addressed by adding colormaps to web-components that can be accessed by the developers.

[2022-04-21 20:55] #1041 closed

[2022-04-21 21:22] #1084 closed

[2022-04-21 22:17] danicahelb opened #1100 "Mock-up a new “Zoom to plotted data” buttons"
discussed in April 20, 2022 data viz meeting

We want to include (as part of the axis controls) a button per axis to zoom to the range of data actually being plotted.

@d-callan will make mockups, which we will bring to the EDA UX meeting for feedback

[2022-04-21 22:19] danicahelb opened #1097 "Implement new Axis Range Controls on viz tab"
We want to include (as part of the axis controls) a button per axis to zoom to the range of data actually being plotted.

after mockups are approved (VEuPathDB/web-eda#1100) we will implement the zoom to plotted data buttons

[2022-04-21 22:22] danicahelb opened #1098 "Switch position of X-axis controls and Y-axis controls on all viz tools"
Axes controls for X- and Y-axes should always be shown in that order (meaning X-axis is listed first, or on the left).

[2022-04-21 22:41] danicahelb opened #1099 "standardize x- and y- axes ranges in all viz tools"
discussed in april 20, 2022 data viz meeting

We want to be consistent across visualizations with the default ranges on x- and y- axes. How the axes are scaled should depend on the type of axis rather than the type of visualization.

1. Axes representing **proportions** will scale 0-1 by default.
2. Axes representing **counts** will scale 0-{max value of bins seen in subset}. _Note, we may revisit

[2022-04-22 15:10] dmfalke commented on #1097
I'm tentatively costing this as **medium**. We may need to adjust when mock-ups are done.

[2022-04-22 15:15] dmfalke commented on #1099
I'm pretty sure this is all web-eda work, but it's possible there may be some backend changes needed.

[2022-04-25 13:20] moontrip commented on #1098
Hi @danicahelb I wonder if we should always place the Y-axis controls in the right side for the case that there is no X-axis controls such as barplot and boxplot Vizs: currently it is in the left side (location of the X-axis controls).

[2022-04-25 13:47] d-callan commented on #1038
i have a number of questions here about how wed like to actually find this value w possible implications to the ux around doing so.  For ex, the presence of 0, negative or % values will be trouble for various reasons. So i guess my questions are:

1. Do we know if we definitely do or dont have percent values for variables? If we do, are there too many to annotate and potentially constrain against?

[2022-04-25 14:19] dmfalke commented on #1103
I added the `question` label because it seemed like there wasn't a conclusion on how to address this (just a suggestion), so UX discussion is necessary. I think that is what we use that label for.

[2022-04-25 14:38] bobular commented on #1103
Thanks. There's also discussion needed about how the warning triangle will be triggered:

- With server-side viewport/zooming (e.g. x-axis of histograms and XXX) we know for sure if there are points not shown due to viewport/zooming because we can compare various numbers from the response.
- WIth client-size zooming (e.g most dependent axis range zooming) we don't currently make a data-based decis

[2022-04-25 14:51] d-callan commented on #1038
1. good to know there are relatively few percents.. is that 55 the number of IRIs that are known to represent percents? or the number of times we see one of those IRIs used in a study? If we constrain to only variables w >0 or >=0 values, do we know what proportion of those terms represent percents? (it seems still kind of bad to me if a user toggles to only compatible variables for some study and

[2022-04-25 15:15] #1043 closed

[2022-04-25 21:28] asizemore commented on #950
Right now i'm thinking these would be the routes:

- `/visualizations/`: shows thumbnail page that has all apps and vizs. Also has + new app button.
- `/visualizations/new/`: shows list of possible apps to add. The view we get when clicking on the Visualize tab in the feature site currently.
- `/visualizations/new/{app.name}/ `: app configuration. Nothing to change here
- `/visualizations/computat

[2022-04-26 02:46] dmfalke commented on #618
I believe this is fixed. I checked both the qa site and the production site.

[2022-04-26 02:46] #618 closed

[2022-04-26 03:01] dmfalke commented on #918
@danicahelb I took a different approach (see https://github.com/VEuPathDB/web-eda/issues/1093 for details). That should resolve this issue, so I'm closing this one. It should be deployed soon.

[2022-04-26 03:01] #918 closed

[2022-04-26 03:06] dmfalke commented on #1047
I'm tagging @aurreco-uga on this issue. She might have some insight into what's happening.

As a recap, the issue is that the `DataVersions` table for these studies is empty. They all(?) have `<history buildNumber="22">` in the presenters file. I noticed that UMSP also has a history entry for build 22, but it does not appear in the download tab, so I suspect this build number is being excluded for

[2022-04-26 13:43] dmfalke commented on #950
This all sounds good to me!

[2022-04-26 15:50] SheenaTomko commented on #1091
@asizemore, let me know if you want ClinEpi outreach to help qa this :)

[2022-04-26 15:50] SheenaTomko commented on #1084
@asizemore, let me know if you want ClinEpi outreach to help qa this :)

[2022-04-26 16:15] asizemore commented on #1091
Thanks @SheenaTomko ! This is another good one for dan i think. But thank you!

[2022-04-26 17:08] aurreco-uga commented on #1047
the only problem is that the versions tables requires a tuning table that does not get generated by the dsp jenkins job....  ill try to figure out how to run it.. that should fix it..

[2022-04-26 18:20] nkittur-uga commented on #1043
This issue is fixed. QA is complete.

[2022-04-26 18:24] nkittur-uga commented on #1047
Yes, full datasets are now available for unreleased studies. QA is complete!

[2022-04-26 21:38] aaronwlsong commented on #1077
It took about a minute to load all data, and seems that the extra warning is gone. But I did not get expected plot.
<img width="1731" alt="Screen Shot 2022-04-26 at 5 35 55 PM" src="https://user-images.githubusercontent.com/61077845/165396700-5e3b6aac-64f6-40f9-91a7-2c6e773cd05a.png">

[2022-04-26 23:16] SheenaTomko commented on #618
This looks great, thanks Dave!

[2022-04-26 23:18] SheenaTomko commented on #918
This looks great

[2022-04-26 23:20] SheenaTomko commented on #1093
With Dave's approach, studies with no data loaded end up having 2 messages saying data is not available (see screenshot), while pre-release studies with data loaded only have the second one appear, but I think this is fine.
<img width="1029" alt="Screen Shot 2022-04-26 at 6 19 09 PM" src="https://user-images.githubusercontent.com/54597319/165408212-2c83ceca-487c-4f05-b790-2d2550f5e29e.png">

[2022-04-27 14:22] asizemore commented on #993
Moving out of next cycle until the viz refactor is complete - i think (hope?) this should be much simpler once that is done!

[2022-04-27 15:23] bobular commented on #1079
I think this will be obviated by https://github.com/VEuPathDB/EdaDataService/issues/178

[2022-04-27 17:30] asizemore commented on #610
For reference, here's an example response for the boxplot in alpha diversity (1-row table with a column for "parameter", "statistic", "p-value", and "method") :

<img width="1779" alt="Screen Shot 2022-04-27 at 1 24 45 PM" src="https://user-images.githubusercontent.com/11710234/165584529-0c089ee5-69ea-4ca9-b552-c37920b0fd4c.png">

Example with an overlay (this would be a 2-row table with an additi

[2022-04-27 17:46] d-callan commented on #1038
depends on veupathdb/plot.data#162

[2022-04-27 20:13] asizemore opened #1111 "Styling: standardize icons"

[2022-04-27 20:36] dmfalke commented on #610
Should we do this with tabs, like with mosaic tables?
![image](https://user-images.githubusercontent.com/365139/165626468-a2f7f52e-69be-45e7-b930-b2afdd326b2c.png)
![image](https://user-images.githubusercontent.com/365139/165626500-3f803b53-04b4-449f-a8dc-d633441dc999.png)

[2022-04-27 20:45] asizemore commented on #610
Oooh good question.
Our intention was to make users ask for the stats explicitly, instead of just showing them by default. I suppose a tab supports this as well as an on/off toggle, because it's still one extra click for the user. @dpbisme and @d-callan probably have thoughts?

[2022-04-27 20:56] d-callan commented on #610
I'm fine w it, think I like the consistency across vizs.

[2022-04-28 18:59] #950 closed

[2022-04-28 20:11] asizemore commented on #1019
Addressed in #1104

After this is deployed, will assign to @dpbisme for QA. Please check that you can see all the app info you need, on any page you need it!

[2022-04-28 20:11] #1019 closed

[2022-04-28 22:20] asizemore opened #1107 "Apps: ensure display range min and max are numbers"
See https://github.com/VEuPathDB/microbiomeComputations/issues/17 for more details.

In short, displayRangeMin and max within computedVariableMetadata are currently strings. They should be numbers (they are numbers in the study metadata for continuous vars). This issue was blissfully hiding until a recent commit exposed it.

[2022-04-29 13:35] asizemore commented on #1107
Found a note that said we had the display range min and max as strings in order to better handle dates.
So instead of changing the api, i'll just force those to numbers when necessary. Changing the issue title to reflect this update.

[2022-04-29 17:00] asizemore commented on #1019
I deployed this to mbio feature, so moving to Ready for Testing!

[2022-04-29 17:01] asizemore commented on #950
Deployed to mbio feature site so moving to Ready For Testing!

[2022-05-02 18:50] asizemore opened #1109 "Apps: Add ability to reconfigure app"
Each app has some set of parameters (possibly only a user-given name) that a user configures when adding the app.

Currently we don't have a way for the user to re-configure the app. Instead, once it's added, the app configuration cannot be changed.

There's a small gear icon next to the user-given app name on the thumbnail page and in the app titles. For this ticket, let's have that gear icon tak

[2022-05-02 18:59] moontrip commented on #881
for records, here is a main PR to address, https://github.com/VEuPathDB/web-components/pull/314

a fix PR for ref can be found at https://github.com/VEuPathDB/web-components/pull/347, which can be either merged into the above PR or main branch as it was branched out from the above PR

[2022-05-02 18:59] chowington commented on #1037
Here's what I have currently:

![image](https://user-images.githubusercontent.com/12377649/166307873-9e2252d7-d2e4-4a5c-9080-b86e94917965.png)

The backend doesn't give separate values for lat & lon, only the completeness for the geohash variable, which has a nonsensical name to users. I assume the geohash value exists iff lat & lon both exist, so logically it's pretty much equivalent. I don't see

[2022-05-02 19:16] d-callan commented on #1037
I'd be fine w 'geolocation', it's less wordy than saying 'latitude and longitude' but I think/hope equally understandable to most

[2022-05-02 20:58] dmfalke commented on #943
In reviewing this issue with @jernestmyers, we realized that my original suggestion was incomplete, since arrays are generic. I think we should just use https://gcanti.github.io/io-ts-types/. There are several useful types in the library, including this one.

[2022-05-02 21:54] #1107 closed

[2022-05-02 22:29] asizemore commented on #1107
deployed to mbio feature. Moving to Ready for Testing

[2022-05-02 23:25] danicahelb opened #1113 "Subsetting results modal: mouseover verbiage for "Required columns""
Suggested verbiage for mouseover information on “Required columns”:

`Unique identifier used to reference particular observations, allowing linkages across tables.`

We will wait until we have a prototype of the new subsetting modal on the QA site (https://github.com/VEuPathDB/web-eda/issues/935) before we review the mouseover verbiage for “Required columns”

[2022-05-02 23:38] danicahelb opened #1114 "Bar plot: proportion markers on the Map Viz Tool should display counts"
Discussed in 5/2/2022 EDA UX meeting.

Bar plot: proportion markers have a proportion ranging from 0-1 under the x-axis, which looks odd and is confusing (especially when all values are included, “1” is displayed on every marker). For example: "age group" in SCORE seasonal.

We decided that -- instead of displaying the proportion for the bar plot: proportion markers -- we will display counts makin

[2022-05-03 00:05] danicahelb commented on #1038
Discussed in 5/2/2022 EDA UX meeting

The geometric mean applies only to positive numbers. The geometric mean is often used for a set of numbers whose values are meant to be multiplied together or are exponential in nature, such as a set of growth figures: values of the human population or interest rates of a financial investment over time.

**Variables where the metadata range minimum is negative

[2022-05-03 00:08] danicahelb commented on #935
Discussed in 4/25/2022 EDA UX meeting.

We debated having 3 step vs 2 step process, and decided to stick to 2 step for now

Mockups were approved, and now require updates from styling team. Assigning to @asizemore

[2022-05-03 00:22] danicahelb opened #1115 "Convert percents to proportions"

[2022-05-03 00:25] danicahelb opened #1112 "Allow users to set certain values to 0 or null when geometric mean is selected for line plots"
Growth area:
We may want to offer users the ability to set certain values to be considered as zero/null. For example, for PCR Ct values the user may want to consider setting any values greater than 35 to null

[2022-05-03 14:29] dmfalke commented on #1109
I agree that we should reuse the existing configuration page. Perhaps we need to include an optional `visualizationId` prop, and use the presence of that to change the verbiage and behavior.

[2022-05-03 14:44] dmfalke commented on #1112
I created a related back-end issue, that this one will depend on: https://github.com/VEuPathDB/EdaDataService/issues/183

[2022-05-03 14:48] dmfalke commented on #1115
I think this is a purely front-end issue.

[2022-05-03 16:16] asizemore commented on #1109
oh that makes sense!
it also makes me realize after reconfiguring, the visualizations will have to each be opened in order to sync with the configuration changes. So vizs will need to know if they're out of sync with the current subset, or out of sync with the current configuration?
I'm not familiar with the out-of-sync-viz things - is that different enough that it should be a new issue?

[2022-05-03 17:35] danicahelb opened #1116 "Radio buttons on viz tools should be blue"
Radio buttons on viz tools should all use the same color. We want to only use red for warnings or errors, so please make all of the red buttons blue.

**Histogram & bar plot y-axis control is currently red:**
<img width="335" alt="image" src="https://user-images.githubusercontent.com/25450900/166507022-a744d49d-914f-46d2-80ac-39a8c612f17e.png">

**Line plot y-axis aggregation is currently blue:**

[2022-05-03 17:41] danicahelb opened #1118 "Map tool need loading indicator"
after I select the main var on the map tool, i see the map marker come up on the screen, but the screen seems to be frozen (I cannot scroll down to the plot modes section). I think this is because the map is still loading. a while later, the map zooms out a bit so that i can see more of the geographic context for the original marker. after this happens, i am then able to scroll.

We need a loading