[2021-09-14 00:09] danicahelb commented on #285
see https://github.com/VEuPathDB/EdaDataService/issues/69 when QA'ing this ticket

[2021-09-14 00:12] danicahelb commented on #310
see also https://github.com/VEuPathDB/EdaDataService/issues/69

[2021-09-14 00:51] danicahelb commented on #430
this is the order we should use:

1. histogram
2. bar plot
3. scatter
4. box plot
5. 2x2 table
6. RxC table
7. density (greyed out)
8. heatmap (greyed out)
9. time series (greyed out)
10. record count (greyed out)

all of the greyed out "coming soon" visualizations should be moved to the end of the list for now. these should be ordered alphabetically

[2021-09-14 13:19] asizemore commented on #301
Fixes merged. Will be qa-able once deployed.

[2021-09-14 13:25] SheenaTomko commented on #382
Text for X axis truncation vs Y axis truncation is different. Change Y to be "Data has been truncated by range selection, as indicated by the light gray shading"
<img width="845" alt="Screen Shot 2021-09-14 at 8 23 32 AM" src="https://user-images.githubusercontent.com/54597319/133265557-3304388c-5c6c-47b2-90a2-451dd8274665.png">

Everything else looks good

[2021-09-14 13:29] moontrip commented on #382
@SheenaTomko Thank you for your review. I can change it to be your suggestion 👍

[2021-09-14 13:44] SheenaTomko commented on #285
Plots work as intended. Will need to work on messaging around why variables are unavailable, but that's a separate ticket.
X-axis doesn't allow variables with >10 values (for readability, see ticket VEuPathDB/EdaDataService#69)
Y-axis doesn't allow variables with >8 values (limited based on number of colors in palette)

[2021-09-14 14:12] bobular commented on #382
That was intentional, Sheena.

The client doesn't know if the data has been truncated in the y-axis
direction without making a pass through the data and adding up counts (and
summing them for overlays).

Changing both to "may" would be fine though.

On Tue, Sep 14, 2021 at 2:29 PM DK ***@***.***> wrote:

[2021-09-14 14:13] nkittur-uga commented on #260
Subsetting is working as expected in the multifilters. Passes QA.

[2021-09-14 14:19] SheenaTomko commented on #382
Makes sense. So @moontrip, instead of what I requested above, please change the X-axis warning to "Data may have been truncated by range selection, as indicated by the light gray shading"

[2021-09-14 14:23] asizemore commented on #337
Closed with [EbrcWebsiteCommon PR#65](https://github.com/VEuPathDB/EbrcWebsiteCommon/pull/65)

[2021-09-14 14:23] #337 closed

[2021-09-14 14:24] #382 closed

[2021-09-14 14:25] moontrip commented on #382
@SheenaTomko @bobular Thank you for your feedbacks. I have done for the change at the following PR (merged) https://github.com/VEuPathDB/web-eda/pull/438

[2021-09-14 14:26] SheenaTomko commented on #337
Looks great. Marking as complete

[2021-09-14 15:47] dmfalke commented on #392
I spoke with @ryanrdoherty about this, and we both agreed that it would make the most sense to implement this feature for all users. I don't recall the details of why I suggested only having the **VEuPathDB** user's analyses be public -- I think I was under the impression it was going to be challenging to implement on the backend.

How do people feel about making this available for everyone for ph

[2021-09-14 18:46] #322 closed

[2021-09-14 19:21] sweverschulman commented on #234
see attached photo.

when mousing over - the pop up is showing up when my cursor is within the blue area also. The mouse over should be limited to just the area within the red box
![Screen Shot 2021-09-14 at 3 19 45 PM](https://user-images.githubusercontent.com/62298921/133320696-d04b31db-190d-4a46-bdc4-c7980879b596.png)

[2021-09-14 19:33] sweverschulman commented on #171
when loading qa studies on a new incognito window in chrome - a spinner shows up briefly as it loads.

[2021-09-14 19:35] SheenaTomko commented on #325
Looks good!

[2021-09-14 19:47] SheenaTomko commented on #360
Looks good

[2021-09-14 19:51] SheenaTomko commented on #394
This is fixed. Opens to the latest analysis

[2021-09-14 19:56] SheenaTomko commented on #331
Fixed

[2021-09-14 19:56] chowington commented on #388
Forgot to update web-eda...

[2021-09-14 20:05] #388 closed

[2021-09-14 20:06] sweverschulman commented on #231
I was able to verify using the following PROVIDE samples for "CO2" and "Methane" both series of vars have deafultMax and Min and bin. The histogram correctly displays the annotated values.

[2021-09-14 20:10] moontrip commented on #231
@sweverschulman Thank you for your tests 👍

[2021-09-14 20:20] danicahelb commented on #311
looks good, thanks!

[2021-09-14 21:33] danicahelb opened #458 "Visualization: mosaic RxC and 2x2 if 2 or more categories contain a very small % of the data, labels cover/overlap each other"
In this example from the GEMS1 study, there is only 1 data point with 2 of the x-axis values and >10,000 data points with the 3rd value. the labels for the 2 values with 1 data point each end up on top of each other. Can we offset the labels somehow in scenarios like this?

![image](https://user-images.githubusercontent.com/25450900/133336605-972d1edd-6d02-4d29-a373-35d26df79cf3.png)

![image](htt

[2021-09-14 21:51] danicahelb commented on #402
Overlay variables are constrained to terms with less than or equal to 8 unique values
Main variables are constrained from use in bar plot, box plot RxC when there is a large # of values (for ex, main drinking water source in GEMS1)

[2021-09-14 22:05] danicahelb opened #508 "Visualizations: client must parse numeric strings into JavaScript numbers when used as categorical values"
In GEMS1 I’m making a box plot of Rotavirus genotype P10, by TAC result (Ct value) vs EAEC aaic, by TAC result (Ct value).

Rotavirus genotype P10, by TAC result (Ct value) only has 3 unique values, even though it could range from 0-40, and 2 of these values have only 1 data point.

![image](https://user-images.githubusercontent.com/25450900/133339691-d5a573c5-424c-495f-bb1e-6c90b40255b8.png)

I f

[2021-09-14 22:12] danicahelb opened #456 "Visualizations: update boxplot behavior when using number / date variables for x-axis"
Boxplots variable constraints for the x-axis have been updated to allow us to use numeric or date variables with less than 10 unique values.

When using a number or date variable as a "categorical" we don't want the x-axis to appear as a continuous number line and binning should not be done automatically (or even allowed). Each unique value should appear with its own label & box/whisker.

The down

[2021-09-15 02:48] dmfalke opened #441 "General: Wire up the user service for analyses"
When the EdaUserService has been completed, we will want to update the client code to utilize this new service. The service will be used to retrieve analysis summaries for all listing pages, and analysis objects for the workspace component. It will also be used to retrieve and persist preferences, such as pinned analyses.

- [x] Add a configuration for `EDA_USER_SERVICE_URL`. This value should be

[2021-09-15 10:00] bobular opened #442 "Check/tidy response validation for contingency table `pvalue`"
Client API-side is allowing `number | string` for pvalue (2x2 and RxC)

Check that service is really just returning `number` (as API docs indicate) and tighten client as appropriate.

[2021-09-15 10:01] #410 closed

[2021-09-15 10:38] bobular commented on #72
There are currently 18 count requests for GEMS1 - now that birds eye is merged.

There are 6 entities, so for each entity there are
- 1 x  count requests with zero filters
- 2 x count requests with filters (filters look identical in browser dev tools)

I wonder if the memoization in the usePromise in core/hooks/entityCounts.ts is not working as intended for the `filters` dependency?  Does it need

[2021-09-15 12:41] dmfalke commented on #72
Thanks for the details, @bobular. One of the changes I have in mind includes smarter resource caching. This will address the repeated counts calls, and also basic navigation between different variables, visualizations, etc.

The basic premise is that many of these requests can be cached in memory, using studyId + filters as a key. If either of those change, we would clear the cache. There might be

[2021-09-15 14:08] danicahelb commented on #310
I tested this ticket with the GEMS1A study.
`Household wealth index, categorical` has 5 unique number values (0, 1, 2, 3, 4, 5)
`Traditional healer transport expenses amount` has 9 unique number values (0, 45, 70, 100, 200, 250, 300, 2000, 3000)

In the Browse / subset tab, these variables are both showing up in table format (not as a histogram). This is the behavior we wanted.

In the Visualize t

[2021-09-15 14:25] danicahelb commented on #402
seems OK, but I am waiting on https://github.com/VEuPathDB/web-eda/issues/310 to pass QA before moving this issue to "Complete"

[2021-09-15 15:14] moontrip commented on #231
The scope of work in this ticket is done and merged. However, in this regard, additional work was raised, simply put, adding X and Y axis ranges for scatter plot viz. The discussion is made at Slack ([here]([url](https://epvb.slack.com/archives/C0132PM1MT5/p1631536034100100)))

So, for clarity, I reopen this ticket.

[2021-09-15 15:33] aaronwlsong commented on #363
Tested several studies, seems the issue has been fixed, closing ticket.

![image](https://user-images.githubusercontent.com/61077845/133463599-17e73d3d-ecb8-4949-95c2-c497827d17d5.png)

![image](https://user-images.githubusercontent.com/61077845/133463825-a87c3845-3763-44c4-9506-36043f7c00bf.png)

[2021-09-15 16:20] aaronwlsong commented on #366
Looks good, closing ticket.
------------------------------
Replicated this issue in the same study and tested in other studies, they all look good now.

[2021-09-15 17:48] bobular commented on #419
It's supposed to be to the right hand side.

Do you have a very narrow screen?

[2021-09-15 17:55] #234 closed

[2021-09-15 18:49] danicahelb commented on #339
@dmfalke indicated that this ticket is a higher cost than expected. Given that, and that the work will likely be moot when we have a custom legend, we have decided to move this issue to Phase 2

[2021-09-15 19:28] bobular commented on #358
If any work needs doing for Phase 1 - I think this needs making clearer.  I'm confused by this whole ticket.

Why update the red/grey bars at all?

If users need to be able to explore which are the common combinations, is what we need here (or as a viz) actually an UpSet plot?

[2021-09-15 19:42] SheenaTomko commented on #327
Phase 1 proposal:
1. Move the delete and duplicate icons to the left side of the icon, leave the maximize icon on the right side
2. Change the maximize icon to https://fontawesome.com/v5.15/icons/window-maximize?style=regular

<img width="247" alt="Screen Shot 2021-09-15 at 2 28 34 PM" src="https://user-images.githubusercontent.com/54597319/133498821-58e29e07-a681-4a0f-9bd7-b2809311fdbb.png">

3.

[2021-09-15 20:09] danicahelb opened #622 "Visualizations: improve thumbnail styling"
Discussed in 9/13/2021 EDA WG meeting

In Phase 1, we made the following styling changes to the Visualization thumbnails:
https://github.com/VEuPathDB/EdaNewIssues/issues/123
https://github.com/VEuPathDB/web-eda/issues/327

For Phase 2, we want to improve the UI of the thumbnails: [mockups](https://docs.google.com/presentation/d/14FYZr4G2AiyE67yYRjBTSyuRkhDb8xFE5AUsi_eUDBs/edit#slide=id.gef814acf5

[2021-09-16 02:12] dmfalke commented on #318
The problem appears to be that the client is not restricting the entity lineage properly. In the case presented in the description of this issue, the client is allowing overlay variables from an entity that is outside the lineage of the X- and Y-axis variables.

[2021-09-16 14:36] danicahelb commented on #261
Hi Mike! I checked in with the clinepi team and we will be fine with a table preview with just 20 rows of data. We don’t need you to implement histograms by clicking on the column headers of the data since we can easily create these in the visualize tab of the EDA. let me know if you have questions!

[2021-09-16 17:29] bobular commented on #358
Notes from discussion with Danica:

1. Live site behaviour means no updates when "ANY" option is used.
    - Some feedback for users would be good (note: absent from live site)
    - Danica suggests graying out the entire Distribution column and maybe adding some text in the heading
2. Try to remove update button, and have the counts refresh automatically (in ALL mode), but with throttling/debounc

[2021-09-16 18:40] bobular opened #454 "Mouse-over tooltip for starred featured variable contains raw HTML"
Should be very low cost.

Doesn't seem to affect starred unfeatured variables.

Subsetting or Viz modes

![Screenshot from 2021-09-16 19-38-39](https://user-images.githubusercontent.com/308639/133667150-c86efc26-7f68-4265-94a8-945ac4b3b714.png)

[2021-09-16 20:01] danicahelb commented on #261
Discussed on a slack call with @eikonomega @steve-fischer-200 @dmfalke @SheenaTomko and @danicahelb

**Background**:

Mike had previously asked the question if paging/downloading unknown number of records was necessary if the purpose of the modal was just to select columns and then download since I understood that to be the primary purpose of the view. If the view is both for this purpose and for

[2021-09-16 23:21] danicahelb commented on #392
sounds good to me, thanks @dmfalke

[2021-09-16 23:27] danicahelb commented on #392
I checked in with @aurreco-uga about this today. It sounds like we need to do a lot more work than just adding the link to Public analyses in the header dropdown

Cristina said @jtlong3rd is working on persistence of analyses, sharing, & making strategies public--which is all needed to bring up the Public Analyses table.

Also, the UI/UX of the Public Analyses table is going to be different than w

[2021-09-17 03:35] #318 closed

[2021-09-17 13:29] SheenaTomko commented on #382
Looks good

[2021-09-17 13:55] #328 closed

[2021-09-17 18:01] dmfalke commented on #392
In the Sept 17, 2021 Friday ClinEpiDB UX meeting, we decided that the ability to make an analysis public, and the ability to add a description to an analysis, will only be available to predetermined users.

The UI for both of these can be crude, since they will not be public facing.

I would suggest that we only do this for one user. This way, if outreach is doing a demo, they can log in as their

[2021-09-17 18:44] SheenaTomko opened #453 "Show icon to open an analysis if EDA data is loaded"
At the moment, studies like ELICIT, GAMIN, SHINE, and India ICEMR Severe P. vivax and falciparum are missing the icon under "Explore the data" (see screenshot below) even though data is loaded in the EDA. The appearance of the icon may be dependent on the presenters or on having more than a preview loaded in clin-inc.

Cristina specified that instead, this should depend on having its EDA data load

[2021-09-17 19:12] SheenaTomko commented on #388
This is fixed

[2021-09-17 19:16] SheenaTomko commented on #322
Looks good

[2021-09-17 19:22] SheenaTomko opened #452 "Updates to My analyses table"
Change the table so the first column is the study and the second column is the analysis. A similar request is being made for the public analyses table in a separate ticket.

<img width="1164" alt="Screen Shot 2021-09-17 at 2 17 40 PM" src="https://user-images.githubusercontent.com/54597319/133842642-79389a5f-9c48-4864-899b-2538287d207e.png">

[2021-09-17 19:29] SheenaTomko commented on #301
looks good

[2021-09-17 19:39] SheenaTomko commented on #318
looks good

[2021-09-17 20:49] asizemore commented on #415
See screenshots (not in the right places, just an easy spot to implement as a test :) )
<img width="288" alt="Screen Shot 2021-09-17 at 4 35 23 PM" src="https://user-images.githubusercontent.com/11710234/133851869-d8ad14d8-5f2a-449c-98ed-88244470eda8.png">
<img width="266" alt="Screen Shot 2021-09-17 at 4 35 27 PM" src="https://user-images.githubusercontent.com/11710234/133851871-ed5d999a-0a74-406

[2021-09-17 21:25] SheenaTomko commented on #416
Note that https://github.com/VEuPathDB/EdaNewIssues/issues/137 is requesting that an icon is always shown for a study that's been loaded in the EDA and isn't "pre-release". May be relevant to this ticket too

[2021-09-18 03:44] danicahelb commented on #415
Discussed in the 9/17 UX meeting:

**Problem:** should we use a standard icon to represent links to all of the different tables & add labels to differentiate where the links take us? Or should we use table icons that are styled differently?

**Decisions:**

1. We want semantic uniformity when overlaying icons; the overlaid icon should always be an action (ie, download, explore, …)

2. We will use

[2021-09-18 03:46] danicahelb commented on #415
Ann, via slack:

In case you need to modify the new icons next week while I'm gone, I've made a folder called [Icons](https://drive.google.com/drive/u/1/folders/1n1GIqxFSg5ezRi-_qFrQsO2KYgwsrsYj) in the eda google drive that contains all of the icons we've made. My main concern is sizing -- there are some tricks it seems to sizing the svg relative to the artboard in order for the icon to line up a

[2021-09-18 04:02] danicahelb commented on #414
Additionally:
1. Rename "searches" column to "Explore & analyze"
2. reorder the columns:
- 1st column: "Study"
- 2nd column: "Explore & analyze"

[2021-09-18 04:07] danicahelb opened #572 "General: add "Notes" tab (for Phase 2)"
Dave had a great idea to add a “Notes” tab next to “Visualize” where the user can write notes about that particular saved analysis (ie, purpose, steps taken, etc)

Users could fill out the study description (needed for making an analysis public) within the notes tab; UI for making public analyses could guide them to filling out a designated section within the notes tab

[2021-09-18 04:08] danicahelb opened #621 "General: allow users to make "Public analyses""
Related to this phase 1 ticket: https://github.com/VEuPathDB/web-eda/issues/392

Discussed in 9/18 ClinEpi UX meeting:

Front end needs UI development to support users making their strategies public. We won’t have this in place for Phase 1.
- We need to guide users towards how to make their strategy public
- We need to provide a way for users to fill out the study description

Perhaps users could

[2021-09-18 04:12] danicahelb opened #448 "General: Public analyses table format"
On the EDA site, the Public Analyses link should take you to a stand-alone “Public analyses” table

This is in place of having the Public analyses table live within a tab on “My search strategies” (this is where the current Public strategies table lives in the WDK site)

Structure of the Public analyses table will look similar to the My analysis table currently on the EDA site, and will have the f

[2021-09-18 04:14] danicahelb opened #620 "General: user interface for sharing strategies"
Sharing strategies: what does the user interface look like? Phase 2 item, Discussions to be continued...

Should users be able to share the URL directly? This is more intuitive than the current UI to generate a URL that can be shared

Do we need a persistent URL? This would be useful for people to reference in publications

[2021-09-19 16:00] SheenaTomko opened #447 "Update mouseover text for find a variable"
Current text is verbose and confusing. Recommend:
Filter variables by name, description, or values. Use * as a wildcard. For example, _typ_ will match _type_ and _typically_, while _*typ_ will also match _atypical_.

<img width="509" alt="Screen Shot 2021-09-17 at 2 56 06 PM" src="https://user-images.githubusercontent.com/54597319/133846289-5acc834c-37de-4710-9335-09a7df343162.png">

[2021-09-19 17:03] bobular commented on #447
Another suggestion, that might not encourage users to use a trailing
wildcard.

"Start typing to filter variables by name, description and values. You can
use '*' to wildcard the start of words. For example, *typ* will match *type*
 and *typically*, while **typ* will also match *atypical*."

Do we really search by values at the moment? Need to check this. (On my
phone at the moment.)

On Sun, 19 S

[2021-09-19 18:39] danicahelb opened #449 "Subsetting: results table link and data table popup styling"
**Link on subsetting tab**
- Use the table overlaid with the download icon, and label it: “View and download”
- include mouseover text with more information: “View and download current subset of Communities”

**Results table view**
- Even though we have decided to keep the text in the label simple, we want to make it VERY obvious that the link brings you to a SUBSET of data in a particular ENTITY

[2021-09-19 18:40] danicahelb opened #450 "General: styling of all icon/label links (buttons?) should match"
Styling:
- label should always be positioned to the right of the icon
- use same color for the icons and labels
- "view and download" link on the subsetting tab should have the same styling as the “download”, “+ new analysis”, "my analyses" on the study header (font, text size, color)
- maybe make them look like buttons?

[2021-09-19 18:42] SheenaTomko opened #451 "Implement alphanumeric ordering for values"
Example: India ICEMR cross-sectional study. First screenshot shows the qa site, second shows what it should be, which is on the live site. I think Dave mentioned needing to implement an alphanumeric package to achieve this

<img width="363" alt="Screen Shot 2021-09-17 at 3 12 13 PM" src="https://user-images.githubusercontent.com/54597319/133848028-b39c515e-de89-4220-8153-96d7d893885d.png">
<img wi

[2021-09-19 19:07] steve-fischer-200 opened #455 "Study Details tab: needs styling adjustments"
- [ ] The fonts for the summary section (just below our EDA tabs) are too large.  They are out-of -scale relative to the tabs and other EDA features.   This is confusing
- [ ] the Table of Contents in the box at the left is too similar (position and layout) to the Variables Tree in subsetting.  Many times I have typed a variable name into the search box, thinking i was in the subsetting tab.   Pos

[2021-09-20 00:04] danicahelb opened #457 "Visualizations: very strange boxplot behavior"
In GEMS1 I’m making a box plot of Rotavirus genotype P10, by TAC result (Ct value) vs EAEC aaic, by TAC result (Ct value).

Rotavirus genotype P10, by TAC result (Ct value) only has 3 unique values, even though it could range from 0-40, and 2 of these values have only 1 data point.

![image](https://user-images.githubusercontent.com/25450900/133339691-d5a573c5-424c-495f-bb1e-6c90b40255b8.png)

I f

[2021-09-20 14:33] d-callan commented on #335
i dont love this, but i suppose can live w it.. histograms to me ideally should be able to support both reads of length of the individual bars, as well as the area of all bars of a particular overlay color. but i agree of the options here presented by bob the last one is far better than the first..

[2021-09-20 15:18] d-callan commented on #419
i do have a narrow laptop screen. when im using that things often look kind of bad tbh, like a randomly ordered list of things w random widths. the mosaic plots in particular, since the widths of the two tables are different.

[2021-09-20 15:47] danicahelb opened #459 "Visualizations: overlay variable constraints not working properly"
In GEMS1 scatterplot, i selected Participant repeated measure variables for both the x and y axes. I then was able to select a household repeated measure variable for the overlay and got the following error message:

![image](https://user-images.githubusercontent.com/25450900/133332701-a5dc729d-2c38-4389-96c3-fd2a68150e26.png)

[2021-09-20 15:49] d-callan commented on #430
that seems good. i wonder if we might find a general rule for this, rather than have someone re-visit every time we add some new viz type?

[2021-09-20 15:57] danicahelb opened #460 "Subsetting: mouseover text for subsetting download is cut off when in Participant repeated measures entity space"
In the subsetting tab, if I am looking at a variable in the Participant repeated measures entity space and hover over the icon to view/download participant repeated measures matching the current subset, the text in the mouseover is getting cut off. It is not an issue of having long text in the mouseover because this isn't happening when i am working in the household repeated measures space

![imag

[2021-09-20 15:57] d-callan commented on #442
ive opened a related issue for plot.data veupathdb/plot.data#94

[2021-09-20 16:57] bobular opened #461 "Overlay value part of viz plot hovertext is invisible with new "no data" styling"
Slack discussion [here](https://epvb.slack.com/archives/C012ZK4Q5CZ/p1631624380037500)

Affects just barplot and histogram.

Likely solution is to redo all mouse-over hovertext using hovertemplate and make `hovermode: 'closest'` for all plot types.

Suggested cost: low.

How to replicate:

1. Check out `missing-data-styling` branches in eda and components (unless already merged)
2. GEMS1, barplot

[2021-09-20 17:55] danicahelb opened #463 "Visualizations: OR and RR are being calculated backwards in 2x2 tables"
Upon QA of https://github.com/VEuPathDB/plot.data/issues/87, we identified that there is an issue of what group is being used as the reference group for the calculation of odds ratios (OR) & relative risks (RR), described below.

Example: GEMS1 study-> 2 x 2 plot -> X= Case or control participant; Y= Cryptosporidium, by ELISA.
Here we see in the plot that 11.9% of cases have crypto, and 6.4% of co

[2021-09-20 18:15] SheenaTomko opened #472 "Error message appearing for data with data_shape = continuous, data_type = integer"
Steve updated the services so that integer data won't appear with a decimal place, and Jay updated the loading pipeline so type = integer when the type is numeric and precision = 0.

However, now that Jay has reloaded PRISM2, the histograms for a number of variables has disappeared and been replaced by the error message "This variable type is not currently handled." Jay checked the variables and r

[2021-09-20 18:57] d-callan commented on #310
the bar and box plot errors seem to be the same as veupathdb/edaloadingissues#5. that issue claims to be closed and ready for qa, but at least for gems1a categorical household wealth index that seems to not be the case. @jaycolin possible things need reloaded for this change to take affect?

for scatter i have not confirmed but suspect a similar problem, because the backend response succeeds and a

[2021-09-21 00:43] danicahelb commented on #463
![image](https://user-images.githubusercontent.com/25450900/134095656-8b6e0ca7-1a9c-4216-ad18-6af7ce96f879.png)

[2021-09-21 00:54] danicahelb commented on #419
Discussed in 9/20 EDA mtg

- This is a window resolution issue: 1280 pixels → switches from side by side view to top/bottom view
- Revisit default resolution behavior so that the switch to top/bottom view only occurs on mobile / very small windows
- Can we determine average screen resolution for ClinEpi users from awstats?
-

[2021-09-21 01:05] d-callan commented on #324
it is not.. and id guess probably requires some discussion on how to best implement, decision-making wrt what cut-offs should be per viz, and id guess some time from @ryanrdoherty..

@danicahelb if we dont mean to have umsp or maled until phase 2, can this possibly wait?

[2021-09-21 01:20] danicahelb commented on #465
here is the ticket for how viz thumbnails will be improved in phase 2: https://github.com/VEuPathDB/EdaClinepiPhase2NewIssues/issues/14

[2021-09-21 01:34] danicahelb commented on #392
This is dependent on https://github.com/VEuPathDB/web-eda/issues/441

[2021-09-21 01:35] danicahelb commented on #448
This is dependent on https://github.com/VEuPathDB/web-eda/issues/441

[2021-09-21 01:43] danicahelb commented on #420
OK, this may have been an issue with annotation property assignments in the .owl

[2021-09-21 01:46] danicahelb commented on #420
I don't think there should every be a use case where a featured variable belongs to a node that is being hidden. We should probably flag cases like this so that the outreach team takes another look at the assigned annotations.

[2021-09-21 01:54] danicahelb commented on #390
combine into section labeled: "Explore example analyses"

This section will be populated with example Public Analyses created by ClinEpi outreach team, and so is related to:
https://github.com/VEuPathDB/web-eda/issues/448

[2021-09-21 10:00] nkittur-uga commented on #410
Tested in 2 x 2 and r x c and it is fixed. Passes QA.

[2021-09-21 14:09] d-callan commented on #324
talked w ryan, decided to send the data to R, count rows there and return that number to java to throw the 422 if needed. hes also offered to give this a go, hopefully today.

[2021-09-21 14:44] dmfalke commented on #430
I'm going to move this to EdaDataService

[2021-09-21 15:05] bobular opened #482 "Visualizations: 2x2 RxC mosaic tabs that switch between plot and table have styling issues"
On some browsers (to be further diagnosed) the selected tab is "whited out" like below, after changing tabs.  I found that it is possible to avoid this if mousing out of the tab very quickly after clicking (near the edge helps). YMMV.

Below is a screenshot from Danica's screen, but I get it too on FF Linux.

![image](https://user-images.githubusercontent.com/308639/134196224-cae84303-3724-48fd-b3

[2021-09-21 19:05] #429 closed

[2021-09-22 10:08] bobular commented on #419
Clarification: ideally we want to tweak the layout so that the birds eye bar doesn't go underneath on screens 1280 px and bigger.

If users have windows smaller than that, this is their problem!

Google Analytics definitely has screen/browser sizes.

[2021-09-22 12:12] bobular commented on #419
Trivially reducing the width of the birds-eye and coverage table from 500 to 400px makes things fit in a 1280px screen.
However, the height of the birds eye mouseover legend is greatly increased as a result. See below

![image](https://user-images.githubusercontent.com/308639/134340959-4c05c4b9-5026-4466-93cd-5d904e099ed5.png)

[2021-09-22 12:17] bobular commented on #419
Might as well put them horizontal? They take the same amount of vertical space!

![image](https://user-images.githubusercontent.com/308639/134341941-d3370c42-2b68-40a9-886c-c37c0770e6b1.png)

[2021-09-22 13:26] aaronwlsong commented on #328
It looks good now. Closing ticket.
![image](https://user-images.githubusercontent.com/61077845/134351340-c5b2c615-367a-4925-84a1-c004a798be50.png)

[2021-09-22 13:27] moontrip commented on #328
@aaronwlsong Thank you for your tests 👍

[2021-09-22 13:31] #334 closed

[2021-09-22 14:06] #362 closed

[2021-09-22 16:26] bobular commented on #335
Hi @d-callan - could you elaborate on how you think the user can't read the bar length or area of all bars of a particular overlay color?  Is it because of the white?

[2021-09-22 16:44] d-callan commented on #367
i dont think this is a bug. i think that var is from household repeated measures? if so, then to stratify by it would duplicate values across your x and y axes, which we said we didnt want to automatically do. my memory is that there was discussion to allow the user to very explicitly do this type of thing in a future phase, either as a derived var or some dedicated feature.

[2021-09-22 17:05] sweverschulman commented on #234
Review mouse over function and the pop up no longer pops up in the incorrect spaces. The pop up is performing correctly.

[2021-09-22 17:16] d-callan commented on #335
It still supports bar length well, but area less so because of the white. It's workable though, and the least bad option of what I've seen.

[2021-09-22 17:28] bobular commented on #310
I think it's best if I comment when back end (re)loading is finalised.

With the feature back end and the current `main` branch client, I am not allowed to pick `Household wealth, categorical` as the main variable for histogram viz.  Was that what was giving 5+ minutes of spinner?

[2021-09-22 17:32] moontrip opened #469 "Visualization: handling long axis tick label with ellipsis and tooltip for Mosaic plot"
This work is a kind of an extension of previous task, [long axis tick labels for barplot and boxplot](https://github.com/VEuPathDB/web-eda/issues/328), which would apply to Mosaic plot.

note: this ticket was initially [made at web-components repo](https://github.com/VEuPathDB/web-components/issues/214) expecting that it is shown at our project board, but somehow it does not work. So I made the sa

[2021-09-22 17:40] moontrip commented on #469
well now I realized how it makes happen so I will close this

[2021-09-22 17:40] #469 closed

[2021-09-22 17:40] bobular commented on #469
https://github.com/VEuPathDB/web-components/issues/214 is showing on the Kanban board under "this cycle".

ahahaha you got there first

[2021-09-22 17:43] moontrip commented on #469
@bobular yes I firstly didn't know how to make this show in the project board so I made this ticket assuming that the board only handles web-eda repo. But I got the point to make it happen by setting Projects at right hand menu 😄 thus I closed this duplicate issue

[2021-09-22 17:45] d-callan commented on #310
it was household wealth, categorical. and its values are 0-4, so idk why its a string? it was available before i think.

[2021-09-22 18:06] chowington commented on #330
@bobular Can I get clarification on the scope of this ticket? Is this just for the "show missing data" (not verbatim) button, or, for instance, for any place that still has all-caps styling?

Also, the current behavior regarding your first question is that the switch widget (separate from the text label) does focus on hover, which I'm fine with keeping.

[2021-09-22 18:06] jaycolin commented on #310
In ATTRIBUTEVALUE_[studyID_ver]_[entityType] string_value is *always* populated for all data types.
In ATTRIBUTEGRAPH_[...] you have DATA_TYPE = 'integer' and DATA_SHAPE = 'categorical'.
I don't know why you wouldn't use ATTRIBUTEGRAPH to determine which kinds of display to make.

[2021-09-22 18:10] d-callan commented on #310
Oh it was number before, and now it's integer. And I probably haven't updated the variable constraints to recognize integers yet.

[2021-09-22 18:31] d-callan commented on #310
new issue for the above ^ veupathdb/edadataservice#98

[2021-09-22 19:53] d-callan commented on #310
@jaycolin you sure its integer? i just updated the var constraints on a branch, tested locally, and still categorical household wealth isnt available. and it does seem to claim its a string type as @bobular says..

[2021-09-22 20:05] dmfalke commented on #310
The bug is here: https://github.com/VEuPathDB/EdaSubsettingService/blob/8b09dbfc324234654e334c1ebd4df327fe5fe474/src/main/java/org/veupathdb/service/eda/ss/model/VariableResultSetUtils.java#L77. The integer type is not being handled.

[2021-09-23 14:18] ryanrdoherty commented on #472
Apparently both front-end and back-end issues for this; we never fully implemented on backend.

[2021-09-23 14:25] dmfalke commented on #472
@ryanrdoherty please add a comment with the new tags for any affected services. I will wait for that to merge the associated PR.

[2021-09-23 14:36] #231 closed

[2021-09-23 14:41] moontrip opened #478 "refactoring axis range-related function"
This is related to refactor utililty functions that is used for finding axis range for histogram and scatter plot vizs.  [The corresponding PR](https://github.com/VEuPathDB/web-eda/pull/466) is merged

Discussions are made at the following comment
https://github.com/VEuPathDB/web-eda/pull/466#pullrequestreview-760227422

[2021-09-23 14:47] moontrip commented on #231
Hi @sweverschulman, I guess you would review this again so I leave an information for you 😃 In this case, you can only test Scatter plot viz for both independent and dependent axes' ranges, especially for the latter.

[2021-09-23 15:23] aaronwlsong opened #514 "Visualization: Initial coordinates starts from (0,-1) not (0,0)"
For box plot in several studies (india_cross_sectional, india_cohort, india_behavior_cx...), the initial coordinate starts from (0,-1) but not (0,0). It is back to normal after choosing the vars.

![image](https://user-images.githubusercontent.com/61077845/134535930-80f30df7-2ed9-4c0f-8d32-7c4feca8907b.png)

[2021-09-23 19:29] nkittur-uga opened #543 "Starred variables not behaving properly for multifilters"
Starred variable behavior for multifilters is not consistent between the browse and subset tab and the visualization tab.

1. Starring behavior is different for multifilters in the two tabs. In the Browse tab, you can star the multifilter term but not the values within. In the Visualize tab, you can star each of the terms within a multifilter but not the multifilter itself.

2. Starring a multifil

[2021-09-23 20:34] #472 closed

[2021-09-24 03:09] dmfalke commented on #414
These issues were fixed by https://github.com/VEuPathDB/EbrcModelCommon/pull/8 and https://github.com/VEuPathDB/EbrcWebsiteCommon/pull/69

[2021-09-24 03:09] #414 closed

[2021-09-24 13:49] bobular commented on #358
Hi @danicahelb - I hope you are feeling better.

I have addressed 2. above - the distribution bars update automatically in "all" mode. The button is removed, except for >15 sub-variables.  Even with the button, the update is automatic, but you can make it happen faster by clicking the button.

"Debouncing" is implemented to avoid multiple clicks causing a backlog of requests sent to the server. In

[2021-09-24 14:02] aaronwlsong commented on #362
It seems ok now. closing ticket.
______________________________
Replicated and tested the issue with the same variable in both PRISM2 Border Cohort and other study.

Instead of truncating decimal, the display format has been changed into scientific (exponential) notation.
![IMG_5430](https://user-images.githubusercontent.com/61077845/134686323-2effd3d7-a1dd-45af-b41a-43c3d1693f9a.JPG)

[2021-09-24 14:03] nkittur-uga commented on #429
QAed, checked tool tips messages in scatter plot, box plot, 2x 2, and specific messages are popping up. QA is complete.

[2021-09-24 14:20] aaronwlsong commented on #391
Updated study card looks good now. Closing ticket.

[2021-09-24 16:33] bobular commented on #358
Decided to roll out the new update-behaviour without any major UI/UX changes.  See the PR.

So, for QA testers - please check that multifilters update OK (in "all" mode).  GEMS1A has a range of multifilters, including a huge 59-variable "bacteria in stool" multifilter.  The button re-appears for this one, but it will update the distribution bars without any user-intervention.

[2021-09-24 16:57] sweverschulman commented on #414
The following studies when spot checked confirmed correct functionality: GAMIN RCT, PRISM 2 ICMR Border Cohort and SCORE Rwanda. The columns names have been updated and ordered correctly.

<img width="279" alt="Screen Shot 2021-09-24 at 12 55 24 PM" src="https://user-images.githubusercontent.com/62298921/134712692-5f5b10ab-c61d-45d3-82af-2b93dffd1fbf.png">

[2021-09-24 17:39] #441 closed

[2021-09-24 18:31] dmfalke commented on #413
closed by
* https://github.com/VEuPathDB/EbrcWebsiteCommon/commit/3f8cbf134d4d1c21199f3c7460136018ebbe19ba
* https://github.com/VEuPathDB/ClinEpiWebsite/commit/b69a5ad3fc4aae298a6d1c58f8c77a717a818c60
* https://github.com/VEuPathDB/MicrobiomeWebsite/commit/70b85514b620d6f08062ecd9e0e112567691e546

[2021-09-24 18:31] #413 closed

[2021-09-24 19:13] dmfalke commented on #380
@SheenaTomko do you have a preference for how these are formatted? There doesn't seem to be an obvious choice for this.

These are the options I can think of, each with drawbacks:
1. In the same area, one line per variable. This can get tall pretty quickly. We could make this collapsible.
2. In the same area, one line for all variables (with wrapping). This can be difficult to read.
3. In the tabl

[2021-09-24 19:16] SheenaTomko commented on #380
I think I like 2 best for now, in the same are with wrapping. If you can order the Provider labels using the same order as the variables in the multifilter, that would be ideal.

We can always reassess this later, but for now I want this to have minimal impact on the page

[2021-09-24 19:34] SheenaTomko commented on #472
Looks good. Checked in PRISM2 and India ICEMR cx, 2 studies I know were reloaded recently

[2021-09-24 20:15] SheenaTomko commented on #361
Confirmed that this looks fine now in GEMS1A and in India Behavior. Closing this and moving to Complete
<img width="1139" alt="Screen Shot 2021-09-24 at 3 13 26 PM" src="https://user-images.githubusercontent.com/54597319/134734502-f8da5ae1-5033-465c-940a-b92a6ef921b0.png">

[2021-09-24 20:15] #361 closed

[2021-09-24 20:18] SheenaTomko commented on #420
Closing the duplicate ticket I made https://github.com/VEuPathDB/EdaNewIssues/issues/149.

Note that the featured variables for WASH-B Kenya have been updated, so just "Cluster study arm" is a featured variable from the Community node. This shows up correctly in the Featured variables section, but is missing from the main variable tree below, where it should be under Community. All other featured

[2021-09-24 21:35] SheenaTomko commented on #453
This was fixed at some point. Now GAMIN and ELICIT have a study analysis icon on the card and drop down. Closing this ticket and marking as complete, but will open a new one in phase 2 specifically for the UI around pre-release studies

[2021-09-24 21:35] #453 closed

[2021-09-24 21:42] SheenaTomko opened #618 "General: UI for pre-release studies"
Need to make sure we have the right UI for pre-release studies (like PERCH, LAKANA, Namibia, etc.)

On qa.clinepidb should have no icon to access data (in either the dropdown or the study card), and instead say "COMING SOON!" If the study has real data loaded and the user is logged in with an account with access, the icon should appear. Should have the same behavior on qa.restricted.clinepidb.

Fo

[2021-09-24 22:27] bobular commented on #330
Sorry for the delay - didn't see this until now.

I'm pretty sure the ALL-CAPS should be gone from the entire app.

Yes keep the button focus on hover - I think it's useful feedback that distinguishes active buttons from disabled/greyed out ones.

[2021-09-27 15:07] sweverschulman commented on #334
confirmed that while using chrome - the chrome tag switches studies via all methods of navigation.

[2021-09-27 18:52] #380 closed

[2021-09-27 20:25] dmfalke opened #484 "Icons: enable ebrc icons from @veupathdb/web-common"
Custom font-based icons from `@veupathdb/web-common` are not working. It is likely an issue with how the icon woff files are deployed.

[2021-09-27 20:28] danicahelb commented on #327
Discussed in 9/27 EDA WG meeting

We have decided to move forward with making the entire picture (other than the icons) clickable to open the visualization in Phase 1.

For a clean look, the icons to duplicate or delete the visualization will not be visible/accessible until the user mouses over the thumbnail. On mouseover, duplicate & delete icons appear on the upper right hand side of the thumbna

[2021-09-27 20:40] moontrip commented on #327
@danicahelb Thanks again for updating this ticket that was discussed at Slack 👍

[2021-09-27 22:21] danicahelb commented on #482
I was using Chrome, if that helps

[2021-09-27 22:27] danicahelb commented on #367
seems to be working now, closing this ticket

![image](https://user-images.githubusercontent.com/25450900/134993820-5fff21c8-c16f-44a0-afe0-5d47d7ed68bf.png)

[2021-09-27 22:27] #367 closed

[2021-09-27 22:31] danicahelb commented on #369
Now I am no longer able to select "Traditional healer, medical expenses amount"
The mouseover indicates I need to select a number or a date, but this variable is a number

![image](https://user-images.githubusercontent.com/25450900/134994134-5d80676c-498c-4beb-9ba1-c7eafb22bbdc.png)

[2021-09-27 22:43] #454 closed

[2021-09-27 22:57] danicahelb commented on #114
This seems to be fixed. @bobular can you take a look at this ticket & close if fixed?

![image](https://user-images.githubusercontent.com/25450900/134996339-62bdb4e7-967e-405e-962a-87ef36ca34d5.png)

[2021-09-28 17:05] moontrip commented on #327
@danicahelb I have made a PR (https://github.com/VEuPathDB/web-eda/pull/485) to address thumbnail related stuffs, including your latest request above. FYI, here is my comment link with a screenshot: https://github.com/VEuPathDB/web-eda/pull/485#issuecomment-929411236

[2021-09-28 20:59] bobular commented on #114
I think it's basically fixed now.  It's not any smaller/more compact but I've got used to it this size and think it's OK.
Danica's screenshot looks a bit messed up, but that's a **very** narrow screen.  I checked at 1280px and 1024px and it looks fine.

Closing this ticket.

[2021-09-28 20:59] #114 closed

[2021-09-29 02:48] dmfalke commented on #484
It appears that the `file-loader` webpack loader is corrupting the font files. This only impacts the local dev site. A workaround is to link `@veupathdb/web-common` from the repo https://github.com/VEuPathDB/EbrcWebsiteCommon. When this is done, the fonts are loaded property.

Given the workaround, I'm going to move this issue to technical debt list, even though this isn't technically technical de

[2021-09-29 10:18] ryanrdoherty commented on #324
I put a mechanism in place which throws 400 if the subset size is over a (optional) limit imposed by the client.  @d-callan is refining it to incorporate missingness of the plotted vars so we don't over-protect.  Those changes are on her "limit-request-sizes" branch and I'm not sure of the status.  @dmfalke, can you add what you think is a reasonable limit to scatterplot requests and start using t

[2021-09-29 10:54] d-callan commented on #324
That branch could probably be merged, if needed. There is one unresolved comment from @ryanrdoherty that I was hoping to address first, but I'm not sure I'll have the time currently. It could equally be addressed at a later date.

The only place besides scatter that I think may currently need this would be for boxplot requests that ask for 'all' points.

[2021-09-29 13:39] bobular commented on #464
Reassigned as medium cost.

The `legendrank` plotly parameter seems to be new, and not available in the version of plotly.js we are using - nor in the latest version available with `yarn add plotly.js`.

Nor does it seem to work in the latest CDN version of plotly
https://codepen.io/bobular/pen/BaZdgmY
(you can try to switch the order by adding `legendrank: number` to `trace1` and `trace2` and it

[2021-09-29 14:13] bobular commented on #419
Maybe while doing this ticket we should think about using more horizontal screen space in the viz tab when available.  The sizings that work for 1280px will look a bit odd on bigger screens.

[2021-09-29 14:55] bobular commented on #428
Which study is the screenshot from?

[2021-09-29 15:03] SheenaTomko commented on #428
Might have been India ICEMR cross-sectional

[2021-09-29 15:05] SheenaTomko commented on #428
You can also see the same issue in some other studies like India ICEMR cohort, India ICEMR Meghalaya, GAMIN, etc., particularly if you have your browser window taking up ~75% of the laptop screen width

[2021-09-29 15:08] bobular commented on #335
@SheenaTomko  please resolve as required

[2021-09-29 15:10] bobular commented on #324
Impediment - bob needs clarification

[2021-09-29 15:22] bobular commented on #415
There's a technical issue remaining about local dev site vs production/qa sites - another ticket addresses this.
@dmfalke  will add a link.

[2021-09-29 15:22] #415 closed

[2021-09-29 15:23] dmfalke commented on #415
https://github.com/VEuPathDB/web-eda/issues/484

[2021-09-29 15:58] bobular commented on #310
Please re-test with "pinned" studies

[2021-09-29 16:14] aaronwlsong opened #491 "Visualization: No response for chosen variables in histogram"
In some india studies, histogram does not respond chosen variables. No any warning messages, just looks like always loading data.

eg.1. In _india_ICMER_SevereMalaria_ study, for histogram, when main="Calcium", overlay="" or any var
![image](https://user-images.githubusercontent.com/61077845/135300777-d25b055b-12d1-415e-b9e5-8d0c2dc1723a.png)

eg. 2 In _India ICEMR Fever Surveillance_ study,  When

[2021-09-29 18:22] asizemore opened #487 "Styling: Use new icons for My Analyses and download current subset"
Follow up to Creating New Icons issue #415

[2021-09-29 18:31] asizemore commented on #415
Because of the complications Dave mentioned and the delay in being able to use these icons elsewhere (waiting for the My Analysis button), I thought it would be easier to make a separate issue for actually implementing the new icons (#487). Also I'm hoping the separateion makes the progress and dependencies a little more clear :)

[2021-09-29 19:56] #327 closed

[2021-09-29 19:56] #462 closed

[2021-09-29 20:44] jtlong3rd opened #490 "When logging in, transfer analyses from the guest session"
(Currently, if you create some analyses as a guest user and then log in, your work will be lost.)

[2021-09-29 22:25] danicahelb commented on #441
adding "paused" label for now. Jamie will demo in Friday 10/1 UX meeting. We will need to QA https://github.com/VEuPathDB/web-eda/issues/392 and https://github.com/VEuPathDB/web-eda/issues/448 to see that this is working properly.

[2021-09-29 22:46] danicahelb commented on #310
I tested again with GEMS1A, which has been reloaded.
`Household wealth index, categorical` has 5 unique number values (0, 1, 2, 3, 4, 5)
`Traditional healer transport expenses amount` has 9 unique number values (0, 45, 70, 100, 200, 250, 300, 2000, 3000)

In the Browse / subset tab, these variables are both showing up in table format (not as a histogram). This is the behavior we wanted.

In the Vi

[2021-09-29 23:01] danicahelb commented on #358
Hi @bobular one thing i noticed is that -- when i add a filter under the multifilter -- the "loading" icon (circle) does not appear right away so there is no immediate indication that the distribution bars will update. Do you think it is possible to have the loading icon come up sooner after a filter has been applied?

Is it confusing to have the "update" button available on multifilters with >15

[2021-09-29 23:07] danicahelb commented on #358
With regards to your other comments, I made phase 2 tickets, we can discuss these issues after phase 1 release:
https://github.com/VEuPathDB/EdaClinepiPhase2NewIssues/issues/21
https://github.com/VEuPathDB/EdaClinepiPhase2NewIssues/issues/3

[2021-09-29 23:28] danicahelb opened #575 "Visualizations: documentation on variable constraints in the “Learn more” link is out of date"
using the WASH-b Kenya study, I made a box plot of LAZ (participant repeated measure entity) for each study arm (community entity). I'd like to overlay this by either "study timepoint" or "diarrhea in last 7 days" (both under participant repeated measure entity) but I can only select overlay variables in the community entity

![image](https://user-images.githubusercontent.com/25450900/135361826-6c

[2021-09-29 23:51] danicahelb commented on #335
Checked with WASHb Kenya, using `Bruising during last 7 days, caregiver report` as the overlay variable

Styling of "no data" for the overlay variable looks good for these visualizations:
- Scatter plot
- Box plot
- Bar plot (because x-axis variable can only have 10 or fewer values, we don't see the issue noted for histograms, below)

**There are issues with these visualizations:**
- Histogram: wh

[2021-09-30 15:21] d-callan commented on #310
i cant reproduce this locally, or on dfalke-b.clinepidb.org. @dmfalke something to do with deployment?

[2021-09-30 15:23] d-callan commented on #310
veupathdb/edadataservice#98 seems to be failing qa for the same reason

[2021-09-30 16:42] moontrip commented on #289
Hi @SheenaTomko I just need your quick review and confirmation whether the new space I have made looks okay for you. Two screenshots are shown in the following, before and after change in order. Thanks!

- Before (current display)
![before-marginTop](https://user-images.githubusercontent.com/12802305/135496382-e90ed99e-1d92-4fe3-971f-b7ef729a915b.png)

- After change
![after-marginTop](https://use

[2021-09-30 16:58] moontrip commented on #450
Hi @danicahelb May I ask your opinion about the last item, `make them look like buttons` ? I have tried to change the top links (`Download`, `New analysis`, and `My analyses`) to be button style as follows. Certainly, the Download is the current style (without change), the New analysis is a button style with a color (color may be changed), and the My analyses is applied to have outline so that it

[2021-09-30 17:10] danicahelb commented on #462
Looks great!

![image](https://user-images.githubusercontent.com/25450900/135500374-9ddb6bc2-92e4-4480-802f-f386426475e1.png)

[2021-09-30 17:20] danicahelb commented on #327
thumbnails are clickable & icons look great. thanks!

[2021-09-30 17:24] danicahelb commented on #465
Hi @moontrip can you try to make the grey for the out-of-date thumbnails a bit LESS transparent? The text is hard to read over the graphics, and I'm hoping that if we make the plot less visible the text will be easier to read. Thanks!

![image](https://user-images.githubusercontent.com/25450900/135502265-b4c79c84-d73c-4961-961f-f6c6d35925be.png)

[2021-09-30 17:58] moontrip commented on #465
Hi @danicahelb Thank you for your review and suggestions! 👍 As suggested I have slightly increased opacity of gray, in addition to, increased text color to be darker (1st screenshot). The second screenshot is applied with a bit more increase of opacity compared to the 1st one (not that visible to distinguish between two though). Please see the screenshot below and let me know if it works: you are

[2021-09-30 18:47] danicahelb commented on #465
Thanks @moontrip! Opacity in the 3rd screenshot looks good to me, I also like the darker text. Sheena suggested adding a slight white halo around the text, I don't know if that would be easy to implement or not.

[2021-09-30 19:10] moontrip commented on #465
@danicahelb Sounds great! Also tried to add an outer glow effect to the text, but it is mostly visible under purple (and the scatter plot in some degrees). It is understandable as white is not that visible with light gray 😃 - please see the screenshot. If it is okay, then I will make PR including the effect.

![thumbnail-gray-out6](https://user-images.githubusercontent.com/12802305/135515931-4a6e6

[2021-09-30 19:11] danicahelb commented on #465
@moontrip this looks perfect, please make the PR. thanks!

[2021-09-30 19:24] moontrip commented on #289
Just for a record, Sheena replied me via Slack, saying that it looks great after the change. So I will use that spacing

[2021-09-30 19:36] #465 closed

[2021-09-30 20:04] danicahelb commented on #450
thanks for the mockups @moontrip! I've checked in with the ClinEpi team, and we prefer option (1) `Download` (so no need to make them look like buttons.

Yes, the "View and download" link is the top right table icon. The styling for that link is discussed in this ticket: https://github.com/VEuPathDB/web-eda/issues/449. Could you implement these changes while you are working on this ticket?

Use th

[2021-09-30 20:10] danicahelb commented on #450
Oh! and we want to use a new icon Ann created for `My analyses`

![image](https://user-images.githubusercontent.com/25450900/135523493-f99b57cb-e1c3-463d-80c7-de9d1c1963cb.png)

[2021-09-30 20:37] dmfalke opened #493 "Use dataset record to assiciate eda study with wdk dataset"
The association currently comes from the eda service. It will come from the wdk datasets in the future.

[2021-09-30 20:50] moontrip commented on #450
@danicahelb Thank you for your comments and suggestions 👍 I looked through several issues and corresponding PRs via your info, and I found that actually there is an unresolved issue for the table icon itself, which Ann and Dave are currently discussing in a PR ([here](https://github.com/VEuPathDB/web-eda/pull/488)). So, I will wait for its progress before working on View and download icon/label/to

[2021-09-30 21:45] #392 closed

[2021-09-30 21:57] SheenaTomko commented on #380
This works and looks good for small multifilters like this one from the India ICEMR cohort study:
<img width="1097" alt="Screen Shot 2021-09-30 at 4 55 06 PM" src="https://user-images.githubusercontent.com/54597319/135535336-cdd94b2d-f969-4ddb-99af-e74bcbd8f007.png">

However, for really long multifilters, like Bacteria in stool in GEMS, the list gets ridiculously long
<img width="856" alt="Screen

[2021-09-30 22:01] bobular commented on #324
Hi all pushed a [PR](https://github.com/VEuPathDB/web-eda/pull/494) (with a screenshot) to start addressing this.

The boxplot viz doesn't currently have any user-controls to request all points, and thus show a beeswarm-like plot alongside the box/whiskers. So this isn't currently an issue.  @danicahelb do we want such functionality for Phase 1?

[2021-10-01 01:34] dmfalke commented on #380
We can put a Read more button. It would only show up if it’s long.

On Thu, Sep 30, 2021 at 5:57 PM Sheena Tomko ***@***.***>
wrote:

[2021-10-01 01:44] SheenaTomko commented on #380
I like that idea

[2021-10-01 01:51] danicahelb commented on #380
i like the idea too @dmfalke. so, would we show the first 3? (2? or 5?) and then follow with a read more or expand button? Or just replace all with the button?

[2021-10-01 02:55] #493 closed

[2021-10-01 03:37] dmfalke opened #497 "Last viewed variable is lost when transitioning from new → saved analysis"
To reproduce:
1. Create a new analysis
2. Select a variable other than the default
3. Go to **Visualize** and create a visualization. Any will do. This will cause the new analysis to be saved.
4. Go back to **Browse and subset** and see that the variable selected in (2) is no longer selected.

The bit of state keeping the last viewed variable is stored as component state (see src/lib/workspace/Ana

[2021-10-01 10:20] bobular commented on #324
I played around with some limits and went for 100,000 as a preliminary choice.

You may find it hard to find a study with more points, so here is a screenshot of the warning message shown when the limit is breached:
![image](https://user-images.githubusercontent.com/308639/135603838-7e39d489-0bc7-4d7b-9156-411ea1c9af75.png)

Regarding the limit/threshold, I found that the following viz in **SCORE

[2021-10-01 10:22] bobular commented on #324
Our consideration shouldn't just be time-based I guess.  Plotting more than X points in a certain amount of screen area is pointless too (pun intended?)

[2021-10-01 10:32] #324 closed

[2021-10-01 11:40] bobular commented on #335
GEMS1A example

![image](https://user-images.githubusercontent.com/308639/135614177-89454f45-61d9-4719-af3a-ca14a6b4cfd4.png)

[2021-10-01 13:48] bobular commented on #335
This is potentially fixed in https://github.com/VEuPathDB/web-components/pull/217

It's in a different repo, so we'll have to close this manually.

[2021-10-01 15:31] danicahelb commented on #465
Looks good, thanks DK!

[2021-10-01 15:33] moontrip commented on #465
@danicahelb Thank you for your quick review and tests 👍

[2021-10-01 15:58] moontrip commented on #380
Actually, I noticed the lengthy label for multifilter case when I work for this ticket, [Subsetting: Update how original variable names appear](https://github.com/VEuPathDB/web-eda/issues/290) made by @SheenaTomko

I also like @dmfalke's idea as it is common to show a link for long texts/sentences like `Read more` or `Show more` link (usually text link, not button style). Certainly @danicahelb's p

[2021-10-01 18:53] SheenaTomko commented on #380
@moontrip , could we do a "Show more" text link if the text goes >2 lines? Or if you prefer to do it based on number of characters or some other metric let me know and we can figure that out. I'm ok with you working on it as part of that other ticket. If @danicahelb and @dmfalke agree we can then close this one

[2021-10-01 18:58] dmfalke commented on #380
We have a [component](https://github.com/VEuPathDB/WDKClient/blob/master/Client/src/Views/Strategy/OverflowingTextCell.tsx) that handles this logic. It's being used in the public analyses table:

![image](https://user-images.githubusercontent.com/365139/135672577-234d7347-dda1-490e-9198-054f8c9d6b8a.png)

[2021-10-01 19:24] moontrip commented on #380
@SheenaTomko well I think it is quite difficult to find > 2 lines as the width of the display area is flexible, i.e., the number of lines changes per user's display resolution, browser's zoom level etc. The number of characters is also quite tricky as variables are shown per variable. So, viable options are: a) hide/show all variables with button/link - from [@danicahelb's comment earlier](https:/

[2021-10-01 19:28] danicahelb commented on #498
I tested again with GEMS1A, on qa.clinepidb.org

`Household wealth index, categorical` has 5 unique number values (0, 1, 2, 3, 4, 5)
`Traditional healer transport expenses` amount has 9 unique number values (0, 45, 70, 100, 200, 250, 300, 2000, 3000)

In the Browse / subset tab, these variables are both showing up in table format (not as a histogram). This is the behavior we wanted.

In the Visual

[2021-10-01 19:28] asizemore commented on #450
Just a note - @moontrip the My Analyses icon swap in the workspace heading and the table icon for View and Download will be resolved with this [PR](https://github.com/VEuPathDB/web-eda/pull/488) (same PR you linked). Should be done shortly!
But wanted to let you know to prevent duplicating work :)

[2021-10-01 19:30] danicahelb commented on #498
@d-callan @jaycolin @dmfalke seems like numeric variables with <10 values are only not working for histograms

[2021-10-01 19:36] dmfalke commented on #498
This is a web-eda issue, covered by
https://github.com/VEuPathDB/web-eda/issues/491

On Fri, Oct 1, 2021 at 3:30 PM Danica Helb ***@***.***> wrote:

[2021-10-01 19:43] dmfalke commented on #380
It's not based on the number of characters, but you do need to provide it
with a string. I think you could easily convert the currently list of div
elements to a string joined by a space character.

On Fri, Oct 1, 2021 at 3:24 PM DK ***@***.***> wrote:

[2021-10-01 19:48] danicahelb commented on #498
Checking date variables now, using PRISM2:
`Death date` has 3 unique values 2018-05-13, 2018-10-30, and 2019-01-24

Histogram --> looks good
![image](https://user-images.githubusercontent.com/25450900/135677305-159028e6-0eed-419a-8f39-9a43621431a3.png)

Bar plot --> looks good
![image](https://user-images.githubusercontent.com/25450900/135677361-97235165-7b8e-46a3-aad0-d5f3fbeada88.png)

Scatter -

[2021-10-01 19:56] danicahelb commented on #498
I'm leaving this ticket in "Failed QA" until https://github.com/VEuPathDB/web-eda/issues/491 is finalized & I can retest. adding paused label now

[2021-10-01 20:13] danicahelb commented on #402
looks good

[2021-10-01 20:50] danicahelb commented on #123
I think we can push this off to phase 2

Remaining items from this ticket are:

1. add the prompt as seen on live site, eg "Select Birth date from"
2. make text boxes smaller

[2021-10-01 22:18] bobular commented on #491
I had a quick look, this guard in guard.ts should no longer check for dataShape == continuous

[code]
However, when I remove that check, the histogram request is finally made, but throws a 500 on the back end (dfalke-b)

[code]

There are some other checks for dataShape==continuous and it looks like the NumberVariable and DateVariable in types/study.ts need to allow `rangeMin` and `rangeMax` regar

[2021-10-01 22:27] dmfalke commented on #491
That sounds fine to me. Honestly, I think we should remove all checks from
the visualizations. Let the variable constraints do their thing, and if it
results in a 500, we’ll address on the backend.

On Fri, Oct 1, 2021 at 6:19 PM bobular ***@***.***> wrote:

[2021-10-01 22:29] dmfalke commented on #491
Those guards were really meant for the subsetting tab where we start with a variable and then determine the appropriate filter ui.

[2021-10-01 22:38] bobular commented on #491
Cool - I'm nearly done.

I'll push a draft PR for you to have a look at.  Seems some vars are producing 500s for histogram endpoint...

[2021-10-01 22:39] dmfalke commented on #491
Thanks! I knew if I waited long enough I’d be rewarded 😁

On Fri, Oct 1, 2021 at 6:38 PM bobular ***@***.***> wrote:

[2021-10-02 04:28] danicahelb commented on #448
@jtlong3rd we would like to make the following improvements to the public analyses table, as we discussed in 10/1 UX meeting:

1. Allow the author to be able to edit the analysis name directly within the table (implement pencil icon)
2. Remove links to studies in the “Study” column
3. 1st column = Study, 2nd column = Analysis
4. Make all columns searchable (currently, just “Study” and “Analysis” c

[2021-10-02 04:30] danicahelb commented on #452
Additional changes were discussed in 10/1 UX meeting:

1. Allow the author to be able to edit the analysis name directly within the table (implement pencil icon)
2. Remove links to studies in the “Study” column
3. 1st column = Study, 2nd column = Analysis
4. Make all columns searchable (currently, just “Study” and “Analysis” columns are searchable)
5. Move the pins into their own column (don’t hav

[2021-10-02 04:31] danicahelb commented on #452
@jtlong3rd would it make sense to work on this ticket simultaneously to https://github.com/VEuPathDB/web-eda/issues/448?

[2021-10-02 04:37] danicahelb opened #513 "General: append import time stamp to the analysis name when public analysis is opened by user"
As discussed in 10/1 UX meeting:

When a user opens up a public analysis into their analyses workspace, it adds a copy of the public analysis into their My analyses table. We need to update the name of the copied public analysis

For phase 1, append “imported from author name on date-time stamp”

The updated analysis name should appear on the top of the analysis page and also in the My analyses ta

[2021-10-02 04:39] danicahelb opened #602 "Updates to public analyses table"
- [ ] Should we remove bold text from example analyses?
- [ ] Should we remove the “Sort analyses to top” toggle?
- [ ] Should ClinEpi-curated examples have a description or analysis name that starts with “Example:”? What is the appropriate terminology: example vs highlighted vs featured vs curated?
- [x] Should we allow the user to pin public analyses of interest?

[2021-10-02 04:53] danicahelb commented on #419
We discussed in the 10/1 UX meeting. Neither option for mouseovers proposed above is satisfactory.

Instead, we would like to have tool tips for the brackets and use a legend style for subset & all data
@danicahelb will make mockups

[2021-10-02 13:09] #395 closed

[2021-10-02 17:26] jtlong3rd commented on #448
@danicahelb Yes, it would definitely be possible to add user-specific "pinned public analyses" to the UI - this would be a pure client change (no user service updates required). Let's run this idea by a wider group.

[2021-10-02 17:26] jtlong3rd commented on #452
@danicahelb Yes, I'll take care of this as part of updating #448!

[2021-10-03 22:22] d-callan opened #503 "Visualizations: Display message over plot when interaction of chosen vars results in no plottable data"
In responses like these the completeCasesAxesVars prop will have a 0 value. in this case, the variable completeness table should probably still show so that users know which of their selected variables is driving the extreme missingness. but any other plots and tables we could either show empty, or provide some sort of message. currently, in boxplot at least, this results in an error/ oops message

[2021-10-04 16:14] asizemore commented on #450
@moontrip we're just finalizing a few things on the above mentioned pr but you should at least have access to the icons as long as you use `web-common` >v0.1.8 (includes [this PR](https://github.com/VEuPathDB/EbrcWebsiteCommon/commit/e6f6445ca87a9f3ac2bbeaf607da62463e530d1d)).  Due to the webpack issue Dave mentioned at last week's meeting, we can't import them like normal in local dev. Instead, y

[2021-10-04 16:19] #358 closed

[2021-10-04 16:35] moontrip commented on #450
@asizemore I think that the task that should be done in this issue is only to change the view and download icon to be your icon with label. So, I think you can take this issue as it is closely related to your work, #488. It is quite simple if you change this to my suggestion below adopting your solution (adding class and change startIcon) at `Subsetting.tsx`

from
[code]
to
[code]

certainly this

[2021-10-04 17:59] asizemore commented on #450
@moontrip works for me! I'd be happy to take the issue, feel free to reassign it to me. Thank you also for all of the details! I'll likely reach out to you with any questions if you don't mind :)

[2021-10-04 18:06] moontrip commented on #450
@asizemore Thank you for your kind consideration 👍 Yep please feel free to contact me if you have any questions. I will reassign this issue to you 😃

[2021-10-04 18:09] moontrip commented on #290
This work extended to include the treatment of lengthy variable names for multifilter case. See the comment in the link and follow-up discussions after that.

https://github.com/VEuPathDB/web-eda/issues/380#issuecomment-931733308

[2021-10-04 18:23] moontrip commented on #290
@danicahelb @SheenaTomko
I have tested the lengthy variable names for multifilter case as written in my previous comment above. Since there was no definite solution you wanted, a couple of solutions were tested as follows. Please see the screenshots below and let me know which one is better or other approach would be welcome as well.

(For @dmfalke only: I have also tested the component you did le

[2021-10-04 19:02] SheenaTomko commented on #290
I like the first option of showing 3 variables by default, then the link to show more. I think with that option, using text wrapping as you show makes more sense than splitting each variable onto its own row.

[2021-10-04 19:23] moontrip commented on #290
Thank you for sharing your thought @SheenaTomko 👍 I think perhaps underscore at Show More/ link is not required so I will remove it when making a PR.

[2021-10-04 21:47] danicahelb commented on #261
Discussed in 10/4 EDA WG meeting:

**Columns:**
- Results table will be populated with all featured and starred variables as default columns
- If an entity has no featured or starred variables, there will be no default table view. Instead, users will see text instructing them on how to make the table:
- [ ] Update verbiage: To get started, click on the “Selected variables” button
- [ ] Styling upd

[2021-10-04 22:07] bobular commented on #245
Seems that the plug-ins are returning 500s at the moment, as noticed by @d-callan [here](https://github.com/VEuPathDB/EdaDataService/issues/110)

[2021-10-04 22:15] bobular commented on #411
It's similar for the histogram visualization

[2021-10-05 01:29] chowington opened #509 "Don't allow user to enter empty analysis name"
Currently, entering an empty string for the analysis name is allowed by the widget but returns an error from the backend. I'm not sure what characters we're allowing in the analysis name, so more validation might be needed. Smiley faces seem to work :)

[2021-10-05 01:31] danicahelb opened #510 "Subsetting: Change verbiage in the "more information" mouseovers for the table view of categorical variables"
Please change the text in the mouseovers for both the "All" and "Subset" columns of table view of categorical variables to use epi language:

![image](https://user-images.githubusercontent.com/25450900/135930761-f45056f1-012e-45d2-afbb-2c20d5df494f.png)

- [ ] Change verbiage to:

![image](https://user-images.githubusercontent.com/25450900/135930831-7a39b69a-d13a-45e8-8d43-abbac74edf85.png)

- [ ]

[2021-10-05 01:41] d-callan opened #511 "Subsetting: Inconsistency between continuous and categorical variables"
maybe ive misunderstood something, but it seems that the histograms should make an obvious display of the count of entities meeting previous filter criteria, like the bars do. also, once i have filtered on something I can go to a continuous variable and subset on gray parts of the histogram only, removing all data from the subset. but i cant select entirely gray bars in the bar plots to do the sam

[2021-10-05 01:54] danicahelb opened #512 "Create "ClinEpiDB Outreach" user account"
@jtlong3rd please create an account that staff can use to create public strategies. We would like the user name to be “ClinEpiDB Outreach” and the institution to be "VEuPathDB"

Please hook this new account up so that we can use it to make public analyses in phase 1

[2021-10-05 02:03] d-callan opened #523 "General: Can't reload a visualization"
if i try to reload/refresh a visualization i get an error about not being able to load the analysis.
encountered on qa.restricted as guest.
console shows a 404 for some url commonly looking like: https://qa.restricted.clinepidb.org/eda-data/users/303780000/analyses/a963b4e340d16f760cf098d95043bfc9

[2021-10-05 02:32] danicahelb opened #515 "Subsetting: WASHb Kenya histogram for "Time to water source" is not showing all of the data"
In the WASHb Kenya study, the histogram on the subset tab for 'Time to water source' has an x-axis that extends from 600, but the data seems to stop ~200 (even after changing to log scale & zooming in). The range indicator states that the data ranges from 0-600.

![image](https://user-images.githubusercontent.com/25450900/135535556-7b4ae69d-adce-4920-bd45-18481ef15b09.png)

Using the visualization

[2021-10-05 03:55] danicahelb commented on #419
We discussed further in 10/4 EDA meeting, and @asizemore discussed a new idea with @danicahelb after the meeting, via Slack.

Final decision on mouseover styling is pending input from the broader group. Ticket is paused until then.

[2021-10-05 04:07] danicahelb commented on #420
Confirmed that updates to the .owl fixed the issue, closing ticket

![image](https://user-images.githubusercontent.com/25450900/135958608-b9e0cbaa-48b3-4ad6-9f27-3fe8218a2d68.png)

[2021-10-05 04:07] #420 closed

[2021-10-05 04:18] danicahelb commented on #369
I can now select "Traditional healer, medical expenses amount" for my x-axis.
I cannot select "Bought remedy or medicine, transport expenses amount" for my overlay. This is because this variable has 9 unique values (only variables with 8 or fewer unique variables can be selected for the overlay)

![image](https://user-images.githubusercontent.com/25450900/135959255-e3c02663-8259-4643-92a3-2b49461c

[2021-10-05 04:18] #369 closed

[2021-10-05 12:06] dmfalke commented on #515
After giving this some thought, and trying _really_ hard to find a way to send it back to EdaSubsettingService, I agree that it belongs here. In this particular case, the client should set the `displayRangeMax` to `rangeMax + binSize`. Should we do the same for an annotated `displayRangeMax`?

[2021-10-05 12:11] dmfalke commented on #515
However... I do think the viz and distribution service should handle inclusive/exclusive the same for bins. But that can probably be handled separately.

[2021-10-05 12:20] d-callan commented on #515
Yes. We should I think do this for the annotated display range too, because the person who sets that value has no way of knowing what bin width the user will choose. And if the viz tab is doing anything differently I think it's a bug, or some default behavior I failed to override.

[2021-10-05 12:40] dmfalke commented on #515
For bins:
* in subsetting: `[min, max)`
* in viz: `(min, max]` (the first bin is `[min, max]`)

[2021-10-05 13:27] asizemore commented on #487
Closed with above PRs. Note, only changes icons. General styling will be fixed when addressing #450

[2021-10-05 13:27] #487 closed

[2021-10-05 13:46] asizemore commented on #450
@danicahelb please see screenshot below. Does all look good? Is there anything else that I've missed?
<img width="1778" alt="Screen Shot 2021-10-05 at 9 42 23 AM" src="https://user-images.githubusercontent.com/11710234/136035448-6b841adc-7784-43d5-a6dd-1042f22eae54.png">

[2021-10-05 15:53] moontrip commented on #479
@aaronwlsong @d-callan I had a chance to test this via `qa.restricted`, but it seems to work fine in there ? So, I will assign this to @aaronwlsong for further test - this issue might be resolved by other fixes (like handling integer)

![qa-restricted](https://user-images.githubusercontent.com/12802305/136058349-5a5abecb-05f1-4dc7-b3c8-2ecb88d0b1c2.png)

[2021-10-05 16:28] jtlong3rd commented on #448
Yup, makes sense. We could also make use of the [EDA user service preferences](https://veupathdb.github.io/EdaUserService/api.html#resources:/users/{user-id}/preferences:get). (Currently, those  preferences are a JSON string with a single optional `pinnedAnalyses` property, which consists of a list of analysis IDs. The client could be updated to save/read an optional `pinnedPublicAnalyses` field t

[2021-10-05 16:37] danicahelb commented on #335
@bobular this still doesn't look fixed to me, have the changes been pushed to the qa sites?
![image](https://user-images.githubusercontent.com/25450900/136065478-563769fc-00ad-48f9-8547-bd16940c078a.png)

[2021-10-05 16:58] bobular commented on #515
Hi guys.

I agree this is a front-end issue. There was a time when we calculated the axis range from max(binEnd) and then we didn't, for some reason!  I'll claim this and fix it.

[2021-10-05 17:00] bobular commented on #515
Oh dear - see https://github.com/VEuPathDB/EdaNewIssues/issues/38 !!

[2021-10-05 17:13] bobular commented on #515
Actually the code is still there that uses something like max(binEnd) - so I'll have to investigate further why that last bin isn't showing.

[2021-10-05 17:38] dmfalke commented on #515
@bobular in this particular case, the data range is `0 - 600`, and the bin size is `25`. It happens that `25` divides evenly into `600`, so the last bin has `600` as its max. Since the distribution endpoint used by subsetting treats bins as max-exclusive, the elements associated with `600` are not included. However, in the visualization plugin, bins are max-inclusive, and so include the elements a

[2021-10-05 17:42] #455 closed

[2021-10-05 17:47] #416 closed

[2021-10-05 17:47] ryanrdoherty commented on #515
@dmfalke With the new code deployed today, the final bin returned by subsetting distribution is now guaranteed to contain the data range max (even if it means creating a "remainder bin" that ONLY contains values exactly matching the max).  Given this, can you simply use the first bin min and last bin max as the view port?

[2021-10-05 17:54] dmfalke commented on #515
Hmm... users can specify the viewport, so I'm a little hesitant to use something different than what was requested. I'm more inclined to extend the max of the viewport for the default. Otherwise, we have to determine if the range was user-supplied or algorithmically derived.

[2021-10-05 18:16] asizemore commented on #424
Closed with #520

[2021-10-05 18:16] #424 closed

[2021-10-05 18:24] d-callan commented on #511
going to make a note that the count of entities w data for the current variable is particularly confusing. easy to assume that value is meant to represent the count of those entities meeting the filter criteria.

[2021-10-05 18:34] bobular commented on #515
I'll figure something out, don't worry guys!

[2021-10-05 18:47] #289 closed

[2021-10-05 18:47] #290 closed

[2021-10-05 18:47] #381 closed

[2021-10-05 18:56] #479 closed

[2021-10-05 19:44] #491 closed

[2021-10-05 22:51] bobular commented on #515
There you go.
It was in "next cycle" but what the hell!

[2021-10-06 15:34] d-callan commented on #498
@danicahelb believe this can be un-paused now.

[2021-10-06 16:24] chowington commented on #450
@asizemore Thanks for your work on this! Note that my PR (https://github.com/VEuPathDB/web-eda/pull/525) slighlty affects the EDA heading buttons styling. They currently look like this on my branch:

![image](https://user-images.githubusercontent.com/12377649/136243451-d4af5a17-3cd0-4930-a799-6685270046ec.png)

Notice that the "My analysis" button has a slightly larger font than the "Download" and

[2021-10-06 16:33] chowington commented on #497
@jtlong3rd Note that the new "New analysis" button functionality (https://github.com/VEuPathDB/web-eda/pull/525) depends on no `AnalysisState` being passed to `EDAWorkspaceHeading` when you're in a new analysis in which no changes have been made. I'm not sure whether your solution to this ticket will affect that behavior.

This kind of thought makes me wish for nice, fancy regression testing :)

[2021-10-06 17:36] jtlong3rd opened #527 "Verbiage change: "Select a visualization" -> "New visualization""
![image](https://user-images.githubusercontent.com/15959217/136254733-d7422d34-7c86-40d8-b563-6d45440bb952.png)

[2021-10-06 18:05] danicahelb commented on #231
@sweverschulman please test this ticket and let us know if we can close it

[2021-10-06 18:32] aaronwlsong commented on #289
It looks that this issue exists on qa.website, but not on live site.

For example, in _GEMS1 Case Control study,_ the vars of "weight" and "age".

![image](https://user-images.githubusercontent.com/61077845/136262078-b591d301-1979-4ed0-9186-f3e289ed5830.png)

![image](https://user-images.githubusercontent.com/61077845/136262137-c2a86600-a56a-485b-afd3-b2a779c81b13.png)

[2021-10-06 18:35] asizemore commented on #450
Awesome thank you for the heads up @chowington !

[2021-10-06 18:44] SAK22 commented on #416
Looks good

[2021-10-06 18:47] asizemore commented on #510
@danicahelb I made only one slight change - added "that" to the second mouseover for clarity. Do both look good to you?
<img width="749" alt="Screen Shot 2021-10-06 at 2 46 03 PM" src="https://user-images.githubusercontent.com/11710234/136264440-03b57fa3-7c14-4a03-89db-2b0ea5131da8.png">
<img width="751" alt="Screen Shot 2021-10-06 at 2 45 58 PM" src="https://user-images.githubusercontent.com/1171

[2021-10-06 18:48] SheenaTomko commented on #487
Icons look great. Showing the new table icon for "My analyses" on the study card and within the EDA; for the Study summaries table in the drop down menu. Showing the new table icon + download icon for downloading the subset table

[2021-10-06 18:49] aaronwlsong commented on #491
I retested the issue in both studies, seems they still exist.

![image](https://user-images.githubusercontent.com/61077845/136264486-552dd010-202a-40b6-901d-36b87941a02f.png)

[2021-10-06 19:11] sweverschulman commented on #231
I was able to verify functionality in the scatterplot in Wash B Kenya using 'Length- or height-for-age z-score, using median stature' and'Head circumference-for-age z-score, using median circumference'. Unfortunately both have the same range.
<img width="984" alt="Screen Shot 2021-10-06 at 3 06 49 PM" src="https://user-images.githubusercontent.com/62298921/136267680-df815440-4a57-4743-9d94-88329ba

[2021-10-06 19:53] #425 closed

[2021-10-06 19:58] jtlong3rd commented on #497
Thanks for the heads up, @chowington! I briefly skimmed your work earlier, and am now circling back for a full review; as I had hoped, we aren't tripping over each other.

[2021-10-06 21:07] danicahelb opened #531 "We're sorry something went wrong error message (WASHb Kenya)"
I am getting the error message below. I am on qa.restricted looking at WASHb Kenya & tried to select Household study timepoint = 2

I tried clearing the metadata cache & reloading the page. This didn't work
I tried clicking the link to clear my browser storage and resetting the session. This didn't work either

![image](https://user-images.githubusercontent.com/25450900/136282790-207b2d0e-cdc2-478

[2021-10-07 03:15] ryanrdoherty commented on #531
@dmfalke, this is a client issue.  The 2 Danica selected is being put in a NumberSet filter as a string "2" and saved as a new analysis, which works fine.  But when the analysis is read back out of the user service, the "2" string cannot be parsed because a number is expected.  Full JSON sent to and received from user service looks like this:
`{
   "displayName":"Unnamed Analysis",
   "descriptor"

[2021-10-07 03:22] dmfalke commented on #531
This should be as simple as parsing the value when creating the filter object.

[2021-10-07 04:39] dmfalke commented on #523
This approach breaks in certain situations. For instance, if services are protected by a gateway that uses cookies to validate requests, omitting credentials will cause these requests to break. An alternative approach will be needed.

[2021-10-07 13:36] SheenaTomko commented on #380
This looks great!

[2021-10-07 13:38] SheenaTomko commented on #289
Spacing looks great now
<img width="667" alt="Screen Shot 2021-10-07 at 8 37 40 AM" src="https://user-images.githubusercontent.com/54597319/136395425-5e911ad7-04fd-4981-a030-45f4391a6a60.png">

[2021-10-07 14:30] bobular opened #597 "Fleeting "Visualization not found" warning shown after clicking on [+ New visualization]"
This appears in a small font just below "View study details"

This only seems to happen in a brand new analysis / or for the first visualization added.

Might only be visible on dev instances this side of the Atlantic. No I see it on https://qa.clinepidb.org/ce.b19/app too

[2021-10-07 15:45] #531 closed

[2021-10-07 15:47] danicahelb commented on #512
can we also update https://wiki.apidb.org/ with this email address & password, & indicate that it should be used when making public/example analyses?

[2021-10-07 16:33] d-callan opened #546 "Visualizations: Strange default behavior when overlay label isnt available"
so we recently saw an issue come up where the backend failed to provide labels for the various overlay categories in veupathdb/plot.data#100. that has since been resolved, but leaves me dissatisfied w the default behavior of at least box plot. I can't imagine it ever being good to just default to a 'Data' label. that just silently creates a useless plot, rather than explicitly stating that somethi

[2021-10-07 18:49] #452 closed

[2021-10-07 18:49] #513 closed

[2021-10-07 18:49] #527 closed

[2021-10-07 18:56] #364 closed

[2021-10-07 20:38] dmfalke commented on #523
The change to the cookies has been deployed to dev/feat/qa sites, so I'm closing this issue.

[2021-10-07 20:38] #523 closed

[2021-10-07 21:36] danicahelb commented on #515
looks great, thanks team!

[2021-10-07 21:40] danicahelb opened #595 "Subsetting: histogram bins with little data are hard to see"
On the EDA site, the axes lines are much darker / thicker than they are on the live site, and "hide" bins that have very little data in them. This data would be easier to see if we made the axis line thinner and less dark.

**EDA:**
![image](https://user-images.githubusercontent.com/25450900/136465943-6d7bbece-b29b-4297-a66c-517c151bead7.png)

**WDK site:**
![image](https://user-images.githubuserc

[2021-10-07 21:56] danicahelb opened #594 "General: download icon style changes"
I'd like to move the icon for bulk download to the right so that it aligned vertically with the subset download.

the main reason I'd like to do this is because it would move the new analysis icon to the left (closer to the "show all filters" button). I find that when i want to start a new analysis of a study and open up that study to see there are already filters applied, i tend to remove the fil

[2021-10-07 22:13] danicahelb commented on #498
Dates with <10 values work in all plots

These plots work with numerics with <10 values:
1. Bar plot (as x-axis var)
2. scatter plot (as either x-axis var or y-axis var)
3. as overlay in histogram, bar plot, scatter, and box plot

@ryanrdoherty @d-callan @dmfalke I'm getting **500 errors** when i try to plot numerics with <10 unique values:

1.  in the histogram (as x-axis var)
![image](https://us

[2021-10-07 22:27] dmfalke commented on #523
As a guest user (not logged in), start a new analysis and set any filter.
This will cause a new analysis to be created. Then reload the page. You
should see the analysis you just created.

Before the fix, you would get the error that Danielle described.

On Thu, Oct 7, 2021 at 6:20 PM Danica Helb ***@***.***> wrote:

[2021-10-08 01:20] #498 closed

[2021-10-08 11:42] bobular opened #593 ""My Analyses" table: offer an X to clear search bar"
Would be great to have an `(x)` icon to wipe the search box contents

![image](https://user-images.githubusercontent.com/308639/136550781-a5faa82f-a686-412f-bd00-b9a239610978.png)

[2021-10-08 13:41] sweverschulman opened #541 "Featured var mouse over is returning <span class = >"
When mousing over the featured var box - the mouse over is returing the following text, that needs to be stripped out.

<img width="417" alt="Screen Shot 2021-10-08 at 9 30 37 AM" src="https://user-images.githubusercontent.com/62298921/136567238-9d213b53-c12a-4a9c-b1c4-3bf73276d9a8.png">

[2021-10-08 15:39] asizemore opened #538 "Styling: Swap old download icon for new icon"
Replace fa-download with the custom ebrc download icon.

Note, because mbio shares the results page with genomics, changing the mbio icon would currently mean changing it for genomics as well. If possible, need to prevent changing the icon for any site other than clinepi.

Will require changes to the following repos:

- [x] EbrcWebsiteCommon
- [x] web-eda

[2021-10-08 16:29] danicahelb opened #591 "Study summaries table header updates"
The header for the study summaries table should say "Study summaries table" and not just "Studies"

![image](https://user-images.githubusercontent.com/25450900/136591659-792da4be-0d3f-44eb-b996-26ab0236bf3b.png)

[2021-10-08 18:52] danicahelb opened #571 "Original variable names styling with multifilter variables"
In phase 1 we decided to implement Show more/less for original variable names for multifilter variables.  we have decided to show the first three variables if the number of variables are larger than 3, and then the show more buttons

![image](https://user-images.githubusercontent.com/25450900/136610729-2d34ba69-da48-4b96-96e3-c2efb3f8a286.png)

We'd like these styling changes:

- [ ] Once all orig

[2021-10-08 19:00] moontrip commented on #290
@danicahelb Thank you for your suggestions! I will make sure that I will handle those two for phase 2 😃

[2021-10-08 19:23] SheenaTomko commented on #364
This worked as Danica described

[2021-10-08 20:38] asizemore commented on #422
Should be addressed with web-eda PR #537

[2021-10-08 23:17] bobular opened #540 "Histogram visualization doesn't use variable.binWidthOverride"
Nor does it use `variable.binWidth` from the study metadata.

As discovered in VEuPathDB/EdaNewIssues#187

This is a `web-eda` issue.

[2021-10-09 00:40] danicahelb commented on #448
@jtlong3rd the table looks great, but i'm not following the conversation around pinning. I'm going to close this ticket and create a new ticket on the pinning, which can get implemented in phase 2: https://github.com/VEuPathDB/EdaClinepiPhase2NewIssues/issues/41

[2021-10-09 00:43] danicahelb commented on #335
looks good enough
![image](https://user-images.githubusercontent.com/25450900/136637730-6f7f6c5d-2610-4e31-9812-1e5d428d11ed.png)

[2021-10-09 00:43] jtlong3rd commented on #448
Sounds like a plan! The gist of the dialogue around pinning is that we shouldn't need to do any new service work; just client work.

[2021-10-09 00:45] danicahelb commented on #531
seems ok now, thanks

[2021-10-09 00:59] danicahelb commented on #510
perfect, thanks @asizemore!

[2021-10-09 01:03] danicahelb opened #590 "General: revisit back arrow functionality"
I often hit the back button because I want to go to the last screen i looked at (ie, go from viz tab to subset tab). i know i don't _need_ to do this, but using the back button in this way seems more intuitive than bouncing me entirely out of the analysis

Edit (Connor):
Per conversation with Danica, the following should be "backable"
- [x] Analysis tabs (study details, subsetting, visualize, note

[2021-10-09 01:09] danicahelb commented on #261
@eikonomega I'm going to move this to phase 2 to make sure it gets properly QA'd, so don't stress about getting this done in the next 2 days. We should be on track for this to go out in b55.

[2021-10-11 12:58] dmfalke opened #544 "Variable tree: order featured variables based on tree and display order"
Featured variables are currently being ordered using the ordering that the subsetting service produces. Instead, they should be ordered the same as in the tree, using display order.

[2021-10-11 18:28] dmfalke commented on #418
You have to run `yarn link` in `WDKClient/Client`. Could you try that and let me know if it works? If that still doesn't work, I will take care of it. Thanks!

[2021-10-11 18:36] dmfalke commented on #418
Interesting. It sounds like an older version of node is being used in that repo. Can you add the following to `WDKClient/Client/package.json` and try again? If that doesn't work, then I will do it (I swear this time!).

[code]

[2021-10-11 18:53] #541 closed, assigned to jtlong3rd, sweverschulman

[2021-10-11 18:59] d-callan opened #549 "Visualizations: Bar plot proportion option should have a yaxis ranging from 0-1"
right now it looks like the yaxis, when i make a bar plot and switch to proportion, has a range set based on the values returned. for consistency in reading these, it would be better to scale it from 0-1 always when the user has selected 'proportion'. may affect other plot types as well, i havent looked.

[2021-10-11 19:02] bobular opened #550 "Copy analysis button is creating the "Copy of My Analysis" but not switching to it"

[2021-10-11 19:24] #538 closed, assigned to asizemore, SAK22

[2021-10-11 20:22] moontrip commented on #418
@dmfalke I had a chance to test it and it worked! 👍 So I can handle this. I guess the package.json should also be committed when I will make a commit.

[2021-10-11 20:25] moontrip commented on #418
@danicahelb May I ask your opinion about your first item, adding **All** text at the table ? The current setting for the prefix texts such as `Subset of` and `All` (this case) are aligned to the right side: see below screenshot. But based on your mock-up above, it looks like it should be centered. I wonder if you want to change both `Subset of` and `All` prefixes become centered or just leave it a

[2021-10-11 22:49] danicahelb commented on #418
@moontrip can you please center everything? thanks!

[2021-10-11 23:33] moontrip commented on #418
@danicahelb here are two screenshots after changes are made: one is with Community entity and the other is Sample entity. Since the latter has fewer characters, the layout between two is different from each other. Are they looking fine ? 😃

![country1](https://user-images.githubusercontent.com/12802305/136867123-2b1c984a-c167-4cac-8941-3b019bfd22b3.png)

![sample1](https://user-images.githubuserco

[2021-10-12 00:45] danicahelb commented on #418
looks good to me, thanks @moontrip!

[2021-10-12 04:16] dmfalke commented on #540
My recollection is that the histogram plugin is supposed to determine an appropriate default binWidth for the given subset, using a sophisticated algorithm. @d-callan @bobular can you offer insights?

[2021-10-12 11:07] d-callan commented on #540
It does. And so the viz tab has no need for the bin width computed at data load time.. It probably does however need to know if an annotated override exists.

[2021-10-12 13:25] jtlong3rd opened #552 "Deleted analyses should be from removed from the analysisCache"
Easiest way to reproduce:

1. Create and save an analysis
2. Click on "My Analyses"
3. In the "My Analyses" table, delete the analysis from step 1
4. Hit the browser's back button

[2021-10-12 15:28] steve-fischer-200 opened #554 "Improve layout/styling of Featured Variables box"
Our current layout is dominated by the entity names, which are shown for every featured variable, even if duplicated.

An alternate design might be more like a tree, with a given entity shown only once, and vars under.

Need to be careful that it looks different than both the Var Tree below and the Table of Contents in the study tab. so user doesn't get confused which tab they are on.

[2021-10-12 16:35] #482 closed

[2021-10-12 17:30] dmfalke commented on #540
The client is not specifying the viewport by default. I think the plugin must be doing that, since it does appear to at least be using the data range of the whole dataset. Could you check on that?

[2021-10-12 19:00] chowington commented on #456
Maybe this one from the other ticket is one:

![image](https://user-images.githubusercontent.com/12377649/137013727-40a11d42-6405-46e1-bde3-ad55c49dd1cb.png)

[2021-10-12 19:15] aaronwlsong opened #558 "remove ALL CAPS styling across EDA"

[2021-10-12 19:35] d-callan commented on #540
for clarity, i dont think the viewport being returned is actually respected by the client any longer if it ever was. there has since been an issue for specifying axes ranges based entirely on metadata. i actually think the fact the view of the subset tab has a different number of bars than the viz tab despite having the same bin width is an ex of what i mean. if the range were also held consistent

[2021-10-12 19:40] dmfalke commented on #540
Ah, you're right. The viewport returned above it `0 - 21`. I find this very confusing. Isn't the binning algorithm sensitive to the viewport, so if the client it expanding what it gets back, then the bins might be way smaller than what is desired?

[2021-10-12 19:42] moontrip opened #559 "Visualization: set y-axis range of histogram viz for log scale"
This issue was raised when discussing with [#185 at web-components](https://github.com/VEuPathDB/web-components/issues/185) and its PR, [#225 (at web-components)](https://github.com/VEuPathDB/web-components/pull/225#issuecomment-940384977)

Will try to set y-axis range of histogram viz being similar to barplot viz approach

[2021-10-12 19:53] dmfalke opened #560 "Handle subsequent updates when transitioning from a saved, to a new analysis"
Currently, when a _new_ analysis becomes _saved_, the user can continue to add filters while the _saved_ analysis is being created on the back end. These additional filters are lost when the client receives the _saved_ analysis and replaces the analysis state.

We want to keep track of additional filters and apply them to the saved analysis once received.

See the description of #553 for more cont

[2021-10-12 19:55] dmfalke commented on #540
If the binning is sensitive to viewport, then I will make a new issue for phase 2. Otherwise, we can probably let it go.

[2021-10-12 20:07] #514 closed

[2021-10-12 20:33] ryanrdoherty opened #561 "Handle 'N/A' value from histogram stats for both numbers and dates"
Backend code lives in EdaSubsettingService branch missing-stats.  Ensures that continuous (bin) number and date histograms contain these values:

subsetMin
subsetMax
subsetMean

If subset size is zero, for dates or numbers, the string "N/A" is returned, which, while technically allowed by the API is inconsistent with the number variable's normal value for these properties.  We could set to -1 inst

[2021-10-13 00:59] #387 closed

[2021-10-13 02:45] #540 closed

[2021-10-13 02:53] dmfalke commented on #540
Okay, it sounds like we need an issue for phase 2 to have the client determine the viewport based on variable metadata for histogram visualizations.

[2021-10-13 16:29] moontrip opened #589 "Subsetting: set y-axis range for histogram filter for log scale"
This is also related to Phase 1 issue for histogram visualization, https://github.com/VEuPathDB/web-eda/issues/559

We want to set range min of 0 (count) so that y-axis tick labels are better shown in log scale. range max need to be computed from data as there is no variable metadata nor backend response: as of now backend only returns x-axis stats

[2021-10-13 17:15] moontrip opened #564 "Subsetting: disable bulk download button"
For phase 1 we have decided to disable the button: not to show it. It can be easily done by commenting out the part at `Subsetting` component.

[2021-10-13 17:30] moontrip commented on #564
Initially I thought @asizemore's work concerning its icon was already merged in the main but realized that the PR (#537) is still open. So perhaps this issue can be handled at the PR as well - taking to her at Slack.

[2021-10-13 18:00] danicahelb opened #565 "Visualizations: default histogram bin width is causing the plot to appear to have no data"
In GEMS1, I made a histogram of "Weight for age z score". Without changing any of the default plot parameters, it appears as though the histogram has no data even though the birds eye plot indicates that there is data matching my selected search criteria.

![image](https://user-images.githubusercontent.com/25450900/136995659-0bf80ccb-29e1-4601-b7ec-a713d3bb7074.png)

If I change the bin width, I c

[2021-10-13 18:09] bobular opened #587 "Don't calculate quite such a small minimum bin width for histograms (subset and visualisations)"
e.g. see screenshot here https://github.com/VEuPathDB/web-eda/pull/566
also discussion in https://github.com/VEuPathDB/web-eda/issues/565
and also https://github.com/VEuPathDB/EdaDataService/issues/117

[2021-10-13 18:28] danicahelb opened #567 "We're sorry, something went wrong issue can't clear"
I got this error message:
![image](https://user-images.githubusercontent.com/25450900/137191322-5433fe52-1071-4430-8cec-a9fd13ea032d.png)

To replicate, in GEMS1,
1. in subsetting: select "Rotavirus genotype P10, by TAC result" = 40
2. in visualize: select boxplot, then choose x-axis = "Rotavirus genotype P10, by TAC result" and y-axis = "EAEC aaic, by TAC result (Ct value)

[2021-10-13 18:49] SheenaTomko commented on #540
Checked malaria treatment start date in India ICEMR Severe and a TAC variable in GEMS1 where binWidth is provided and confirmed that the histogram visualization tool now uses that binWidth by default, even after data subsetting

[2021-10-13 18:53] #564 closed, assigned to asizemore, nkittur-uga

[2021-10-13 18:53] asizemore commented on #449
Closed with #537

[2021-10-13 19:17] bobular commented on #456
That's right @chowington - all will hopefully be resolved when we merge #508

[2021-10-13 19:35] chowington commented on #456
@danicahelb Do you agree, and are you good with closing this ticket?

[2021-10-13 20:56] danicahelb commented on #330
I'd prefer that the text changes from grey to black when there are points with no data for the strata vars. But it is not a high priority for phase 2

[2021-10-13 22:19] #508 closed

[2021-10-13 22:42] #559 closed, assigned to moontrip, nkittur-uga

[2021-10-13 23:51] steve-fischer-200 commented on #572
we need to confirm that the Eda User Service supports both Brief Description and Details.

(We need the brief description for display in the Analyses Tables)

[2021-10-14 00:08] steve-fischer-200 commented on #573
danielle says that
 - viz histogram already supports this zooming in back end
 - the others are client side zoom

[2021-10-14 10:36] bobular opened #586 "Histogram viz bin width control momentarily displays zero in between changes."
The behaviour is different compared to the subsetting histogram.

There, the binWidth slider props are calculated client-side. default bin width comes from study metadata and the min/max and step are [calculated](https://github.com/VEuPathDB/web-eda/blob/main/src/lib/core/components/filter/HistogramFilter.tsx#L789) from it.

Here, we get everything apart from the default binWidth from the back end

[2021-10-14 11:03] bobular opened #584 "Histogram viz - height==1 bars don't mouse-over or show up in log scale mode"
Reproduce:

GEMS1A
Subset: Country==India
Histo viz: main: weight-for-age z-score; overlay: none

Problem: you can see a small third bar, but mouse-over does not make a pop-up (presumably because it's so small).  Related to VEuPathDB/EdaNewIssues#33 (but that's subsetting)

Log-scale mode should accentuate it, but the minimum is 1, so the bar is not shown.  Maybe min y-axis for log-scale count axe

[2021-10-14 11:10] bobular commented on #330
Ah yes, sorry I didn't quite implement that to the specs.  The button grays out as desired, but not the text.

[2021-10-14 11:10] bobular opened #574 "Visalisations (all): Don't gray out the text of show missing data switch"
The text "Include Participant repeated measures with no data for selected stratification variable(s)" should be black when the switch is active.

Maybe think about other control text too (e.g. in histogram viz) - see "Log scale" and "Bin width" in screenshot - though I think they look fine as is.

![image](https://user-images.githubusercontent.com/308639/137306896-eaf8bbfa-6731-4d19-90f3-2155d2c8f

[2021-10-14 13:29] nkittur-uga commented on #564
Checked several studies and bulk download button does not appear in any of them. Passes QA.

[2021-10-14 13:35] SheenaTomko commented on #509
If I try and delete the analysis name either when the analysis is open or from the "My analyses" table, and click the green check mark, the name reverts to what I had deleted

[2021-10-14 14:19] SheenaTomko opened #583 "Subsetting: Change verbiage distribution and % mouseovers for the table view of categorical variables"
Please change the text in the mouseovers for both the "Distribution" and "%" columns of table view of categorical variables. These changes build on previously changes requested [here] (https://github.com/VEuPathDB/web-eda/issues/510).

Distribution column:
<img width="1009" alt="Screen Shot 2021-10-14 at 9 10 14 AM" src="https://user-images.githubusercontent.com/54597319/137334735-c3bc3d77-8358-4e

[2021-10-14 14:42] SheenaTomko opened #581 "Subsetting: Match multifilter header to normal variable data table headers and italicize the entity type"
When qc'ing this [ticket](https://github.com/VEuPathDB/web-eda/issues/418), noticed that multifilters had not gotten the update

Current multifilter header:
<img width="1005" alt="Screen Shot 2021-10-14 at 8 45 51 AM" src="https://user-images.githubusercontent.com/54597319/137330957-136daa63-8567-4c7a-9cc9-e756904da7fa.png">

What it should be:
<img width="999" alt="Screen Shot 2021-10-14 at 8 45

[2021-10-14 15:21] danicahelb commented on #508
![image](https://user-images.githubusercontent.com/25450900/137347848-893d72b3-6100-4178-8838-8aae8ebaeb95.png)

[2021-10-14 15:30] danicahelb commented on #419
The issue is still happening for me. you are right, it only happens when I've subsetted the data. good detective work @bobular

![image](https://user-images.githubusercontent.com/25450900/137349522-5598f3cd-e3b4-485e-9a2c-8ceea9fc998b.png)

[2021-10-14 15:35] danicahelb commented on #482
Hey @chowington there is still something strange happening. If I click back and forth between mosaic and table tabs, sometimes it looks like image 1 and sometimes it looks like image 2. This is still a huge improvement over how it previously looked, but it would be good to have consistency:

![image](https://user-images.githubusercontent.com/25450900/137350297-75c6074d-4bc9-4107-aa39-6fb917bda150.

[2021-10-14 15:55] bobular commented on #464
A "roll our own" legend task should probably precede this one.

[2021-10-14 17:21] dmfalke opened #576 "Circular dependency with the @veupathdb/web-common npm package"
There is a circular dependency between `web-common` and `web-eda`. `web-eda` depends on four things from `web-common`:

1. website bootstrap code used for dev
2. Icons
    1. move to its own package
3. data restriction
    1. move to its own package
4. data-api
    1. move to its own package

If we move 2-4 out of web-common, we can make web-common a devDependency, which will resolve the issues wi

[2021-10-14 17:24] dmfalke commented on #576
This is related to #484

[2021-10-14 17:39] danicahelb commented on #482
@chowington this can be fixed for b55

[2021-10-14 17:43] danicahelb commented on #456
@chowington looks great, closing!

![image](https://user-images.githubusercontent.com/25450900/137368994-2041dd09-bafa-4094-a392-f62f4ab442f1.png)

[2021-10-14 17:43] #456 closed

[2021-10-14 17:50] danicahelb commented on #419
@bobular hopefully your change fixes it. regardless, I am moving this ticket into phase 2 for further testing as it can be rolled out in b55 if it is still not fixed. thanks

[2021-10-14 18:00] bobular opened #580 "Refactor visualization implementations"
All of our visualizations have the same basic layout and data flow. This should be encapsulated in a component that handles the layout and data flow.

### Overview

All visualizations have the same basic layout, as illustrated in the image below:
![image](https://user-images.githubusercontent.com/365139/163859662-4e6b7322-9bb7-4517-a1dc-fc5c34c39fbd.png)

The **Heading** section is provided by the

[2021-10-14 18:04] bobular opened #579 "Visualizations: Standalone custom plot legend"
Placeholder ticket for now, but some of what we need includes

- custom spacing, ordering and formatting
- clicks will toggle show/hide traces in the plot(s)

Decision will be needed on where it should go.  Mock-ups for single and faceted plots would be appreciated.

[2021-10-14 18:17] #558 closed, assigned to nobody

[2021-10-14 18:24] chowington commented on #330
I removed the #574 subtask now that it has its own ticket that @asizemore is working on. Please re-review or close as appropriate.

[2021-10-14 18:32] #419 closed

[2021-10-16 19:00] SheenaTomko opened #582 "Subsetting: Add mouseovers for multifilters"
Data tables in the subsetting tab have 4 mouseovers with the text mentioned in https://github.com/VEuPathDB/web-eda/issues/510 and https://github.com/VEuPathDB/EdaClinepiPhase2NewIssues/issues/51.

Multifilters should similarly offer mouseovers, although the text will need to differ slightly.
The example text below is based off "Bacteria in stool"
<img width="997" alt="Screen Shot 2021-10-14 at 9

[2021-10-16 19:06] steve-fischer-200 commented on #584
i assigned this 'low cost' but not totally sure about that.

[2021-10-16 19:07] bobular opened #585 "Remove non-error console logging"
Affects web-components and web-eda

Examples of `console.log()` used in non-error circumstances

[code]

both probably my fault!

[2021-10-17 12:00] bobular opened #588 "Hairline cracks in subsetting histogram"
Example:
GEMS1 - Participant repeated measures - Age

May be rounding based.  Visualization histograms don't seem to be affected any more.  I (Bob) will investigate more before we put this on the board.

![image](https://user-images.githubusercontent.com/308639/137178520-08fab1df-2c9c-4151-ab91-7d402a8a7ad0.png)

[2021-10-17 12:08] danicahelb opened #592 "Study details: add button to be able to download study details information"
On the live site, we have a button that allows the user to download the study details information. We should bring this back on the EDA site

It should be labeled "Download study details"

![image](https://user-images.githubusercontent.com/25450900/136591518-ce5373f9-129f-4e06-ab46-ba982bbfce5d.png)

[2021-10-17 16:59] danicahelb opened #596 "Multifilters: loading icon should be more prominent & connected to the update button"
The the "loading" icon (circle) is not very obvious, it would be nice to make it more visible. Also, it is not clear that the distributions update on their own but i can also choose to click the "Update distributions now" button to force the update faster. The loading icon and the functionality of the button in their current configurations seem disconnected to me.

![image](https://user-images.git

[2021-10-17 21:20] SheenaTomko opened #598 "Allow for range entry and not just sliders on numeric data viz tools"
Originally submitted by David regarding shiny apps, but applies to histograms and scatterplots:

For numeric data, should be able to specify values for the range displayed

[2021-10-17 21:21] SheenaTomko opened #599 "Include numerical statistics in data distribution figures"
Original request from David regarding Shiny apps, but applies to histogram tool:

For histogram plots, should provide data: min, max, med, ave (at least for individual plots)

[2021-10-17 21:25] danicahelb opened #600 "General: revisit behavior of starred multifilters"
For phase 1, we decided that the multifilter "category" (ex: Assets) could be starred, but it would not be possible to star multifilter values (ie, individual variables under the multifilter; ex: "Clock", "Table"). See https://github.com/VEuPathDB/EdaNewIssues/issues/152

For phase 2, we should revisit this behavior and determine the optimal UX

[2021-10-17 21:27] danicahelb opened #601 "Visualizations: for histograms, add a vertical line representing the mean of the distribution"
Note, when there are facets, the mean line should be facet-specific

[2021-10-18 18:26] moontrip commented on #447
@SheenaTomko Is this alright for you? I know that @bobular also suggested an alternative so I want to know the final wording of the tooltip texts.

![search-text1](https://user-images.githubusercontent.com/12802305/137786265-28f6332c-d924-4de2-8692-53027b4a1eb6.png)

[2021-10-18 20:11] #571 closed, assigned to moontrip, sweverschulman

[2021-10-18 20:23] SheenaTomko commented on #447
Can you use the following text, which should incorporate Bob's suggestion?
Filter variables by name, description, or values. Use * as a wildcard for the start of words. For example, _typ_ will match _type_ and _typically_, while _*typ_ will also match _atypical_

Can you also make typ, type, typically, *typ, and atypical all italic to make it more obvious that they are the search terms/hits?

And

[2021-10-18 20:42] ryanrdoherty opened #605 "Backend date parser does not expect trailing 'Z'"
In at least two places in the subsetting service (date filters, date distribution ranges), the client is sending date values with format 'yyyy-MM-ddThh:mm:ssZ' (with a trailing 'Z').  The subsetting service was recently "cleaned up" to only support ISO format without a trailing Z (i.e. ISO_LOCAL_DATE_TIME).  Would like the Z omitted.  This issue is linked to and must precede merging of https://git

[2021-10-18 21:40] danicahelb commented on #261
discussed in 10/18 EDA WG meeting: changes requested

- [ ] Have the variable tree open (expanded) within the variable picker box by default

- [ ] Close button: change to an “X” and move to the top of the View subset table modal (so it is clear that the “X” closes the modal and not the variable picker)

- [ ] Add a minimize icon (“_”) to the variable picker box (move the contents of the box down

[2021-10-18 22:30] danicahelb opened #607 "Visualizations: confusing behavior when copying an open visualization"
This isn't really a bug but I am marking it as such because it is very confusing.

I don't like the current behavior for clicking on "copy" from a visualization that is open. Note, the copy button from the visualization thumbnail works as I'd expect.

When I click the copy icon from within an open visualization, there is no indication that the visualization has been copied. This is because I am st

[2021-10-18 23:21] danicahelb opened #606 "Subsetting: Filter chips should be arranged according to order in variable tree, not order applied"
As an example, in WASHb Kenya study, I selected "target children" from the "Target child or sibling/neighbor" variable (participant entity). I next selected "Household study timepoint" = 1 (household repeated measure entity). The chips are added left to right in the order they have been applied.

However, now that the chips are disconnected from their associated entity, it is really confusing to s

[2021-10-18 23:22] steve-fischer-200 commented on #606
this seems like a reasonable suggestion.  i think it would be good to run it by the gang for broad buy in and possible discussion

[2021-10-19 17:51] asizemore opened #609 "Decide on naming and icon for pass app"
Name: "Explore"? "Raw data visualizations"?

Icon: If we're using the original mbio icons for the eda apps, would be great for @dpbisme to design the new icon here, as well.

[2021-10-19 17:58] asizemore commented on #304
Yup! Box and scatter.
Box
- alpha div on y axis always (will get this from the computation)

Scatter
- alpha div on y axis always (will get this from the computation)
- gradient colormap

[2021-10-19 18:09] asizemore opened #610 "Apps: boxplot stats table"
In mbio alpha div and abundance apps, the boxplot can return a statsTable (already in the response). Can we please

1. Add this stats table to the display. Can be styled just like the other tables like variable coverage
2. Add a toggle to show/hide this table. By default, we let's set it to 'off', just so the user has to make a decision about if they want statistics. We want to be wary of just thr

[2021-10-19 18:17] asizemore opened #611 "EDA apps: Choose an app view"
For mbio (and clinepi phase 3) a user first selects an app before selecting a visualization. Our current idea is to have the page look something like the below.

See also #609 about naming and icon for the pass app.

<img width="1140" alt="Screen Shot 2021-10-19 at 2 14 51 PM" src="https://user-images.githubusercontent.com/11710234/137967488-1320d76c-fd8e-43bd-a92f-d04f73b94d3f.png">

After the us

[2021-10-19 18:28] asizemore opened #612 "EDA apps: configure app view"
After a user selects an app (#611), the next step is to have the user configure the app.

Proposed design:
<img width="932" alt="Screen Shot 2021-10-19 at 2 25 59 PM" src="https://user-images.githubusercontent.com/11710234/137969152-eabfa031-a767-47e2-aefc-9a027d7b59df.png">

See [here](https://docs.google.com/presentation/d/1Wm1Fikv-t8oR8ODc8GTfO070kHP_tlpTLaV8V3XXjsU/edit#slide=id.ge12676d62e_0_

[2021-10-19 19:17] danicahelb commented on #579
@bobular are there any other "roll our own" legend tasks that are not included in this ticket?

[2021-10-19 19:22] asizemore opened #613 "Mbio apps: Relative abundance listvar variable picker"
This special variable picker would be used, for example, in mbio for selecting abundance of some number of species, or later in clinepi selecting multiple TAC variables, as values in one variable. See #302 for a more detailed description and [slides 19-20](https://docs.google.com/presentation/d/1Wm1Fikv-t8oR8ODc8GTfO070kHP_tlpTLaV8V3XXjsU/edit#slide=id.ge12676d62e_0_10) for an example.

In the sho

[2021-10-20 13:51] eikonomega commented on #572
This ticket has a dependency on https://github.com/VEuPathDB/EdaUserService/issues/10

[2021-10-20 15:56] bobular opened #614 "Technical debt: deal with console logging, errors and warnings"
Some may come from wdk-client and web-components of course.

Let's make a checklist here as we find them (and check them off when addressed)

[ ] to do

[2021-10-20 17:28] asizemore commented on #574
Thanks @bobular! In that second screenshot above, the active no data toggle is the same DARK_GRAY as the other Log scale toggle. But we actually want the text of this no data toggle to be even darker than the text of the other toggles, correct?

[2021-10-20 19:08] sweverschulman opened #615 "Change Imported from verbiage in strategy description"
Please update the verbiage for imported strategies to add last modified.

(Imported from Username on time and date, last modified on.)

Please also bold the whole statement.

[2021-10-20 20:30] #581 closed, assigned to moontrip, SAK22

[2021-10-20 20:30] #583 closed, assigned to moontrip, SAK22

[2021-10-20 23:00] danicahelb opened #617 "Mosaic plot (2x2 & RxC) x-axis value labels need styling fix"
x-axis labels in mosaic plots have the potential to be squished & illegible (when that value represents a small proportion of the subset)

We will need to redraw the labels, using lines to point the label to the specific area on the axis, in phase 2.

[2021-10-21 10:28] bobular commented on #574
Hi @asizemore  - I think maybe the "log scale" text et al should also be black. Check with @danicahelb, @SheenaTomko and co.

I think they look OK all in grey, but when you factor in the greyed out missing data button, it doesn't look much different from the non-greyed out version, so probably all should be black...

[2021-10-21 14:09] asizemore commented on #574
ahhhhh okay that makes sense. Thanks for the clarification @bobular!

[2021-10-21 14:21] dmfalke opened #619 "Add auth key to all eda service requests"
This is needed to support backend data restrictions.

[2021-10-21 14:21] dmfalke commented on #619
@ryanrdoherty just letting you know this issue exists

[2021-10-21 15:04] jtlong3rd commented on #615
@ryanrdoherty The form of the provenance JSON looks good! It's okay to have the property be read-only for now.

[2021-10-21 16:13] steve-fischer-200 commented on #621
this issue is basically a duplicate of https://github.com/VEuPathDB/web-eda/issues/620

[2021-10-21 16:13] #621 closed

[2021-10-21 18:10] moontrip opened #627 "Check a possibility of a version up of plotly.js"
Currently we are using plotly.js = 1.54.x while it is now ver. 2.x. Need to check whether we can upgrade it and compatibility with react-plotly.

[2021-10-22 15:35] nkittur-uga opened #631 "Add an option to save visualization as jpg"
Feature idea: It would be good to have a way of downloading/saving a plot as a jpg for use in presentations etc. Right now the only easy way to save a plot image is by taking a screenshot.

[2021-10-22 19:21] #619 closed, assigned to dmfalke, nkittur-uga

[2021-10-23 00:15] #584 closed

[2021-10-23 03:20] #576 closed, assigned to dmfalke, nkittur-uga

[2021-10-25 19:19] bobular opened #654 "GEMS1A subsetting histogram may not render at very small minimum bin width"
GEMS1A
Subsetting
Participant repeated measures: Age (months)

If you reduce the binwidth to the minimum 0.062 the spinner seems to spin for ever (I waited a minute or so)

Update: subsetting is [calculating its own min/max allowed values](https://github.com/VEuPathDB/web-eda/blob/main/src/lib/core/components/filter/HistogramFilter.tsx#L789) for the binWidth slider, while the visualization is gett

[2021-10-26 21:51] bobular opened #632 "Boxplot "No data" overlay series has colored outline - should be gray"
Example

beta site

GEMS1
no subset

boxplot
x: floor material
y: median height
overlay: usual handwashing

It should not be that cyan colour outline...

![image](https://user-images.githubusercontent.com/308639/138966190-895a92e0-8b15-4da3-912c-6f4fcf55b19f.png)

[2021-10-27 03:46] dmfalke opened #635 "Visualizations: Enable first iterate of faceting"
The following features comprise the first iterate of faceting:

1. One facet var - always column facet
3. Max var values allowed is 8
4. Thumbnail image shows 2 panels
5. No data always plotted in the last column
6. Fullscreen/enlarging one panel (extra - could be dropped if time does not allow)

There is a **web-components** [component](https://github.com/VEuPathDB/web-components/pull/162) to thi

[2021-10-27 12:14] bobular opened #636 "Scatterplot/XYPlot has a lot of client-side logic and Plotly specifics"
Before tackling this, we need to think about how we will handle line plots, density plots etc.

There should be full, Plotly-independent data APIs defined for each of these, and probably separate web-components: ScatterPlot, DensityPlot, LinePlot, etc which call XYPlot.

[2021-10-27 16:55] #586 closed, assigned to bobular, SAK22

[2021-10-27 16:55] #632 closed, assigned to bobular, sweverschulman

[2021-10-28 17:20] #543 closed, assigned to dmfalke, nkittur-uga

[2021-10-29 03:42] dmfalke opened #638 "Subsetting: Handle empty histogram stats"
See https://github.com/VEuPathDB/EdaSubsettingService/issues/40 for details. Basically, the client should display "N/A" if stats are not available.

[2021-10-29 15:05] #638 closed, assigned to dmfalke, aaronwlsong

[2021-10-29 18:43] sweverschulman commented on #571
The variable expansion button is at the end of the list with commas betwee
<img width="585" alt="Screen Shot 2021-10-29 at 2 41 49 PM" src="https://user-images.githubusercontent.com/62298921/139486219-f9b90fce-be0e-4570-823a-78a2286efcfa.png">
n
<img width="587" alt="Screen Shot 2021-10-29 at 2 41 55 PM" src="https://user-images.githubusercontent.com/62298921/139486227-c1016a4b-cbcb-4b0b-b19c-bd4b

[2021-10-29 19:24] aaronwlsong commented on #330
On beta. Website, the text does not change its color when I active and inactive. Tested in several studies, got the same result.

![image](https://user-images.githubusercontent.com/61077845/139490737-fd3ccdd4-f01e-4c79-8a5b-73bb28803d95.png)

![image](https://user-images.githubusercontent.com/61077845/139490818-28b3b59d-dada-4c23-8f95-493d2e3e5016.png)

[2021-10-29 19:35] SheenaTomko opened #653 "Inconsistency in appearance of 400 errors for renaming an analysis with too long a name"
Just finished qa of https://github.com/VEuPathDB/EdaUserService/issues/7 and noticed the following:
1) If you try and rename an open analysis with a name that's too long, you get a pop up with the 400 error message, but if you dismiss the box, the long name persists until you go the "My analyses" page, homepage, etc.
<img width="709" alt="Screen Shot 2021-10-29 at 2 27 09 PM" src="https://user-ima

[2021-10-30 18:43] d-callan commented on #389
this was disabled for phase 1

[2021-10-30 18:43] #389 closed

[2021-10-30 18:45] d-callan opened #643 "add isTemporal variable constraint"
this will be needed for the x axis of the time series plot, when we get to it, where we only want terms annotated as isTemporal = true to be available.

[2021-11-01 16:13] nkittur-uga commented on #543
Tested in GEMS1 and GEMS1A and this is working properly. Multifilter parent terms can be starred in "browse and subset" and all vars under them appear when starred vars are selected in "visualize". When a multifilter var is starred in "visualize" it shows up as starred in "browse and subset".

[2021-11-01 16:45] sweverschulman commented on #632
no date overlay is now grey and passes qa
<img width="649" alt="Screen Shot 2021-11-01 at 12 43 41 PM" src="https://user-images.githubusercontent.com/62298921/139708275-c31cfaa8-4c12-4a92-a53d-f0d40d4d5e56.png">
y

[2021-11-01 16:54] sweverschulman commented on #232
the min and max bin width now shows up on the slider and thus pass qa.
<img width="434" alt="Screen Shot 2021-11-01 at 12 53 33 PM" src="https://user-images.githubusercontent.com/62298921/139709526-8d4dcb11-7ccd-4d6e-832c-7cc3a0a58426.png">

[2021-11-01 19:49] aaronwlsong commented on #638
As I commented in ticket #40 (https://github.com/VEuPathDB/EdaSubsettingService/issues/40), it is not an issue in PRISM2 anymore. Closing ticket.

[2021-11-02 10:47] SAK22 commented on #586
all good!

[2021-11-02 15:06] bobular opened #647 "Fully implement FacetedPlot component"
Subtask to #635

- [ ] decide on subplot size
- [ ] make simple story for each plot type (PiePlot is done)
- [ ] minimise margins within subplots (
- [ ] minimise spacing between subplots (and get rid of temporary dotted outline)
- [ ] render entire faceted plot in the drop-shadow border (not each plot)
- [ ] fixed width and simple browser-based horizontal scroll bar

Optional for build 55
- [ ] c

[2021-11-02 15:39] bobular opened #648 "Faceting: Visualizations: Layout and placement of faceted and non-facted plots"
Starting with BarplotVisualization in https://github.com/VEuPathDB/web-eda/pull/640 (which will hopefully be merged by the time we start on this ticket), figure out a clean and responsive way to lay out the components in the two modes: faceted and non-faceted.

See mock-up [here](https://docs.google.com/presentation/d/1hIzEE86Wvbpck-BOerKQl6wa8Jt3Ui6vQsp-YiR7Yw8/edit#slide=id.gfafe8d864e_0_119)

[2021-11-02 15:44] asizemore commented on #359
@danicahelb @SheenaTomko mind if I close this issue?

[2021-11-02 16:57] bobular opened #650 "Faceting: calculate dependentAxisRange from plugin response for Boxplot and maybe others"
See BarplotVisualization in `facet-approach1` branch or this [PR](https://github.com/VEuPathDB/web-eda/pull/640) for what was done there (`defaultDependentMaxValue` and `dependentAxisRange`)

[2021-11-02 20:29] chowington commented on #287
@danicahelb Can I get a link to an example for the WDK site?

And I'm not sure how I could let outreach control this...maybe @dmfalke has an idea?

[2021-11-02 20:31] chowington commented on #287
And for clarity, we're talking about doing something like this, right? Here temp1/2/3 are nested folders with only one item each. We want to collapse the variables like these folders are collapsed?

![image](https://user-images.githubusercontent.com/12377649/139947375-2e9a440b-02e2-4a11-b5c4-d0dbf4af1e95.png)

[2021-11-02 21:26] dmfalke commented on #635
@jtlong3rd has agreed to work on the thumbnail and layout issues.

[2021-11-03 13:28] d-callan opened #652 "Visualizations backend: need a working line plot viz"
currently we have only a gray 'placeholder viz' called Time Series.

[2021-11-03 13:47] SheenaTomko commented on #287
Here's an example from India ICEMR Cohort. The first screenshot of the owl file shows that the variable "Electricity" is under the Category "Assets". However, since there is only one variable under that category, on the WDK site, Electricity appears directly under "Socioeconomic factors" (second screenshot). Note that we want the variable to inherit the displayOrder of it's parent that is being hi

[2021-11-03 14:44] danicahelb opened #655 "Visualizations: add "Coming soon" descriptor to greyed out viz tool titles"
Viz tools that are coming soon (density, heatmap, time series, geolocation) are greyed out in the picker, but the user won't understand why these are not selectable.

Please add "Coming soon!" to the viz tool titles for these 4 tools to indicate that these tools haven't yet been built.

It should look like: "Density _(Coming soon!)_"

[2021-11-03 15:30] bobular commented on #261
Reopen pending uncommenting of button

[2021-11-03 16:01] dmfalke opened #656 "Bugs in subsetting results data table modal & subset download files"
- [x] Uncomment button to invoke modal
- [x] Update styling of close button for modal (use an X in the top-right corner)
- [x] Update styling of variable selector toggle (possibilities: change label on state change; add a close icon; or make look even more like a drop-down menu)

QA Tasks (each tagged w/ assignee)
- [x] Incorrect URL is hardcoded for the tabular download (@dmfalke)
- [x] Reflect s

[2021-11-03 16:19] #615 closed

[2021-11-03 16:21] dmfalke opened #657 "Sharing: add "share" button and modals for sharing and making public"
An analysis can be "shared" in two ways
1. It can be made public, in which case it will appear in a public listing
2. An url can be shared with others, without it appearing in a public listing

In both scenarios, we want to educate users on how our sharing model is implemented, and how changes to their analysis will impact what they have shared.

Mock-ups for these scenarios have been carefully de

[2021-11-03 16:48] bobular opened #658 "Faceting: wire up Boxplot visualization for basic faceting"
Follow-on from https://github.com/VEuPathDB/web-eda/pull/640

[2021-11-03 16:48] bobular opened #659 "Faceting: wire up Scatterplot visualization with basic faceting"
Follow-on from #640

[2021-11-03 16:49] bobular opened #660 "Faceting: wire up Mosaic visualizations to basic faceting"
Follow-on from #640

[2021-11-03 20:04] danicahelb commented on #359
looks good, closing this ticket.

[2021-11-03 20:04] #359 closed

[2021-11-03 20:07] danicahelb commented on #482
looks perfect, thanks!

[2021-11-03 20:11] danicahelb commented on #419
looks great now, thanks!

![image](https://user-images.githubusercontent.com/25450900/140185375-8477284e-06c2-40de-b59b-c6df9daf7a8f.png)

[2021-11-03 20:42] SheenaTomko opened #662 "Trying to open an analysis for a private study that's never been released throws errors"
On qa.restricted.clinepidb.org, if you are not logged in to a ClinEpiDB account and try to click the name of a new study (GAMIN or ELICIT) or the "Explore the data" icon on a study card or in the drop down menu, you get an error message like the one below. In this case, I clicked on the study name of EILICT on the study card.

If you log into a ClinEpiDB account that has access to the study, then

[2021-11-03 20:43] nkittur-uga opened #663 "Error in making visualizations in studies loaded since the EDA release"
Browse and subset is working well for the GAMIN study on qa.restricted but throws up an error (see screenshot) when I try to make any visualizations.
<img width="1403" alt="Screen Shot 2021-11-03 at 10 32 23 AM" src="https://user-images.githubusercontent.com/67710160/140189715-58ab0f74-868f-4880-a00f-b1c9658f2090.png">

Comment from Jay: I keep wondering if these errors that say a study "does not

[2021-11-03 20:58] nkittur-uga commented on #624
Homepage redesign proposal is here: https://docs.google.com/presentation/d/1ASPwraqVzp2ZHAM7ChM_tnxUTk2QvNOuTR67sd0Fng0/edit#slide=id.p

See eda-homepage-wg for discussion. Scheduled to be discussed in an EDA/UX meeting soon.

[2021-11-03 21:05] bobular opened #671 "Scatterplot visualization - dependent axis range resets temporarily between overlay variable changes"
Here is a GEMS1 visualization, which (for better or worse) uses the global variable-annotation's axis ranges

![image](https://user-images.githubusercontent.com/308639/140192135-e1baca46-5fe5-441e-beec-e99ffcb021a8.png)

If you change the overlay variable, or toggle the "show missing" switch, the axes temporarily reset to plotly default autoscaling.  When the new data comes from the back end, the

[2021-11-04 03:40] dmfalke commented on #662
This issue is caused by EbrcWebsiteCommon using an outdated version of `DataRestrictionDaemon`.

[2021-11-04 17:02] dmfalke commented on #287
@chowington I indicated above (https://github.com/VEuPathDB/web-eda/issues/287#issuecomment-936524595) how to implement this. Regarding making this configurable, we're going to have to think about how to do this. On the live site, we expose a property on the WDK Question object, but we don't have that concept in EDA. We can probably add a property or attribute to the WDK dataset record, but I thin

[2021-11-04 17:04] dmfalke commented on #662
issue close by https://github.com/VEuPathDB/EbrcWebsiteCommon/pull/79 and https://github.com/VEuPathDB/ClinEpiWebsite/pull/11

[2021-11-04 17:04] #662 closed

[2021-11-04 17:08] steve-fischer-200 commented on #663
dave and danielle are working together to solve this permanently

[2021-11-04 17:14] chowington commented on #287
@dmfalke Thanks for the tip and the response! I saw the comment when I started working on the ticket. I almost have the collapsing done, and I can get a PR up for it soon, but should I wait on the configurability solution for this ticket?

[2021-11-04 17:17] dmfalke commented on #663
I noticed the version of reserve on qa is out of date. I just updated it. I will test again in 30 minutes, when the deployed instance has been updated.

[2021-11-04 20:40] chowington commented on #655
Here is what the ticket requests:

![image](https://user-images.githubusercontent.com/12377649/140416351-bd4c4826-b167-435a-94f3-e1881c3cedd7.png)

I think the spacing turned out a little odd. I suggest this instead:

![image](https://user-images.githubusercontent.com/12377649/140416483-46389d4d-1bf8-4d0c-b36f-e8082afe4cfa.png)

@danicahelb Thoughts?

[2021-11-04 21:52] chowington commented on #607
In addition to this change, I would suggest that we consider in the future adding an unintrusive popup notification for actions like this that can easily go missed, in the style of https://mui.com/components/snackbars/#customized-snackbars.

Also fun fact, the browser not going into the new copy is in fact a bug---after looking at the code, it's obvious to me that that was actually meant to happen

[2021-11-04 22:57] chowington commented on #560
Looks like this ticket is getting stale. I'd be happy to tackle it if @jtlong3rd thinks it's within my ballpark. I'm sure I'd need some guidance at the very least!

[2021-11-05 01:47] #607 closed

[2021-11-05 03:23] dmfalke commented on #287
I think we can move forward with this. For now, we should add a prop to the `VariableList` component to control this behavior. Once we figure out how to configure this for EDA, we can pass that down to the component, so the clinepi team has control over it. Until then, I think the collapsible would not happen. We probably need another ticket for the configurability.

[2021-11-05 15:47] SheenaTomko commented on #662
Tested with ELICIT and GAMIN. For both now, if you try to open the study from the drop down, study card, or study table, you get the correct pop-up box prompting you to log-in and submit a data access request if you are a Guest user. Logging in gives you access as expected

[2021-11-05 15:55] chowington commented on #287
Ok, that sounds good to me. So this ticket would just be setting up the logic to collapse nodes, but not yet activating it, meaning this ticket would have nothing to be QA'd. Another ticket would be created for the configurability. Is all of this okay with @SheenaTomko?

[2021-11-05 15:59] SheenaTomko commented on #287
yep, want me to create the other ticket for configurability?

[2021-11-05 17:57] jtlong3rd commented on #560
Let's discuss at the next dev meeting! @dmfalke and I have been considering, on and off, a large refactor of the `useAnalysis` hook which would affect (ideally simplify) the work needed for this ticket.

[2021-11-05 18:23] SheenaTomko commented on #627
Discussed with DK, no good way to really qa other than reporting any bugs we find over time

[2021-11-05 19:12] chowington commented on #287
Yes please, thanks @SheenaTomko!

[2021-11-05 19:13] chowington commented on #560
Ok, sounds good Jamie!

[2021-11-05 21:05] SheenaTomko opened #670 "Multifilters are now showing up as normal variables in browse and subset"
A new bug is causing multifilter variables to appear like normal variables rather than with displayType multifilter. This is affecting newly loaded and older studies. Screenshot from GEMS1 of "Bacteria in stool" which should be a multifilter
<img width="202" alt="Screen Shot 2021-11-05 at 4 04 47 PM" src="https://user-images.githubusercontent.com/54597319/140578379-2d285b2a-73dd-47f5-8f35-bca0c7fa

[2021-11-08 15:55] chowington commented on #655
@SheenaTomko, how about you?

[2021-11-08 16:44] SheenaTomko commented on #655
@chowington , I like the suggestion of moving Coming soon under the name of the plot

[2021-11-08 18:03] asizemore commented on #574
Closed with [web-components #235](https://github.com/VEuPathDB/web-components/pull/235)

[2021-11-08 18:03] #574 closed

[2021-11-08 18:18] #655 closed

[2021-11-09 17:39] #572 closed

[2021-11-09 19:12] #670 closed

[2021-11-09 19:16] #287 closed

[2021-11-09 20:29] asizemore commented on #591
@danicahelb are you happy with Steve's suggestion of "Studies Summary"?
Also we should get @dpbisme 's opinion because this will change the name in mbio as well.

<img width="1749" alt="Screen Shot 2021-11-09 at 3 28 16 PM" src="https://user-images.githubusercontent.com/11710234/140999707-0c36ed3e-0787-4a6f-b40d-c7cac1592eec.png">

[2021-11-09 21:47] bobular opened #676 "Visualizations: no data detection needs to be more sophisticated now we have overlay and facet vars"
This is what it should NOT look like:

(GEMS1 beta site, 8/Dec/2021)

A. Empty "No data" facet for a variable (Country) with no missing data.  (The overlay variable which does have missing data, is triggering this.)
![image](https://user-images.githubusercontent.com/308639/145263576-043640bd-bcff-48da-be62-5760e26271e3.png)

B. Empty "No data" item in overlay variable legend (facet variable is tri

[2021-11-09 22:55] moontrip opened #678 "Visualization: Custom legend markers and colors"
while a prototype of custom legend works are done, it is still required to add markers at legend labels like plotly's legend. A basic square markers are already made at #637 which would work for histogram, barplot, mosaic (2x2 and RxC) Vizs but still need to consider two more cases, scatter plot and boxplot Vizs. This ticket will handle the task.

[2021-11-09 22:58] moontrip opened #679 "Visualization: Wiring custom legend to faceted plots"
Bob is converting Vizs to support faceted plots, thus I will add the custom legend to those plots. Currently, histogram and barplot Vizs are done for custom legend at #637 but will need to work for other Vizs such as boxplot, mosaic, and scatter plot Vizs. This work also involves a task to set legendItems object appropriately, which is different from each plot.

[2021-11-09 23:16] #339 closed

[2021-11-09 23:16] #464 closed

[2021-11-09 23:16] #579 closed

[2021-11-09 23:33] chowington commented on #595
@danicahelb @SheenaTomko Do you just want lighter axes for the histogram, or for the bar plot or other plots as well?

[2021-11-10 15:11] #658 closed

[2021-11-10 15:15] bobular opened #680 "Faceted boxplots need global y-axis calculations"
Just noticed that this still needs doing.

![image](https://user-images.githubusercontent.com/308639/141139689-dc0795e2-4132-4383-8e06-0fd7e4464411.png)

Will likely be tricky - need to do the min/max over various things: outliers, rawData, and the boxplot whiskers (forgotten their name right now)

(min will be needed for variables that go negative, e.g. GEMS1 household wealth

[2021-11-10 15:17] sweverschulman commented on #655
coming soon viz are currently greyed out

<img width="1005" alt="Screen Shot 2021-11-10 at 10 16 13 AM" src="https://user-images.githubusercontent.com/62298921/141139912-780eab00-7ada-47bc-98e6-c72081601a2a.png">

[2021-11-10 15:24] jtlong3rd commented on #615
Yes, this ticket can be tested on QA! You'll need to use the ClinEpi staff account to create a public analysis or two; you can then log in as another user, import the public analysis, and inspect the verbiage in My Analyses. (The "imported from" / "last modified" will appear in the Analysis column.)

[2021-11-10 15:40] bobular opened #681 "Faceting: Plot components should render title/facet value outside of Plotly and render "no data" message for empty data"
Two types of empty plot:

1. Skeleton: what we currently see when starting a new viz - rendered by Plotly.
     - when PlotProps.data is "empty"
2. No data: should be a large grey "No data" in middle of where the plot would normally be (not rendered by Plotly)
     - when PlotProps.data is undefined

Start with barplot in storybook and discuss.

Old description:

Facet title should be done in regu

[2021-11-10 15:49] bobular opened #682 "Faceting / Visualizations: histogram faceting broken for some variables"
After merging #669 it seems that something is very wrong

![image](https://user-images.githubusercontent.com/308639/141145769-92b6d87c-25ea-4253-830f-2409463556e0.png)

Histogram is fine with no facet variable.
Even nastier error is thrown when choosing "Floor material" as facet var.

Back end seems to be returning the proper data.  Front end must be broken :-(

[2021-11-10 15:54] SAK22 commented on #670
Looks good.

[2021-11-10 15:55] bobular commented on #680
This is a duplicate of #650

[2021-11-10 15:55] #680 closed

[2021-11-10 15:59] SAK22 commented on #607
Says "Copy of" but not @chowington great suggestion, not sure if that should have been implemented yet as well? I think that would be really useful as I didn't notice it changed to "Copy of" very obviously, so if not should there be a new ticket or keep this one open?

[2021-11-10 16:15] bobular commented on #679
Remember to switch off legend in main plot

[2021-11-10 16:31] bobular commented on #587
Pausing - to see if axis controls fix the problem

[2021-11-10 16:41] bobular commented on #625
Dragging (in a linear structure) might be preferable to starring/pinning. Don't want to implement pinning and then replace it with dragging.

To do: explore drag/drop library - NOT do pinning.

[2021-11-10 18:42] sweverschulman commented on #615
Verbiage has been added.
<img width="1030" alt="Screen Shot 2021-11-10 at 1 41 03 PM" src="https://user-images.githubusercontent.com/62298921/141173795-39977533-df4e-427c-b247-aa5addb7335a.png">
r

[2021-11-10 19:07] nkittur-uga commented on #572
Tested Notes tab on qa.restricted and it is working well!
There is a small issue with the text box overlapping the footer so I am not moving to "Complete" yet.

<img width="1084" alt="Screen Shot 2021-11-10 at 2 06 04 PM" src="https://user-images.githubusercontent.com/67710160/141177371-338057c5-ef47-46cb-b3b1-f9b4046c0ac9.png">

[2021-11-10 20:23] jaycolin opened #689 "Hidden variable with dataType "longitude" and displayType "hidden" not being hidden from tree (SCORE seasonal)"
Study: SCORE Seasonal Transmission S. haematobium Cluster Randomized Trial
variables: Latitude, Longitude
According to the [EDA roadmap: Mapveu needs](https://docs.google.com/document/d/1wKhcm_PnHuJ1i6mXjs-pOp4-_PqNtssz0T_7-Agnupg/edit#heading=h.5ml0x170vllp) longitude is one of the data types (others being string, number, date). The variable is hidden: displayType = "hidden". The variable appears

[2021-11-10 20:28] dmfalke opened #684 "Visualizations: Context-specific tooltips not appearing for disabled variables"
This is what is seen on the beta site:
![image](https://user-images.githubusercontent.com/365139/141188058-42d032b4-95c5-4993-9bf4-e2f24ca13a4f.png)

And this is what is seen on the qa site:
![image](https://user-images.githubusercontent.com/365139/141188125-0b8667df-9ed2-4ce1-9778-5c5fed31b14f.png)

See relevant pull request: https://github.com/VEuPathDB/web-eda/pull/445

[2021-11-10 21:37] dmfalke opened #685 "Visualizations: Remove "info" icon from "compatible viz" toggle tooltip"
This is the icon to be removed:

![image](https://user-images.githubusercontent.com/365139/141197314-c6dcfc0d-9f0b-4777-ad0c-cd7ee7904ab8.png)

[2021-11-10 22:08] aaronwlsong commented on #574
Now the toggle text's color is always black no matter the toggle is switched on and off, which is consistent with toggle of "Log scale" in histogram.

![image](https://user-images.githubusercontent.com/61077845/141199823-af315e7b-c959-41f6-a88e-891b1d22fcc8.png)

![image](https://user-images.githubusercontent.com/61077845/141199905-f29ee408-f027-4bee-9503-181eb86cc180.png)

[2021-11-10 23:46] danicahelb commented on #573
Once this ticket is ready for QA, whoever is QAing should also please take a look at [VEuPathDB/plot.data#103](https://github.com/VEuPathDB/plot.data/issues/103) and see if zooming is good enough to also close that ticket

[2021-11-10 23:58] #660 closed

[2021-11-11 03:45] danicahelb commented on #484
Icons in the `EDAWorkspaceHeading` component look fine. Icons in the `DataGrid` button are currently hidden

[2021-11-11 03:46] danicahelb commented on #261
subset results table is currently hidden, so I'm adding a pause

[2021-11-11 14:59] d-callan commented on #663
my understanding is this turned out to be a docker compose configuration issue, and that BobB has since resolved this. I'm going to close it, so it can be QA'd.

[2021-11-11 14:59] #663 closed

[2021-11-11 18:34] moontrip commented on #650
made a PR for the Boxplot Viz, #688

[2021-11-11 18:42] moontrip commented on #678
Boxplot Viz is done via [#251](https://github.com/VEuPathDB/web-components/pull/251)

[2021-11-11 18:43] moontrip commented on #679
Boxplot Viz is done via #683. Mosaic (2x2 & RxC) would not have custom legend for now, so only Scatterplot Viz is left

[2021-11-11 21:54] #593 closed

[2021-11-11 22:43] bobular opened #690 "Faceting Custom Legend - Scatterplot best fit R-squared in overlay variable legend needs to be removed"
Don't want to forget this!

We need to replace the "R2 = 0.1234" with "best fit".   I'm not sure what the long-term fate of the R2 numbers will be.

![image](https://user-images.githubusercontent.com/308639/141379444-e6659666-c091-41d6-812e-3d3dcffe1749.png)

[2021-11-11 22:59] bobular opened #691 "Faceting legends - make sure representative facet is chosen correctly"
Using the first facet to get the names of the data series (e.g. overlay var values) is problematic because the first facet might be empty (you can filter out Bangladesh and facet by Country in GEMS1 to demo this).

I've done this for Scatterplot and Histogram - remaining vizs need doing too.

[code]

[2021-11-11 23:04] #595 closed

[2021-11-11 23:34] moontrip commented on #690
Thank you for your reminder, @bobular 👍 It is easy one, so perhaps I can handle it when working with custom legend stuff with scatter plot.

[2021-11-12 11:08] bobular opened #694 "Visualizations: Scatterplot needs table for best fit R^2 values, especially when faceting"
Related to #690

When faceting, the series names must be identical for each facet so that the custom legend can switch them on/off correctly.

So we removed the R^2 from the legend, but it will need to go somewhere.

Theoretically, without faceting the R^2 *can* be displayed in the legend, but it may be more consistent to have it in the same place regardless of faceting.

[2021-11-12 11:16] #659 closed

[2021-11-12 11:16] #690 closed

[2021-11-12 14:46] jaycolin commented on #689
also PRISM2: birth date

[2021-11-12 15:07] nkittur-uga opened #769 "Homepage header updates for b56"
The following updates are to be made to the header section of the homepage of beta.clinepidb.org. These are to be done in time for b56.

1. Shorten the dark blue portion in the header
2. Remove the “Welcome to ClinEpiDB” text in the header
3. Remove the release # and date text under ClinEpiDB logo
4. Replace the tagline with a new one: “Share, explore, and visualize clinical and epidemiological da

[2021-11-12 15:13] nkittur-uga opened #768 "Study card updates for b56"
The following two updates are to be made to study cards on the homepage of beta.clinepidb.org. These are to be done in time for b56.

1. Remove the disease icon on the top right
2. Update the color scheme
<img width="246" alt="Screen Shot 2021-11-12 at 10 12 25 AM" src="https://user-images.githubusercontent.com/67710160/141489478-e50e69b6-6984-4bf6-9fed-902c94a3904b.png">

[2021-11-12 20:40] #650 closed

[2021-11-12 21:17] nkittur-uga commented on #663
Issue is resolved.

[2021-11-12 21:25] SheenaTomko opened #767 "Non-intrusive popup notifications for subtle actions"
This came up originally in the context of someone copying an open visualization (https://github.com/VEuPathDB/web-eda/issues/607). Connor had that thought that we should consider in the future adding an unintrusive popup notification for actions like this that can easily go missed, in the style of https://mui.com/components/snackbars/#customized-snackbars.

[2021-11-12 21:33] nkittur-uga commented on #572
Text box is no longer overlapping footer. Looks good!

[2021-11-12 21:46] nkittur-uga commented on #339
Right now it looks like we have two legends. The second legend appears whenever a stratification var is applied, regardless of whether data have been subsetted for the stratification var or not.
<img width="1006" alt="Screen Shot 2021-11-12 at 4 38 06 PM" src="https://user-images.githubusercontent.com/67710160/141538311-6224f535-9206-45e7-a39d-4aa19129e48a.png">

[2021-11-12 21:53] aaronwlsong commented on #595
Tested several studies on qa. website, it looks good now, closing ticket.

![image](https://user-images.githubusercontent.com/61077845/141538967-5843b624-d907-4f59-936f-ed725e2361e8.png)

![image](https://user-images.githubusercontent.com/61077845/141538781-fbd71cb3-4784-4ec9-a67b-1c5fe2f1f897.png)

[2021-11-12 22:19] moontrip commented on #339
Hi @nkittur-uga Thank you for your tests and comments! I am sorry that I should have left a comment in this regard. For clarification, yes the custom legend is not fully ready yet for all Vizs as it ties with faceted plot works. We will hide the Plotly's legend once we will finalize all custom legend, which is close to be done sooner or later - my PRs are currently under review, e.g., #698

The ex

[2021-11-12 23:52] asizemore commented on #591
With Danica, decided on "Study Summaries", since it's already clear that what's shown is a table.

<img width="1343" alt="Screen Shot 2021-11-12 at 6 49 08 PM" src="https://user-images.githubusercontent.com/11710234/141596466-af182b16-af83-4679-9a94-9155d1a46682.png">

[2021-11-13 19:32] bobular opened #766 "Reload of GEMS1 subsetting page with no active filters causes 54 calls to `count` service endpoint"
Six times ought to be enough (there are six entities in the ED)

Possibly a duplicate of https://github.com/VEuPathDB/web-eda/issues/72 but I think things may have escalated since then!

[2021-11-13 20:49] bobular opened #728 "Categorical variables with actual 'No data' values in database are problematic for the new legend"
Here's an example from 'SCORE Mozambique S. haematobium Cluster Randomized Trial' which is fooling our new custom legends.

![image](https://user-images.githubusercontent.com/308639/141658475-920a8851-3738-436b-a056-11515f175612.png)

The 'No data' values are correctly plotted in green*, because they are not actually "No data" in the sense that there are no values in the database.

(* though havin

[2021-11-13 22:07] #678 closed

[2021-11-13 22:07] #679 closed

[2021-11-13 23:06] moontrip opened #699 "Visualization: bug on custom legend marker color for Scatter plot"
For the case that no overlay variable is selected, multiple legend items can still exist due to the plot options. For example, if choosing Smoothed mean with raw option is chosen, then the legend items are 'Data', 'Smoothed mean', and '95% Confidence interval'. In this case, the marker colors at the custom legend should have the same color, but it is currently shown as different color like the scr

[2021-11-14 13:20] bobular opened #701 "Visualizations: mosaic 2x2 RxC plots should not expect stats table when facet variable is active and showMissingness==true"
Client needs to be aware of this and the io-ts validators should be lenient
See also
https://github.com/VEuPathDB/plot.data/issues/109

[2021-11-14 14:13] bobular commented on #701
@d-callan  - what's the name of the test(s) done for 2x2 and RxC? I think the UI should say what the p-value is from!

[2021-11-14 14:42] #699 closed

[2021-11-14 16:10] bobular opened #703 "Faceting: Mosaic is a special case where the faceted plot should not disable the legend"
Currently
[code]
is hardwired into facet subplots (web-components/FacetedPlot).  We need to create a mechanism to override this.

I prefer this to be a new prop of FacetedPlot than checking something like `if componentName == 'Mosaic'`

![image](https://user-images.githubusercontent.com/308639/142075671-e6c8b0cb-bdd0-4f65-9318-91bf9bd5c24a.png)

Pairs well with #725

[2021-11-14 16:31] bobular commented on #701
While fixing this I took an executive decision to move the statistics table into the tabbed area.  This is that it can handle faceting too (when showMissing is not checked).

It now looks like this, when faceting is active
![image](https://user-images.githubusercontent.com/308639/141689548-fc0e6dda-6514-484a-9c58-3fd1a8eeef48.png)

(note that the width isn't correct, but I didn't want to get into

[2021-11-14 17:27] #691 closed

[2021-11-15 11:14] #682 closed

[2021-11-15 11:18] #701 closed

[2021-11-15 11:27] bobular opened #705 "Visualisations: ensure all vizs apply the same unique input variables check and respond the same."
Some are done, others are not.  Low cost, will do now.

[2021-11-15 12:03] bobular opened #706 "Visualizations / Faceting: ensure all vizs provide empty plots for empty facets"
I noticed that faceting Mosaic plots on Country (where country is filtered in subsetting to just one country) looks like a no-op (there's only one facet, so the facet layout handling is not triggered).  There should be mostly empty plots.

Should coordinate with @chowington who is working on https://github.com/VEuPathDB/web-eda/issues/681 - we discussed how to deal with it [here](https://docs.goog

[2021-11-15 13:32] #627 closed

[2021-11-15 13:40] dmfalke opened #707 "Visualizations - Multifilter: When compatible variables toggle is enabled, multifilter category is displayed, even if all children are hidden"
To reproduce, make a scatter plot in India ICEMR Cohort, enable the toggle for x-axis, and notice **Plasmodium species, by microscopy**:

![image](https://user-images.githubusercontent.com/365139/141791583-6252d500-0359-460a-b05a-e488151cae87.png)

[2021-11-15 14:20] bobular opened #708 "Visualizations / facetting: make single facet values behave like faceting."
Example:  GEMS1 facet on Country when country has been subsetted/filtered == India only.

Implementation details.

Test for unfaceted data in XxxReponseToData functions should be

[code]

[2021-11-15 14:34] asizemore commented on #591
Closed with EbrcModelCommon [PR #13](https://github.com/VEuPathDB/EbrcModelCommon/pull/13)

[2021-11-15 14:34] #591 closed

[2021-11-15 15:30] nkittur-uga commented on #691
Tested in GEMS1 on several plots. Passes QA.

[2021-11-15 15:32] #708 closed

[2021-11-15 15:35] sweverschulman commented on #593
a "x" that allows for clearing of the search box is showing up and allows for the text of the search to be deleted when clicke
<img width="527" alt="Screen Shot 2021-11-15 at 10 32 58 AM" src="https://user-images.githubusercontent.com/62298921/141809656-61589d6c-208c-43a6-afbf-b6dce1bd16e7.png">
d

[2021-11-15 15:39] aaronwlsong commented on #682
Seems the issue in this ticket has been solved in most scenarios.
Regarding to the #669 (which was merged into this ticket):  "An improvement would be for FacetedPlot to render the facet title outside of Plotly (this would give us more control over styling and things like overflow/ellipsis handling). FacetedPlot could also render a large "No data for this facet" for individual facets", do not see

[2021-11-15 15:53] aaronwlsong commented on #699
Seems the issue has been solved by **removing** markers ahead of label in customized legend box. Closing ticket.

![image](https://user-images.githubusercontent.com/61077845/141812315-1f47d085-6961-4726-be50-f12369144c27.png)

[2021-11-15 16:25] aaronwlsong commented on #699
Thanks for your follow up comment @moontrip :)  yeah, I tried my qa. website in different ways (reload/ refresh, clear cache, etc.), still cannot get the markers as they are  in your screen shot. Thanks for checking it with Dave.

[2021-11-15 16:28] sweverschulman commented on #678
@moontrip
Before I approve this ticket could you confirm the following things.
1. That the open dots are the correct icon in the scatter plot legend
2. That the clickable legend thing is supposed to be there

I am attaching photos
<img width="700" alt="Screen Shot 2021-11-15 at 11 24 45 AM" src="https://user-images.githubusercontent.com/62298921/141818202-114c985f-a40e-4eb5-a849-99abf524a4f3.png">

[2021-11-15 16:38] moontrip commented on #678
@sweverschulman Thank you for your review and tests. Sorry that it is not clear of your question 1: The attached one is boxplot and you are saying scatter plot legend. FYI, it seems that my custom legend works for the scatter plot (and possibly the latest works from developers) are not updated correctly at qa/qa.restricted: asking Dave about this. So, if you are asking about the style of scatter p

[2021-11-15 16:42] sweverschulman commented on #678
thanks @moontrip. So to clarify the custom legend this.
<img width="210" alt="Screen Shot 2021-11-15 at 11 40 33 AM" src="https://user-images.githubusercontent.com/62298921/141819984-ebf27e61-79ab-4c5f-95c8-015b80bf9fad.png">

[2021-11-15 16:55] moontrip commented on #678
@sweverschulman yes correct. FYI, Jamie just committed his work for overall layout of plot, custom legend, bird eye plot, and table: certainly not reflected at as site yet. Also, we will disable the Plotly's default legend sooner or later and stick to the new custom legend instead for both regular plots and faceted plot.

[2021-11-15 18:55] dmfalke opened #713 "Visualizations: Bird's eye loads slow"
This is likely due to entity count requests. This should be done at a central, ancestor component and made available to children.

[2021-11-15 20:30] bobular opened #715 "Visualizations: Make sure contingency tables in Mosaic 2x2 and RxC are ordered correctly by x and y variable vocabularies"

[2021-11-15 20:33] bobular opened #716 "Visualizations - faceted thumbnails should have "X Facets" overlaid in a box with a background"
Suggestions during the meeting were to have the box at the bottom of the thumbnail - looking a bit like a tab label?

I guess a semi-opaque white background would look good.

[2021-11-15 21:11] bobular opened #718 "Faceting thumbnails go mostly blank when visiting a visualization and making no changes"
So make a visualisation with faceting (I used histogram, but I don't think it matters).

Then go back to the visualizations 'home' with the thumbnails.  It looks nice.

Then go back to the same visualization, and admire it some more.  **But don't make any modifications.**

Then go back to the thumbnails. It's just a shadow of its former self! :cry:

![image](https://user-images.githubusercontent.c

[2021-11-15 21:21] moontrip commented on #718
Actually I cannot reproduce this from my side. The only case when I can get an empty thumbnail from the pre-existing facet plot is I forcibly press minimize button or click Visualize tab before fully loading the plot, which I can understand the situation.

A side note, LOL when I see the sentence "admire it some more" 😄

[2021-11-15 21:33] bobular commented on #718
Oh, that may mean that it's browser specific of network delay related? :disappointed:

[2021-11-15 21:51] jtlong3rd commented on #718
Aww, poor thumbnails! Using Bob's steps, I can reproduce with scatterplot (Mac with Chrome). 😢

I'll check it out. 🔎

[2021-11-16 04:18] dmfalke commented on #706
I think a low cost approach would be to make a "delegate component" in web-eda. This component would be responsible for either rendering the "no data" UI if `data` is `undefined`, or delegating to the actual plot component. The props interface would look very similar to `FacetedPlot`. I'll leave the implementation details as homework, but happy to provide more if needed!

[2021-11-16 13:06] bobular commented on #705
Didn't link PR originally.  Closing because it was merged already.

[2021-11-16 17:12] #426 closed

[2021-11-16 17:54] bobular commented on #715
I have done some work on this and would appreciate some feedback from outreach @d-callan @asizemore @SheenaTomko @danicahelb and also looping in @chowington and @dmfalke

The simple way to get all the categories in the Mosaic contingency tables is to manipulate the data that comes back from the server to include them - inserting zeroes where necessary.  It's simple because the Mosaic plot and the

[2021-11-16 17:56] bobular commented on #715
Hmm, but there's also the facet dimension to consider.  I think for now just not showing x axis labels that have all zero data would be good to try first.  Will investigate.

[2021-11-16 19:24] bobular commented on #715
Well that was unexpected! :rofl:
![image](https://user-images.githubusercontent.com/308639/142051780-ccf64cae-ca94-41f5-874e-07e1fda90047.png)

[2021-11-16 19:29] bobular commented on #715
Easily fixed

Do we want to keep ALL y-axis labels even the ones with no data (including no data across all facets)?
![image](https://user-images.githubusercontent.com/308639/142052406-80ed6917-d47e-4dbe-8a7c-8f0aad4404ea.png)

[2021-11-16 19:38] #713 closed

[2021-11-16 19:39] #707 closed

[2021-11-16 19:40] dmfalke commented on #715
I say yes, if only to keep the margins consistent.

[2021-11-16 19:47] bobular commented on #715
Thanks, @dmfalke - that reminds me we must re-enable the special legend for mosaic facets. I think we have a ticket for that - yes we do #703  :-)

[2021-11-16 19:51] bobular opened #723 "Visualizations mosaic faceting - if keeping vertical layout, add margin-top to facet headings in multi-contingency table"
The facet "headings" should be closer to the table they apply to (below them) than the one above.

Might be better with a margin-bottom on the table, or some fancy if-not-first CSS rule.

[2021-11-16 21:14] #706 closed

[2021-11-16 21:24] nkittur-uga commented on #679
Custom legend looks good for histogram, bar plot, boxplot, scatter. But both mosaic plots don't have it yet so I am not moving to complete yet.

[2021-11-16 21:28] moontrip commented on #679
Hi @nkittur-uga thank you for your reviews and tests! 👍 Please note that we will not implement the custom legend to the two Mosaic plots (at least for the time being) because they utilizes Plotly's legend in the left side as Y-axis labels. For this reason, the custom legend is not necessary for them for now.

[2021-11-16 21:32] nkittur-uga commented on #579
DK @moontrip I tested custom legends on all 4 plots- bar, scatter, box, histogram- and they look good. Does that mean this ticket can be moved to complete? Please advise.

[2021-11-16 21:32] bobular opened #724 "Right-hand edge of Birds Eye plot needs more space to the right of it to accommodate mouse-over when in facet mode"
Related to #419 (scroll all the way down...) but the take-home from that is that there's a mouse-over handled by Plotly that is difficult to control, and it sometimes appears to the right hand side of the the birds eye plot.  There's an overflowing container div that takes care of this, which allows everything to stay in one flex "row" on 1280px screens in non-faceted mode (although with a horizon

[2021-11-16 21:35] bobular commented on #724
Alternatively, the three top panels in faceted mode could be distributed evenly across full available width.

[2021-11-16 21:37] moontrip commented on #579
@nkittur-uga Yes. As mentioned in the other ticket, those four plot vizs are the ones for the custom legend, so if you are alright with those four, then this can be moved to complete 👍

[2021-11-16 21:38] nkittur-uga commented on #579
QA is complete.

[2021-11-16 21:58] danicahelb commented on #689
to clarify, terms that were hidden in b54 are no longer being hidden on the qa sites, ex: PRISM2 birth date
terms in studies new to b55 are also not being hidden.

Can we hook back up whatever was hiding variables in the past? Jay said that displayType currently says “hidden” or “multifilter” (or is blank), same as it was in b54

[2021-11-16 22:31] bobular opened #725 "Finalise faceted layout of Mosaic visualizations"
There were various discussion about vertical/horizontal layout of plots and tables.  I think we should be pragmatic and not do too much, given that we will be faceting in two dimensions in the not too far future.

We should at least get rid of the yellow placeholder (below) and @jtlong3rd mentioned having to do some refactoring to work around the oddities of this visualization, so I will assign to

[2021-11-16 23:20] bobular commented on #706
Oh, sorry, just saw this.  I think we're going with Connor's solution that is triggered in FacetedPlot by undefined data.

[2021-11-17 03:39] #689 closed

[2021-11-17 12:06] bobular commented on #723
Also, empty facets don't need to have quite so much min-height or whatever is causing the gaps.  A "No data for this facet" might be more appropriate.

![image](https://user-images.githubusercontent.com/308639/142197522-5811aa59-8d8b-47ac-a263-2099b9c43c6b.png)

[2021-11-17 14:31] nkittur-uga commented on #689
Study: SCORE Seasonal Transmission S. haematobium Cluster Randomized Trial
variables: Latitude, Longitude are appropriately hidden now. QA is complete.

[2021-11-17 14:48] d-callan commented on #613
think for mbio has decided to offer only ranked abundances in the abundance app, rather than a user defined set of taxa. that i think moves this concern to a later phase, for the pass app and no longer specific to mbio. removing the mbio phase 1 milestone.

[2021-11-17 14:49] d-callan commented on #302
think this is no longer an mbio phase 1 concern.

[2021-11-17 15:17] nkittur-uga opened #727 "QA site: Variable search box not working properly in Visualize tab"
Study: GEMS1 Case Control
Visualize tab
Mosaic plot 2x2 tool
In the X axis variable selection box, I try to search for "rotavirus" but it does not work properly (see screenshot).
This is only an issue on https://qa.restricted.clinepidb.org/. Compare with the second screenshot where it is working properly on the beta site.
<img width="433" alt="Screen Shot 2021-11-17 at 10 03 54 AM" src="https://us

[2021-11-17 15:21] aaronwlsong commented on #591
The header has been changed as "Studies summaries", closing ticket.

![image](https://user-images.githubusercontent.com/61077845/142228586-a2543f83-578c-4d86-bf25-a006f6a805ea.png)

[2021-11-17 15:31] bobular commented on #676
Hi @danicahelb - this has both b55 and b56 labels!  DSR said it was not a showstopper that unintended "No data" overlays and facets might appear in certain edge-cases.  I will work on it next, but am concerned that a substantial change in the logical behaviour of visualisations might introduce further bugs this close to release.  Your thoughts?

[2021-11-17 15:33] sweverschulman commented on #713
birds eye plot is loaded within ms. ticketed passed qa

[2021-11-17 16:54] dmfalke opened #729 "Subsetting: Comment out tabular view button before build 55 release"
This button was made visible for early qa, but it isn't ready for public release.

[2021-11-17 17:05] asizemore opened #765 "Legend styling: Remove checkbox blue color"
With the goal of keeping as few colors on the page as possible, consider using only gray for the custom legend checkboxes. Two possibilities below:

<img width="481" alt="Screen Shot 2021-11-17 at 12 04 09 PM" src="https://user-images.githubusercontent.com/11710234/142247330-b36e5665-3c7b-477b-80d6-4e0ee6787d78.png">

My personal favorite is Proposal 1 because it's clear without competing with oth

[2021-11-17 17:06] nkittur-uga commented on #464
“No data” appears in italics and and below all other values in the legend. Passes QA.

[2021-11-17 17:28] nkittur-uga commented on #706
Tested in a number of different plots and they do provide empty plots for empty facets. Passes QA.

[2021-11-17 18:05] SheenaTomko commented on #650
looks good

[2021-11-17 18:09] dmfalke commented on #727
This is specific to mulifilter. In subsetting, we only show the parent node. In visualizations, we also how children. The search logic is currently operating at the multifilter parent level, which collects data from all of its children, and if any match the search term, then all children are displayed. Changing this logic for the viz tab is straightforward.

[2021-11-17 18:20] #727 closed

[2021-11-17 18:51] dmfalke opened #731 "Documentation: Add documentation for variable constraints"
The content is in a [google doc](https://docs.google.com/document/d/17kFDjNV7D0JrbZQz-leIKUJ2G9tiI_R382-hQOg-uGk/edit). The **TLDR** section should appear in the "Only show compatible variables" tooltip in the viz variable selector, with a link to the entire document.

This is a short-term solution until we decide where this type of documentation will live.

[2021-11-17 19:07] nkittur-uga commented on #708
Facets are produced even when a single country is chosen in GEMS1. QA is complete.

[2021-11-17 19:37] nkittur-uga commented on #705
Seems like a backend issue that cannot directly be QAed by clinepi outreach. Moving to complete.

[2021-11-17 20:08] nkittur-uga commented on #701
This is working well in mosaic rxc plot.

However, I am unable to QA this right now in mosaic 2x2 plots because of bugs. Both of these were in GEMS1. Faceting in 2x2 is not working for me. Also, if I toggle compatible variables=ON, the list also shows numeric vars which it should not.
<img width="816" alt="Screen Shot 2021-11-17 at 2 44 54 PM" src="https://user-images.githubusercontent.com/6771016

[2021-11-17 20:26] asizemore commented on #716
<img width="716" alt="Screen Shot 2021-11-17 at 2 24 46 PM" src="https://user-images.githubusercontent.com/11710234/142276873-60a7db31-b8a4-4bef-bb7e-581bc617ae83.png">

Something like the above where the gray goes along the bottom is an option if it's easy? @jtlong3rd I see you've already got a PR for this ticket so if this idea is too late don't worry at all!

[2021-11-17 20:38] #671 closed

[2021-11-17 21:07] sweverschulman commented on #678
the new custom legend markers and colors are present in both scatterplots and boxplots
<img width="778" alt="Screen Shot 2021-11-17 at 4 02 22 PM" src="https://user-images.githubusercontent.com/62298921/142282590-1f5c3092-4c97-4bc5-a77d-8dbb0bbb9b35.png">
<img width="879" alt="Screen Shot 2021-11-17 at 4 02 30 PM" src="https://user-images.githubusercontent.com/62298921/142282598-efc1a6ef-9cde-4d23

[2021-11-17 21:11] sweverschulman commented on #426
units are now displayed in the column header of data table in subsetting tab and passes qa.
<img width="284" alt="Screen Shot 2021-11-17 at 4 11 07 PM" src="https://user-images.githubusercontent.com/62298921/142283083-d2d8cb12-d0f7-406c-b3d3-901da91479fe.png">
b

[2021-11-17 21:22] moontrip commented on #339
@nkittur-uga Since all the new custom legends are now at the qa site (didn't test but I think so), can you please revisit this ticket and see if it can be moved to Complete rather than Failed QA ? Thanks!

[2021-11-17 21:29] nkittur-uga commented on #339
Tested and it works as expected! Moving to complete.

[2021-11-17 21:31] moontrip commented on #339
@nkittur-uga thank you for your quick tests and reviews! 👍

[2021-11-17 23:10] bobular commented on #724
:warning:

No need if we accept https://github.com/VEuPathDB/web-eda/pull/734 as a solution to https://github.com/VEuPathDB/web-components/issues/263

[2021-11-18 13:04] bobular opened #736 "Can't star certain variables in variable picker"
I think there was a resolved ticket on this subject recently but can't find it right now (possibly https://github.com/VEuPathDB/web-eda/issues/543), but it looks quite broken and https://github.com/VEuPathDB/web-eda/pull/735 is not fixing it either :-(

GEMS1
![image](https://user-images.githubusercontent.com/308639/142420017-8b6a9cf3-8ec5-4eef-829a-0f3ae5a92f1f.png)

[2021-11-18 13:56] bobular commented on #736
Dave commented on Slack

https://github.com/VEuPathDB/web-eda/issues/543#issuecomment-936606093

So this is a won't fix. Closing!

[2021-11-18 13:56] #736 closed

[2021-11-18 15:11] asizemore commented on #617
@danicahelb do we have a place we're keeping mockups? I wonder if something like this would be easy to implement + easy to read

<img width="738" alt="Screen Shot 2021-11-18 at 10 01 46 AM" src="https://user-images.githubusercontent.com/11710234/142441765-51b22fbf-6f94-4e21-b615-7a7bb470b8fd.png">

[2021-11-18 15:53] dmfalke commented on #715
I'm having more thoughts about this. I'm not sure it really makes sense to include ticks for values that have no data in this type of plot. It would either be pointing to an empty space (the edge of two adjacent bars); or we would have to add something, which, to me, indicates there is data. It just seems like it's adding noise.

[2021-11-18 16:09] sweverschulman commented on #671
tested.

[2021-11-18 16:20] sweverschulman commented on #727
qa passed. search is now working on qa.restricted

![Screen Shot 2021-11-18 at 11 18 45 AM](https://user-images.githubusercontent.com/62298921/142454170-f4b8f032-26f5-41f8-98c9-a81befc27d3a.png)

[2021-11-18 17:33] #715 closed

[2021-11-18 17:43] bobular commented on #715
There are definitely plans for better x-labels (L-shaped lines to connect labels with axis)
Possibly two tickets #458 #617 (they should probably be in web-components but hey)

[2021-11-18 19:21] bobular commented on #701
Thank you @nkittur-uga - I got slightly different error messages on my dev instance but there was definitely a bug which is now fixed.  I'd be grateful if you can test again when it is deployed.

[2021-11-18 21:47] jtlong3rd opened #739 "Thumbnail capture: instead of useUpdateThumbnailEffect, use react-plotly.js callbacks to drive the capture"
Currently, visualization thumbnail updates are handled by a [custom effect hook](https://github.com/VEuPathDB/web-eda/blob/96e292ad66bd0699d845d698757cd645ab7d7872/src/lib/core/hooks/thumbnails.ts#L8). This approach is error-prone, because:

1. If the effect's dependencies are incomplete, an expected thumbnail update might not be triggerred
2. As described in [this PR](https://github.com/VEuPathDB

[2021-11-19 03:38] #684 closed

[2021-11-19 11:09] nkittur-uga commented on #701
Re-tested and it works as expected in 2x2 table. Statistics are not calculated when the "include no data" option is selected  when facet variable is active and showMissingness==true. QA is complete.

[2021-11-19 14:51] SheenaTomko commented on #715
Tested on GEMS. See that if I subset on Age group then include it as the x-axis, the value with no data doesn't appear, and this holds true if I turn on facets. Looks good.

<img width="1049" alt="Screen Shot 2021-11-19 at 8 50 35 AM" src="https://user-images.githubusercontent.com/54597319/142642338-30e5a8c4-52be-48ae-ac8d-c9dececdcffa.png">

[2021-11-19 17:28] danicahelb commented on #656
I'm not able to star variables in the variable selector, even though the mouseover says I can

![image](https://user-images.githubusercontent.com/25450900/142665477-afae32f4-9ae3-427b-a4a5-7e9f8d874e69.png)

[2021-11-19 17:30] danicahelb commented on #656
it would be good if the columns were sortable (ie, click column header to sort ascending, click again to sort decending)

[2021-11-19 17:32] danicahelb commented on #656
when the user opens the variable selector, it would be good to have it expanded by default instead of just seeing this:

![image](https://user-images.githubusercontent.com/25450900/142665968-4f385540-5be6-40a5-b584-9dc925066bcd.png)

[2021-11-19 17:34] danicahelb commented on #656
Working with the ELICIT study, filtered Ward = Endamilay. when i clicked "select all", i got this error message

![image](https://user-images.githubusercontent.com/25450900/142666174-6f186e18-78c2-4f05-80f3-c573cf14ce33.png)

[2021-11-19 17:38] danicahelb commented on #656
working with GEMS1, filtered subset included cases, 0-11months of age. when I click "select all", columns are NOT added into my table but i didn't get an error message:

![image](https://user-images.githubusercontent.com/25450900/142666832-40a2a712-6f20-4563-98c7-f6cf7b154607.png)

[2021-11-19 17:45] danicahelb commented on #656
7. its not obvious that the variable selector is overlaying the table rather than truncating it. could we shift the variable selector a bit up and to the left so that we can see the table under and to the right of the selector?

![image](https://user-images.githubusercontent.com/25450900/142667855-24fcc660-eb78-4f34-8243-530d22352c83.png)

[2021-11-19 17:46] sweverschulman commented on #684
tooltips is displaying correct verbiage

![Screen Shot 2021-11-19 at 11 47 10 AM](https://user-images.githubusercontent.com/62298921/142660210-93a756b9-171f-4bef-b0e5-a27741953afa.png)

[2021-11-19 17:55] danicahelb commented on #656
8. it would be good to have the featured variables box above the variable selector. and i think we can remove the "select all | clear all | expand all | collapse all" footer to give more real estate to the variable tree

![image](https://user-images.githubusercontent.com/25450900/142668998-2b6a1466-69ce-45ce-a486-52a05107946a.png)

[2021-11-19 17:55] moontrip opened #741 "Visualization: a custom legend bug for Scatter faceted plot"
While thinking and checking of a potential scatter plot R-square table with a couple of example cases, I found that there was a bug for for some cases of faceted plots.

For an example like below with the plot options of Best fit with raw (or Smoothed mean with raw), the custom legend shows 5 Raw and 3 Best fit, however, it should show 5 Best fit legend items.

![scatter-facet-bug](https://user-im

[2021-11-19 18:01] danicahelb commented on #656
9. when a user is not logged on / does not have an access request approved, they cannot open the subsetting results table. Instead they see the popup instructing them to log in or request access. We had previously talked about enabling users to see 20 rows of data when they don't have access. We should discuss what functionality we'd like during an upcoming ux meeting

[2021-11-19 19:44] danicahelb commented on #261
Closing this ticket as all issues are now being tracked in https://github.com/VEuPathDB/web-eda/issues/656

[2021-11-19 19:44] #261 closed

[2021-11-19 19:45] danicahelb commented on #656
Hi Mike, can you please take a look at the 9 issues I identified above? Thanks!

[2021-11-19 21:07] #716 closed

[2021-11-19 21:07] #718 closed

[2021-11-19 21:43] #725 closed

[2021-11-19 22:21] bobular commented on #741
Hi @moontrip - I was going to say are you sure this is a bug?  Maybe the other best fit lines aren't shown because there isn't enough data to calculate them, but there is, and you mentioned that also in the PR (the back end response contains all five best fit line reponses).

Good catch!

[2021-11-19 22:31] moontrip commented on #741
@bobular yes initially I was suspected the case you mentioned, but for the example case, I could see that the backend response contained all five best fit data, distributed in countries though :)

[2021-11-19 23:20] #681 closed

[2021-11-20 00:09] #648 closed

[2021-11-20 00:29] #703 closed

[2021-11-20 01:05] bobular commented on #635
Closing manually.  All subtasks done :tada:

[2021-11-20 01:05] #635 closed

[2021-11-20 01:58] #741 closed

[2021-11-22 11:24] bobular opened #745 "Faceted plot panel doesn't occupy 100% width and have browser's horizontal scroll bar when deployed on QA"
Works fine in my dev instance, but not on QA.

I don't think screenshots are required ;-)

[2021-11-22 14:58] nkittur-uga commented on #725
Looks good :) Yellow placeholder is gone and layout looks good. Passes QA.

[2021-11-22 15:00] aaronwlsong commented on #718
Looks good now, closing ticket.

---Here is how I replicated this issue-----------
Step1, establish the facet viz.
Study: Amazonia_Brazil_cohort, viz: Histogram, Main=Observation date,  overlay=ITN last night, facet=settlement

![image](https://user-images.githubusercontent.com/61077845/142882301-d60f2b52-87f8-456b-ad96-8df248e4f31c.png)

Step2, click "Visualization"to go back the home page of viz

[2021-11-22 15:08] nkittur-uga commented on #703
Works as expected, legend is present in both mosaic plots. QA is complete.

[2021-11-22 15:28] aaronwlsong commented on #716
Looks good now on qc.website, even though it is neither semi-opaque white background as bobular said, nor the semi-opaque light grey as asizemore showed above. Now it is more like semi-opaque dark grey background with white words. If the semi-opaque white background is not required, I personally think the ticket can be closed, otherwise, it should be changed later.

![image](https://user-images.gi

[2021-11-22 16:15] chowington commented on #681
@SheenaTomko See https://github.com/VEuPathDB/web-components/pull/262 for more details for this ticket's requirements

[2021-11-22 16:18] #724 closed

[2021-11-22 17:50] danicahelb commented on #728
ClinEpi team will have all valueMap files fixed and relevant studies reloaded by b56 to fix this issue

[2021-11-22 18:36] sweverschulman commented on #741
The bug has been corrected and only showing either best fit or smooth mea
<img width="1096" alt="Screen Shot 2021-11-22 at 1 25 36 PM" src="https://user-images.githubusercontent.com/62298921/142916559-9e8cafdd-e9ee-4b15-a7c8-ed6764c57a9b.png">
n
<img width="1043" alt="Screen Shot 2021-11-22 at 1 25 56 PM" src="https://user-images.githubusercontent.com/62298921/142916566-95e9b33c-c798-47d5-b33c-b8e

[2021-11-22 19:16] SheenaTomko opened #747 "Bug in scatterplot faceting with data changing based on application of best fit or smoothed means"
I was trying to qc https://github.com/VEuPathDB/web-components/pull/262 and based my selections off one of Bob's examples.
In GEMS, I set study site to be Kenya, Mali, Mozambique, and the Gambia. In Scatterplot, I chose the following parameters:
<img width="1178" alt="Screen Shot 2021-11-22 at 1 11 44 PM" src="https://user-images.githubusercontent.com/54597319/142921492-33e76f28-7611-4fe7-a7a9-515

[2021-11-22 19:16] dmfalke commented on #745
The root cause of this has manifested as weird looking layouts if a visualization is loaded when the app first loads in a browser. The cause is multiple versions of material-ui's classname generator (used by `makeStyles`). This is causing classname conflicts since the two versions (ie, instances) have a unique id generator that both start at the same number.

[2021-11-22 19:22] SheenaTomko opened #764 "Faceting a histogram that shows proportion returns nonsensical plots"
In GEMS1 with Country subset to include only African countries (Kenya, Mali, Mozambique, the Gambia), created the following in a histogram. Returned plots with every bar going to 1
<img width="1161" alt="Screen Shot 2021-11-22 at 1 20 54 PM" src="https://user-images.githubusercontent.com/54597319/142922447-ec10b17a-0240-4f7e-96c3-3d366da1ab4f.png">

<img width="1200" alt="Screen Shot 2021-11-22 at

[2021-11-22 20:06] SheenaTomko commented on #681
Looked at faceting in all plot types (scatter, box, bar, histogram, 2x2, rxc), choosing variables to stratify (overlay and facet) by with some missing data, both due to subsetting and due to the data naturally being incomplete. Toggled on and off the no data toggle. Saw generally that if you subsetted based on a variable then used it as a facet, you would get an empty plot for the value(s) you rem

[2021-11-22 20:10] SheenaTomko commented on #635
Moving to complete. Steph is still qa'ing https://github.com/VEuPathDB/web-eda/issues/648, but that can be reopened or a new ticket made if needed

[2021-11-22 20:48] #745 closed

[2021-11-22 21:14] dmfalke commented on #747
This issue is caused by a limit that Chrome imposes on the number of webgl instances a browser instance can have. This is across all tabs and windows of the browser instance.

We are using the webgl implementation of scatter plot since it can handle a larger number of data points. We currently limit the number of data points to 100,000.

@moontrip has proposed using the non-webgl implementation wh

[2021-11-22 21:57] sweverschulman commented on #648
I have qa-ed the layout of faceted plots for barplots. Using the following criteria from the mock ups.
1. Limit by number of variable values in the whole dataset. Limit 7

<img width="366" alt="Screen Shot 2021-11-22 at 2 57 14 PM" src="https://user-images.githubusercontent.com/62298921/142940651-8134fe16-cd70-4f59-ac0a-fcfeba7dd760.png">

2. The faceted plots scroll

3.  There is no wrapping of f

[2021-11-22 22:08] sweverschulman opened #763 "Facets need to expand past only 7"
One of the main use cases for faceting is exploring variables over treatment allocations of a study. Therefore if there are more than 7 values for the treatment allocation, we will not be able to facet for this major use case.

[2021-11-23 04:00] #747 closed

[2021-11-23 13:13] moontrip commented on #747
Tested the qa.restricted just now, and it works fine for me. Thanks @dmfalke for updating the site fast! 👍

[2021-11-23 14:58] nkittur-uga commented on #745
Faceted plot panel now occupies 100% width and browser's horizontal scroll bar. Passes QA.

[2021-11-23 15:30] SheenaTomko commented on #747
Looks good

[2021-11-23 15:34] sweverschulman commented on #648
I have confirmed the same above functionality in the scatterplots.

[2021-11-23 15:42] SheenaTomko commented on #656
Reopening to make sure devs can find it

[2021-11-23 22:06] bobular opened #762 "Ensure search engine-crawlability of study details page (at least)"
Inspired by comments DSR made in a meeting just now.  Study details pages can be the only web presence for some datasets.

For the live site, I notice that text on the study pages (such as [this](https://clinepidb.org/ce/app/record/dataset/DS_55fd455f5e)) is indexed in Google.

The beta site isn't showing up yet.  That could be because it isn't linked from anywhere, because it hasn't been crawled

[2021-11-29 17:58] chowington commented on #723
@bobular On main the cont tables are arranged horizontally. Is that the final arrangement as opposed to the vertical arrangement shown here?

[2021-11-29 22:16] eikonomega commented on #656
@SheenaTomko @danicahelb I'll take a look at all the issues here. Thanks!

[2021-11-29 22:26] eikonomega commented on #656
Hey @danicahelb I think in the original plan - this was going to be a future addition to the core functionality and not intended for the initial release. I'm thinking we should make this a separate ticket to track from the bug fixes?

[2021-11-30 04:09] #729 closed

[2021-11-30 04:09] #731 closed

[2021-11-30 15:03] bobular commented on #723
Hi Connor, it's obviated now due to the horizontal layout, which to my eye doesn't need any urgent work either.

![image](https://user-images.githubusercontent.com/308639/144071932-f88c9c2a-05b4-4b6b-8908-83ff775a58d3.png)

[2021-11-30 15:03] #723 closed

[2021-11-30 15:40] bobular opened #761 "Numbers in table cells should be right aligned"
Something that has been bugging me...

For example in the Mosaic data tables

Currently
![image](https://user-images.githubusercontent.com/308639/144078629-5fbdf638-c642-4130-84a7-bd0504cf9952.png)

After my quick hack in dev tools
![image](https://user-images.githubusercontent.com/308639/144078393-6c89fc45-7e49-4d48-a442-8a3b6f1b9b26.png)

Right aligned numbers make more sense - they are easier t

[2021-11-30 18:19] SheenaTomko commented on #729
Button no longer appears on qa sites.

[2021-11-30 18:38] nkittur-uga commented on #731
Looks good. QA is complete.

[2021-12-01 16:29] asizemore commented on #609
After long slack threads, decided to first have a meeting where we revisit the vision for apps.

[2021-12-02 03:21] danicahelb opened #760 "Subsetting: remaining tasks in results data table modal"
it would be good if the columns were sortable (ie, click column header to sort ascending, click again to sort descending)

[2021-12-02 03:22] danicahelb commented on #656
@eikonomega yep, good idea. See https://github.com/VEuPathDB/EdaNewIssues/issues/97

[2021-12-02 03:27] danicahelb opened #759 "Visualizations: tiny bars don't have mouseover counts"
When I hover over bars with small heights, I do not get a mouseover with the exact count for that bar:

![image](https://user-images.githubusercontent.com/25450900/144352490-68e18e37-4c2b-4ddb-af0d-6a45cc962ff2.png)

For example, in GEMS1, I cannot mouseover to get the exact counts of "Other, specify"

[2021-12-02 03:32] danicahelb opened #758 "Add new Downloads Tab"
See mockups in Figma: https://www.figma.com/file/pTcKhGnfWpgckYkAk8lLWH/UX-Meeting-Presentation?node-id=227%3A1252

very old (& out of date) google slides mockups:
https://docs.google.com/presentation/d/1F4bb2P2vHQ-AOhAwQ4vm52_KQQHY1F5Zg_E9rrElEwk/edit#slide=id.gf9c8ddc3a5_0_60

[2021-12-02 03:35] danicahelb commented on #422
closing ticket

[2021-12-02 03:35] #422 closed

[2021-12-02 16:41] danicahelb commented on #365
I cannot reproduce, perhaps this has been fixed already? @d-callan can you take a look and let me know if we can close this ticket?

![image](https://user-images.githubusercontent.com/25450900/144464802-3efcf4dd-0c07-4315-b562-3fe6a490eaec.png)

[2021-12-02 16:47] danicahelb commented on #291
wait for UMSP or MALED to be loaded

[2021-12-04 04:29] danicahelb opened #757 "Mockups: variable collections"
Variable collections were discussed in the 12/3/2021 EDA UX meeting. See notes here: https://docs.google.com/document/d/1d9m6en4MagA9h0KIOI0_6Ekq7MVaq_-s5puNFm-oJBI/edit#heading=h.3xrvmfechrcu

Mockups are needed, especially around the following considerations:

- it seems difficult to clearly support both the case where the user wants to choose the whole collection and the case where the user che

[2021-12-06 23:38] bobular opened #752 "Visualizations: `VariableCoverageTable` can take a `filteredCounts` prop instead of `filters`"
At the moment (correct me if I'm wrong) the `VariableCoverageTable` component takes a `filters` prop and uses `useEntityCounts(filters)` to fetch the filtered counts.  We should be able to pass `filteredCounts` in directly from the calling viz components.  Should save some back end calls too.

[2021-12-06 23:50] bobular commented on #676
Just an update to say I am still working on this!  It's complicated but I am hopefully arriving at a parsimonious solution soon.

[2021-12-07 14:08] dmfalke opened #755 "Dev: Allow user login on local dev sites"
Local development sites do not currently support user login. This would be useful for developing various features.

[2021-12-07 15:54] bobular opened #886 "Visualisations: Faceted Scatterplot causes `users/.../analyses` saved analysis update to return a 500"
I'm guessing this is something to do with the size of the thumbnail data.

To reproduce (only reproducible on my dev instance, not through beta.clinepidb.org - possibly due to the involvement of the proxy, see below):

GEMS1
No subsetting
Scatterplot: weight vs mean height **best line fit with raw**
Facet on country (or even a binary variable) and you should get errors that include

[code]

You ca

[2021-12-07 16:15] #755 closed

[2021-12-07 21:16] SheenaTomko commented on #728
Checked all studies on beta site and found just 2 studies (SCORE S. mansoni CRT and SCORE Mozambique) that had 1 variable each ("Sex" in both) with a value of "No data". @nkittur-uga, can you update the valueMap for these studies to say something like "Not collected" or "Unknown" instead and have Jay patch them?

[2021-12-07 21:16] SheenaTomko commented on #728
Note, I also updated our valueMap SOP to state that we should not map values to "No data"

[2021-12-08 00:43] nkittur-uga commented on #768
@steve-fischer-200 and @danicahelb, Ann made study card mock-ups. @asizemore could you indicate the color scheme you used for the study card mock-ups you made? Thank you!

[2021-12-08 16:12] dmfalke commented on #755
Nothing to qa here

[2021-12-08 20:54] eikonomega commented on #657
@danicahelb All know tasks are finished! I'm ready to meet with whatever team would like to review this. Thanks!

[2021-12-08 21:40] asizemore commented on #768
Sure! I'm chatting with @eikonomega tomorrow and will double check on the colors with him and then post.

To better understand the goal of this ticket, is the idea to change the colors only or to also change formatting? I want to make sure i give you all the info you need!

[2021-12-08 21:55] nkittur-uga commented on #768
We won't change this formatting at this time. Thanks @asizemore !

[2021-12-09 15:14] #694 closed

[2021-12-09 17:24] bobular commented on #762
Public analysis descriptions should also be indexed

[2021-12-10 11:48] nkittur-uga commented on #768
I think the low-cost and easy changes (like in GEMS1 above) are great. The changes are doable and have a clean look that will be a significant improvement over what we have now. Thanks for your work, @eikonomega and @asizemore!!

[2021-12-10 12:23] bobular opened #772 "Visualizations: edge case skeleton spinner faceted/unfaceted layout issue"
To reproduce:
Any study.  Add one or more subsetting filters.
Make any visualization, add a facet variable.
Now note that any variable changes you make while faceting is active, the layout stays in faceting mode and the page update looks relatively smooth.

However, if you open the global filters popup and cancel a filter you made, you'll notice the layout switch back to unfaceted, before switchin

[2021-12-10 12:26] #676 closed

[2021-12-10 12:26] #752 closed

[2021-12-13 17:05] bobular opened #818 "Subsetting: tooltip for categorical table sorting says "Activate to sort the table by undefined in ascending order""
Also, the first time you hover it says "descending order" but when you click it is in ascending order.

Descending order as the default first click is presumably the intended functionality.

[2021-12-14 15:38] bobular opened #774 "Map visualization: implement very basic non-semantically zoomable entity count markers"
- [x] create `io-ts` rules/validators for `map-markers` pass-thru plugin
- [x] create a new `MapVisualization` (akin to `BarplotVisualization`) which calls the `map-markers` endpoint with some things semi-hardcoded (later they will become more user-configurable!)
      - outputEntity should be the root entity of the study
      - the lat and long variables should be OBI_0001620 and OBI_0001621 res

[2021-12-14 15:52] bobular opened #775 "Map visualization: Implement basic semantic zooming entity count markers"
Following from #774

- [x] based on the current* viewport bounds create an additional filter to add to the `map-markers` request - this will be something like latitude within lat_south, lat_north, and similar for longitude which has special handling of longitudes straddling the 180 degree line, so we should not need to do anything special on the client side.
- [x] from the current Leaflet zoom lev

[2021-12-14 16:41] bobular opened #776 "Map visualization: enable geolocation selection in `<InputVariables>`"
This follows #775

The map visualization should have a "Geolocation" axis variable picker.  This should allow the user to pick a geolocation (EUPATH_0043212) node in the variable tree if that node has lat, long, and geohash variables below it.  Note that those vars are always hidden.

This may require work upstream in the variable annotation department (and possibly introduce a new constraint), or

[2021-12-14 17:44] chowington opened #850 ""SwissArmyButton" component title mouseover popups block page even when not visible"
For instance, the grey box that says "View all your analyses of this study" covers the blue icon buttons underneath, not only when the box is visible, but when it's not, leading to the buttons being unusable. In this case it will only happen if the analysis name is long, but other places where these sorts of popup titles are used may suffer the same effect.

![image](https://user-images.githubuser

[2021-12-14 19:45] #653 closed

[2021-12-14 19:48] chowington commented on #653
The real problem here is that the frontend sends the bad request in the first place, so the solution is to prevent the user from attempting to rename the analysis a name that's too long for the backend. That has been accomplished with the linked PR.

[2021-12-14 23:14] bobular opened #779 "Map visualization: donut markers for optional categorical overlay variable"
Follows #775 and most likely #776 too.

This is where things get a bit different... (or we need to talk about how to make them more canonical)

We will eventually handle both continuous and categorical overlay variables with mini histograms (or perhaps something simpler) and mini donut markers respectively.

But for now, we will start with just categorical vars.

But what defines the variable cons